<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">${c.pkg.title or c.pkg.name} - Delete - Datasets</py:def>
  <py:def function="page_heading">Delete: ${c.pkg.title or c.pkg.name}</py:def>

  <py:def function="body_class">hide-sidebar</py:def>

  <div py:match="content" class="dataset-edit-form">
    <form id="package-delete" method="post"
          xmlns:i18n="http://genshi.edgewall.org/i18n"
          xmlns:py="http://genshi.edgewall.org/"
          xmlns:xi="http://www.w3.org/2001/XInclude">
      <p>Are you sure you want to delete this dataset?</p>
      <input id="delete-button" name="delete" type="submit" value="Ok" />
      <input id="cancel-button" name="cancel" type="submit" value="Cancel" />
    </form>
  </div>

  <xi:include href="layout.html" />
</html>

