{#
Displays a DGU-tailored map search widget, written after the ckanext-spatial search widget
#}
<section id="dataset-map" class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="icon-medium icon-globe"></i>
        {{ _('Filter by location') }}
        <a href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location']) }}" class="action">{{ _('Clear') }}</a>
    </h2>
    {% set map_config = h.get_common_map_config() %}
    <div class="dataset-map" data-module="spatial-query" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
        <div id="map"></div>
    </div>
</section>

<!-- scripts and styles for bbox selection map-->
{% resource 'ckanext-dgu/spatial_query' %}
<script>
    $(function() {
        CKAN.DguSpatialEditor.bindCoordinateInputs("#bbox_minx","#bbox_miny","#bbox_maxx","#bbox_maxy")
        CKAN.DguSpatialEditor.bindInput("#spatial")
    })
</script>

