<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.pkg.title or c.pkg.name} - Edit - Datasets</py:def>

  <py:def function="body_class">no-sidebar</py:def>
  <py:def function="content_class"><!--unboxed--></py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/scripts/vendor/jqueryui/1.8.14/css/jquery-ui.custom.css" />
    <script>
      var form_errors = ${c.errors_json};
      var publishers = ${c.publishers_json};
      var resources_json = ${h.literal(c.resources_json)};
    </script>
  </py:def>

  <div py:match="content" class="dataset-edit-form">
    <h1>Edit: ${c.pkg.title or c.pkg.name}</h1>
    <div class="boxed">
      <div id="minornavigation">
        <div id="minornavigation-bg-left">
        <div id="minornavigation-bg-right">
          <minornavigation></minornavigation>
        </div>
        </div>
      </div>
      ${c.form}
    </div>
  </div>

  <head py:match="head">
      ${select('*')}

      <script type="text/javascript">
        DGU_RESOURCE_FORMATS = ${h.get_resource_formats()};
      </script>
      <script type="text/javascript" src="/scripts/dgu-package-form.js"></script>
      <script type="text/javascript" src="${h.url_for('/scripts/vendor/jqueryui/1.8.14/jquery-ui.min.js')}"></script>
  </head>
  <xi:include href="layout.html" />
</html>

