{% extends "package/read_common.html" %}

{% block title %}History - {{c.pkg_dict.get('title', c.pkg_dict['name'])}}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('dgu_search', _('Datasets')) }}
  {{ h.build_nav('dataset_read', c.pkg_dict.get('title', c.pkg_dict['name']), id=c.pkg_dict['name']) }}
    <li><a href="{{h.url_for(controller='package',action='history',id=c.pkg_dict['name'])}}">History</a></li>
{% endblock %}


{% macro package_content() %}
    <hr/>
    <h2>History of Changes</h2>
    <form id="dataset-revisions" action="diff" method="post">
      {% if c.error %}
      <h3 class="form-errors">Error: {{c.error}}</h3>
      {% endif %}

      <input type="hidden" name="pkg_name" value="{{c.pkg_dict['name']}}"/>

      <!-- only display this additional compare button if there are lots of revisions -->
      {% if c.pkg_revisions|length > 5 %}
      <input type="submit" name="diff" value="{{_('Compare')}}" class="btn btn-primary" />
      {% endif %}

      <table class="history-table table table-striped table-bordered table-condensed">
        <tr>
          <th>Compare</th><th>Timestamp</th><th>Author</th><th>Description of Change</th>
        </tr>
        {% for rev in c.pkg_revisions %}
          <tr id="row_{{rev.id}}">
            <td nowrap="nowrap" class="compare">
              <input class="js-compare" type="checkbox" id="checkbox_{{rev.id}}" />
              <div style="display: none;">
                {{h.radio("selected1", rev.id, checked=(loop.index == 1))}}
                {{h.radio("selected2", rev.id, checked=(loop.index == c.pkg_revisions|length))}}
              </div>
            </td>
            <td>
            {% with %}
            {% set id = c.pkg_dict['name'] ~ '' ~ rev['timestamp'] %}
            <a href="{{h.url_for(controller='package', action='read', id=id)}}" title="{{_('Read dataset as of %s') % rev['timestamp']}}">{{h.render_datetime(rev['timestamp'], with_hours=True)}}</a></td>
            {% endwith %}
            <td>{{h.linked_user(rev['author'], maxlength=200)}}</td>
            <td>{{rev['message']}}</td>
          </tr>
          {% endfor %}
      </table>
      <input type="submit" name="diff" value="Compare" class="btn btn-primary" />
    </form>
{% endmacro %}

{% block optional_feed %}
  <link rel="alternate" type="application/atom+xml" title="Dataset History"
  href="{{h.url(controller='package', action='history', id=c.pkg_dict['name'], format='atom', days=7)}}" />
{% endblock %}

{% block optional_head %}
    <script src="/scripts/dgu-history.min.js"></script>
{% endblock %}
