<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">History - ${c.pkg_dict.get('title', c.pkg_dict['name'])}</py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="${h.url_for(controller='package',action='read',id=c.pkg_dict['name'])}">${c.pkg_dict.get('title', c.pkg_dict['name'])}</a></li>
    <li><a href="${h.url_for(controller='package',action='history',id=c.pkg_dict['name'])}">History</a></li>
  </py:match>


  <py:def function="package_content">
    <hr/>
    <h2>History of Changes</h2>
    <form id="dataset-revisions" action="diff" method="post"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      >

      <h3 py:if="c.error" class="form-errors">
        Error: ${c.error}
      </h3>

      <input type="hidden" name="pkg_name" value="${c.pkg_dict['name']}"/>

      <!-- only display this additional compare button if there are lots of revisions -->
      <input py:if="len(c.pkg_revisions) > 5" type="submit" name="diff" value="${_('Compare')}" class="btn btn-primary" />

      <table class="history-table table table-striped table-bordered table-condensed">
        <tr>
          <th>Compare</th><th>Timestamp</th><th>Author</th><th>Description of Change</th>
        </tr>
        <py:for each="index, rev in enumerate(c.pkg_revisions)">
          <tr id="row_${rev.id}">
            <td nowrap="nowrap" class="compare">
              <input class="js-compare" type="checkbox" id="checkbox_${rev.id}" />
              <div style="display: none;">
                ${h.radio("selected1", rev.id, checked=(index == 0))}
                ${h.radio("selected2", rev.id, checked=(index == len(c.pkg_revisions)-1))}
              </div>
            </td>
            <td>
              <a href="${h.url_for(controller='package',action='read',id='%s@%s' % (c.pkg_dict['name'], rev['timestamp']))}" title="${_('Read dataset as of %s') % rev['timestamp']}">${h.render_datetime(rev['timestamp'], with_hours=True)}</a></td>
            <td>${h.linked_user(rev['author'], maxlength=200)}</td>
            <td>${rev['message']}</td>
          </tr>
        </py:for>
      </table>
      <input type="submit" name="diff" value="Compare" class="btn btn-primary" />
    </form>
  </py:def>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="Dataset History"
    href="${h.url(controller='package', action='history', id=c.pkg_dict['name'], format='atom', days=7)}" />
  </py:def>

  <py:def function="package_optional_head">
    <script src="/scripts/dgu-history.min.js"></script>
  </py:def>

  <xi:include href="read_common.html" />
</html>
