<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="optional_head">
    <script type="text/javascript">
      var form_errors = ${c.errors_json};
      var publishers = ${c.publishers_json};
      var resources_json = ${h.literal(c.resources_json)};
      window.DGU_RESOURCE_FORMATS = ${h.get_resource_formats()};
    </script>
    <script type="text/javascript" src="/scripts/dgu-package-form.min.js"></script>
  </py:def>

  <py:def function="page_title">Add a Dataset</py:def>
  <py:def function="page_heading">Add a Dataset</py:def>

  <div py:match="content" class="dataset-create-form">
    <h3 py:if="c.error" class="form-errors">
      Error: ${c.error}
    </h3>
    <div class="boxed">
      ${h.literal(c.form)}
    </div>
  </div>

<xi:include href="layout.html" />

</html>

