<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />
  <xi:include href="../inventory/inventory_util.html" />
  <xi:include href="field_helpers.html" />

  <py:def function="resource_table(resources)">
  <table class="table table-bordered resource-table">
    <py:for each="res in resources">
    <!--tr class="${'last-child' if res==resources[-1] else ''}"-->
    <tr>
      <td class="resource-format">
        <py:if test="res.get('gemini',False)">
          ${format_box(res.get('type',''))}
        </py:if>
        <py:if test="not res.get('gemini',False)">
          ${format_box(res.get('format',''))}
        </py:if>
      </td>
      <td class="resource-text">
        <py:if test="res.get('scraped') or res.get('scraper_url')">
          ${h.scraper_icon(res, alt=if_(res.get('scraper_url'), "This URL leads to data files which are being added automatically, using the scraper at: https://scraperwiki.com/scrapers/%s" % res.get('scraper_url'), ""))}
        </py:if>
        ${res.get('date')}
        ${h.resource_display_name(res)}
      </td>
      <td class="resource-buttons">
        <py:if test="res.get('gemini',False)">
          <a href="${res.get('url', '')}" class="btn btn-primary" rel="dcat: distribution" target="_blank" onclick="${h.ga_download_tracking(res)}">
            ${res['action']}
          </a>
        </py:if>
        <py:if test="not res.get('gemini',False)">
          <ul py:def="resource_dropdown_menu" class="dropdown-menu">
            <li>
              <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">
                <i class="icon-search"></i>&nbsp; ${'Preview' if h.predict_if_resource_will_preview(res) else 'Details'}
              </a>
            </li>
            <li>
              <a href="${res.get('url', '')}" onclick="${h.ga_download_tracking(res)}">
                <i class="icon-download-alt"></i>&nbsp;
                <py:if test="h.dataset_type(c.pkg_extras)!='uklp'">Download</py:if>
                <py:if test="h.dataset_type(c.pkg_extras)=='uklp'">Direct Link</py:if>
              </a>
            </li>
            <li>
              <py:if test="h.get_cache_url(res)">
                <a href="${h.get_cache_url(res)}" class="js-tooltip" title="Cached by data.gov.uk on: ${h.render_datestamp(res.get('cache_last_updated')) or 'unknown date'}" onclick="${h.ga_download_tracking(res, 'download-cache')}">
                  <i class="icon-save"></i>&nbsp;
                  Cached
                </a>
              </py:if>
              <py:if test="not h.get_cache_url(res)">
                <a class="disabled">
                  <i class="icon-save"></i>&nbsp;
                  (no cache available)
                </a>
              </py:if>
            </li>
          </ul>
          <span class="visible-xs btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            ${resource_dropdown_menu()}
          </span><!--/btn-group-->
          <span class="btn-group hidden-xs">
            <a class="btn" href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">
              <i class="icon-search"></i>&nbsp; ${'Preview' if h.predict_if_resource_will_preview(res) else 'Details'}
            </a>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            ${resource_dropdown_menu()}
          </span><!--/btn-group-->
        </py:if>
      </td>
    </tr>
    </py:for>
  </table>
  </py:def>


  <div id="dataset"><!--! id=dataset for ckanext-spatial -->

    <!-- Overview Section -->
    <div id="dataset-overview">
      <div py:if="h.is_unpublished_item(c.pkg_dict)" class="alert alert-info">
        This is a record for data which is not published.
      </div>

      <!-- Description -->
      <div py:if="c.pkg_notes_formatted.strip()">
        <!--! Optional logo -->
        <div py:if="h.dataset_type(c.pkg_extras) == 'ons' and dict(c.pkg_extras).get('national_statistic', '').lower() == 'yes'">
          <a href="http://www.statistics.gov.uk/hub/what-are-national-statistics-/index.html">
            <img class="dataset-logo" src="/images/national_statistics.gif" />
          </a>
        </div>
        <div py:if="h.dataset_type(c.pkg_extras) == 'uklp'">
          <a href="/location">
            <img class="dataset-logo" src="/images/uk_location.gif" />
          </a>
        </div>

        <!-- blank style tag avoids a bug in jquery.dotdotdot -->
        <div class="notes clearfix" style="">
          ${c.pkg_notes_formatted}
          <a href="#" class="notes-read-more">Read More &raquo;</a>
        </div>
      </div>

      <div py:if="h.is_unpublished_item(c.pkg_dict)">
        <h3 id="release-notes">Release notes</h3>
        <div class="notes clearfix" style="">
          ${c.pkg.extras.get('release-notes', '').strip() or '(None supplied)'}
        </div>
        <div py:if="h.is_unpublished_item(c.pkg_dict) and c.pkg.extras.get('publish-date') and not c.pkg.extras.get('publish-restricted', False)">
            <h3>Publish date</h3>
          <div class="notes clearfix">${h.render_db_date(c.pkg.extras.get('publish-date'))}</div>
        </div>
      </div>

    <py:if test="not h.is_unpublished_item(c.pkg_dict)">
      <div>
        <h3>Licence</h3>
        ${list_licenses(c.pkg)}
      </div>


      <!-- Resources -->
      <div id="dataset-resources" class="resources subsection">
        <py:if test="h.individual_resources() or not h.timeseries_resources()">
          <h3>Data Resources <span class="badge badge-inverse resources-badge">${len(h.individual_resources())}</span></h3>
          <py:if test="not h.has_group_ons_resources()">
            ${resource_table(h.individual_resources())}
          </py:if>
          <py:if test="h.has_group_ons_resources() and c.all_resources">
            ${ons_grouped_table(h.get_ons_releases())}
          </py:if>
          <py:if test="h.has_group_ons_resources() and not c.all_resources">
            ${ons_grouped_table(h.get_limited_ons_releases(), 10)}
          </py:if>
        </py:if>
        <py:if test="h.timeseries_resources()">
          <h3>Data Resources (<span class="badge badge-inverse resources-badge">${len(h.timeseries_resources())}</span> in a time series)</h3>
          ${resource_table(h.timeseries_resources())}
        </py:if>

        <div class="dataset-map" >
          <div class="dataset-map-info">
            ${map_preview_buttons(c.pkg.id, c.pkg_dict, inline=False)} <!--! Supply both since there is no ID in pkg_dict! -->
              <py:if test="h.has_bounding_box(c.pkg_extras)">
              <table class="table-lat-long">
                <thead><tr><th colspan="2">Dataset Extent:</th></tr></thead>
                <tbody>
                <tr>
                  <td class="extent-label"><div>Latitude:</div></td>
                  <td class="extent-value">${dict(c.pkg_extras).get('bbox-north-lat')[:7]}&deg; to ${dict(c.pkg_extras).get('bbox-south-lat')[:7]}&deg;</td>
                </tr>
                <tr>
                  <td class="extent-label"><div>Longitude:</div></td>
                  <td class="extent-value">${dict(c.pkg_extras).get('bbox-west-long')[:7]}&deg; to ${dict(c.pkg_extras).get('bbox-east-long')[:7]}&deg;</td>
                </tr>
            </tbody>
            </table>
            </py:if>

            <py:if test="h.get_extent()">
              <div id="dataset-map-attribution"></div>
            </py:if>
          </div>
          <!-- Dataset Extent Map (only if present) -->
          <py:if test="h.get_extent()">
            <div id="dataset-map-container"></div>
          </py:if>
          <div class="clearfix"></div>
        </div>

        <py:if test="h.additional_resources() or h.gemini_resources()">
          <h3>Additional Links <span class="badge badge-inverse resources-badge">${len(h.additional_resources()) + len(h.gemini_resources())}</span></h3>
          ${resource_table(h.additional_resources() + h.gemini_resources())}
        </py:if>

        <py:if test="not (h.dataset_type(c.pkg_extras) == 'uklp' or h.individual_resources() or h.timeseries_resources() or h.additional_resources())">
          <em>(none)</em>
        </py:if>
      </div>
      </py:if>


    </div>

    <!-- Dataset Information Section -->
    <py:if test="not h.is_unpublished_item(c.pkg_dict)">
      <h3>Additional Information</h3>
      <div id="dataset-information">
      <table class="table table-bordered table-striped table-condensed table-dgu-fixed-size metadata-table">
        <tbody>
          <tr>
            <td class="dataset-label">Openness score</td>
            <td class="dataset-details">
              ${h.render_dataset_stars(c.pkg.id)}
            </td>
          </tr>
          <tr py:for="field_dict, label_attributes, value_attributes in h.get_package_fields(c.pkg, dict(c.pkg_extras),h.dataset_type(c.pkg_extras))">
            <td class="dataset-label" py:attrs="label_attributes">${field_dict.get('label') or field_dict['name']}</td>
            <td class="dataset-details" py:attrs="value_attributes">${field_dict.get('value') or 'No value'}</td>
          </tr>
        </tbody>
      </table>

      </div>
    </py:if>


      <!--! We may want to move this back into the bit that stops it being shown for unpublished datasets
      -->
      <div id="developer-tools">
          <h3>Developer Tools</h3>
          <div>
              <p>
                  The information on this page (the dataset metadata) is also
                  available in JSON format:
                  <code class="one-line-link">
                    <a href="${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}">
                      ${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}
                    </a>
                  </code>
              </p>
              <p>
                  Read more about this site's CKAN API: <a
                    href="${h.url_for(controller='ckanext.dgu.controllers.data:DataController', action='api')}">About the API</a>
              </p>
              <p>
                  This dataset has a permanent URI:
                  <code class="one-line-link">
                    <a href="${h.url_for(controller='package', action='read', id=c.pkg.name)}">
                       ${h.url_for(controller='package', action='read', id=c.pkg.name, qualified=True)}
                    </a>
                  </code>
              </p>
          </div>
      </div>

  </div> <!-- /dataset -->

    ${dataset_feedback(c.pkg_dict)}

</html>
