<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset"><!--! id=dataset for ckanext-spatial -->
    <!-- Overview Section -->
    <div id="dataset-overview">

      <!-- Description -->
      <div py:if="str(c.pkg_notes_formatted).strip()">
        <h3>Description</h3>
        <!--! Optional logo -->
        <div py:if="dataset_type == 'ons' and pkg_extras.get('national_statistic', '').lower() == 'yes'">
          <a href="http://www.statistics.gov.uk/hub/what-are-national-statistics-/index.html">
            <img class="dataset-logo" src="/images/national_statistics.gif" />
          </a>
        </div>
        <div py:if="dataset_type == 'uklp'">
          <a href="/location">
            <img class="dataset-logo" src="/images/uk_location.gif" />
          </a>
        </div>
        <div class="notes">
          ${c.pkg_notes_formatted}
        </div>
      </div>

      <!-- Resources -->
      <div id="dataset-resources" class="resources subsection">
        <py:if test="individual_resources or not timeseries_resources">
          <h3>Data Resources (${len(individual_resources)})</h3>
          <ul class="resource-list">
            <py:for each="res in individual_resources">
            <li>
              <span class="resource resource-title" href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">
                ${h.icon('page_white')}
                <span class="trimmed-text">
<?python
import ckanext.dgu.lib.helpers as dgu_helpers
?>
                  ${dgu_helpers.resource_display_name(res)}
                </span>
                <span py:if="res.get('format')" class="format-box" property="dc:format">${res.get('format')}</span>
              </span>
              <div class="resource-buttons">
                <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="href-action btn btn-small btn-black-text">Details</a>
                <a href="${res.get('url', '')}" class="href-action btn btn-small btn-primary">
                  <py:if test="dataset_type!='uklp'">Download</py:if>
                  <py:if test="dataset_type=='uklp'">Link</py:if>
                </a>
              </div>
              </li>
            </py:for>
          </ul>
        </py:if>
        <py:if test="timeseries_resources">
          <h3>Data Resources (${len(timeseries_resources)} in a time series)</h3>
          <ul class="resource-list">
            <py:for each="res in timeseries_resources">
            <li>
              <a class="resource resource-title" href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">
                ${h.icon('page_white')}
                <span class="trimmed-text">
                  ${res.get('date')}
                  ${h.resource_display_name(res)}
                </span>
                <span py:if="res.get('format')" class="format-box" property="dc:format">${res.get('format')}</span>
              </a>
              <div class="resource-buttons">
                <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="href-action btn btn-small btn-black-text">Details</a>
                <a href="${res.get('url', '')}" class="href-action btn btn-small btn-primary">Download</a>
              </div>
              </li>
            </py:for>
          </ul>
        </py:if>
 
        ${map_preview_buttons(c.pkg.id, c.pkg_dict)} <!--! Supply both since there is no ID in pkg_dict! -->

        <py:if test="additional_resources or gemini_resources"> 
          <h3>Additional Links (${len(additional_resources) + len(gemini_resources)})</h3>
          <ul class="resource-list">
            <py:for each="res in additional_resources">
            <li>
              <a class="resource resource-title" href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}">
                ${h.icon('page_white')}
                <span class="trimmed-text">
                  ${res.get('date')}
                  ${h.resource_display_name(res)}
                </span>
                <span py:if="res.get('format')" class="format-box" property="dc:format">${res.get('format')}</span>
              </a>
              <div class="resource-buttons">
                <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="href-action btn btn-small btn-black-text">Details</a>
                <a href="${res.get('url', '')}" class="href-action btn btn-small btn-primary">Download</a>
              </div>
              </li>
            </py:for>
          </ul>
          <ul class="resource-list" py:if="gemini_resources">
            <li py:for="gemini_resource in gemini_resources">
              <span class="resource">
                  ${h.icon('page_white')}
                  ${gemini_resource['title']}
                  <span class="format-box" property="dc:format">${gemini_resource['type']}</span>
              </span>
              <div class="resource-buttons">
                    <a href="${gemini_resource['url']}" class="href-action btn btn-small btn-primary" rel="dcat: distribution" target="_blank">${gemini_resource['action']}</a>
              </div>
            </li>
          </ul>
         </py:if>

        <py:if test="not (dataset_type == 'uklp' or individual_resources or timeseries_resources or additional_resources)">
          <em>(none)</em>
        </py:if>
      </div>

    </div>

    <!-- Dataset Information Section -->
    <h3>Additional Information</h3>
    <div id="dataset-information">
    <table class="table table-bordered table-striped table-condensed table-dgu-fixed-size">
      <tbody>
        <tr py:for="field_dict, label_attributes, value_attributes in fields">
          <td class="dataset-label" py:attrs="label_attributes">${field_dict.get('label') or field_dict['name']}</td>
          <td class="dataset-details" py:attrs="value_attributes">${field_dict.get('value') or 'No value'}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-striped table-condensed table-dgu-fixed-size">
      <tbody>
        <tr py:if="c.pkg.url">
          <td class="dataset-label">Source</td>
          <td class="dataset-details" property="foaf:homepage">${c.pkg_url_link}</td>
        </tr>

        <tr py:if="c.pkg_author_link">
          <td class="dataset-label">Author</td>
          <td class="dataset-details" property="dc:creator">${c.pkg_author_link}</td>
        </tr>

        <tr py:if="c.pkg_maintainer_link">
          <td class="dataset-label">Maintainer</td>
          <td class="dataset-details" property="dc:contributor">${c.pkg_maintainer_link}</td>
        </tr>

        <tr py:if="c.pkg.version">
          <td class="dataset-label">Version</td>
          <td class="dataset-details">${c.pkg.version}</td>
        </tr>

        <tr py:if="c.eu_country">
          <td class="dataset-label">Country</td>
          <td class="dataset-details"><!--{h.code_to_country(c.eu_country)}--></td>
        </tr>

        <tr py:if="h.check_access('package_update',{'id':c.pkg.id})">
          <td class="dataset-label">State</td>
          <td class="dataset-details">${c.pkg.state}</td>
        </tr>

        <tr py:if="c.harvest_catalogue_name">
          <td class="dataset-label">Harvest Source</td>
          <td class="dataset-details">
            <a href="${c.harvest_dataset_url}">Dataset page</a> on 
            <a href="${c.harvest_catalogue_url}">${c.harvest_catalogue_name}</a>
          </td>
        </tr>

        <tr py:for="i, (key, value) in enumerate(c.pkg_extras)"
          rel="dc:relation" resource="_:extra${i}">
          <td class="dataset-label" property="rdfs:label">${_(key)}</td>
          <td class="dataset-details" property="rdf:value">${value}</td>
        </tr>
      </tbody>
    </table>

    </div>

    <div id="developer-tools">
        <h3>Developer Tools</h3>
        <div>
            <p>
                The information on this page (the dataset metadata) is also
                available in JSON format:
                <code class="one-line-link">
                  <a href="${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}">
                    ${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}
                  </a>
                </code>
            </p>
            <p>
                Read more about this site's CKAN API: <a
                  href="${h.url_for(controller='ckanext.dgu.controllers.data:DataController', action='api')}">About the API</a>
            </p>
            <p>
                This dataset has a permanent URI:
                <code class="one-line-link">
                  <a href="${h.url_for(controller='package', action='read', id=c.pkg.name)}">
                      ${g.site_url}${h.url_for(controller='package', action='read', id=c.pkg.name)}
                  </a>
                </code>
            </p>
        </div>
    </div>

  </div> <!-- /dataset -->

</html>
