<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />
  <xi:include href="field_helpers.html" />

  <py:def function="resource_table(resources)">
  <div class="resource-table">
    <table class="table table-condensed">
      <py:for each="res in resources">
      <!--tr class="${'last-child' if res==resources[-1] else ''}"-->
      <tr>
        <td class="resource-td-format">
          <py:if test="res.get('gemini',False)">
            ${format_box(res.get('type',''))}
          </py:if>
          <py:if test="not res.get('gemini',False)">
            ${format_box(res.get('format',''))}
          </py:if>
        </td>
        <td class="resource-td-title">
          <!-- Attached to resources which were scraped -->
          <py:if test="res.get('scraped')">${h.scraper_icon(res)}</py:if>
          <!-- Attached to Additional Links which are scrape sources -->
          <py:if test="res.get('scraper_url')">
            ${h.scraper_icon(res, alt="This URL leads to data files which are being added automatically, using the scraper at: https://scraperwiki.com/scrapers/%s" % res.get('scraper_url'))}
          </py:if>
          <!-- Attached to timeseries resources and additional resources -->
          <div class="hover-text">
            ${res.get('date')}
            ${h.resource_display_name(res)}
          </div>
          <div class="text-overlay">
            <py:if test="res.get('gemini',False)">
              <a href="${res.get('url', '')}" class="btn btn-primary" rel="dcat: distribution" target="_blank" onclick="${h.ga_download_tracking(res)}">
                ${res['action']}
              </a>
            </py:if>
            <py:if test="not res.get('gemini',False)">
              <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="btn">${'Preview' if h.predict_if_resource_will_preview(res) else 'Details'}</a>
              <div class="btn-group">
                <a href="${res.get('url', '')}" class="btn btn-primary" onclick="${h.ga_download_tracking(res)}">
                  <py:if test="h.dataset_type(c.pkg_extras)!='uklp'">Download</py:if>
                  <py:if test="h.dataset_type(c.pkg_extras)=='uklp'">Direct Link</py:if>
                </a>
                <button class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown"
                  py:attrs="{'disabled':'disabled'} if not h.get_cache_url(res) else {}">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="${res.get('url', '')}" onclick="${h.ga_download_tracking(res)}">
                      <py:if test="h.dataset_type(c.pkg_extras)!='uklp'">Download</py:if>
                      <py:if test="h.dataset_type(c.pkg_extras)=='uklp'">Direct Link</py:if>
                    </a>
                  </li>
                  <li>
                    <py:if test="h.get_cache_url(res)">
                      <a href="${h.get_cache_url(res)}" class="js-tooltip" title="Cached by data.gov.uk on: ${h.render_datestamp(res.get('cache_last_updated')) or 'unknown date'}" onclick="${h.ga_download_tracking(res, 'download-cache')}">
                        Cached
                      </a>
                    </py:if>
                    <py:if test="not h.get_cache_url(res)">
                      <a class="disabled">(no cache available)</a>
                    </py:if>
                  </li>
                </ul>
              </div><!--/btn-group-->
            </py:if>
            <div class="clearfix"></div>
          </div>
        </td>
      </tr>
      </py:for>
    </table>
  </div>
  </py:def>

  <div id="dataset"><!--! id=dataset for ckanext-spatial -->

    <!-- Overview Section -->
    <div id="dataset-overview">

      <!-- Description -->
      <div py:if="str(c.pkg_notes_formatted).strip()">
        <!--! Optional logo -->
        <div py:if="h.dataset_type(c.pkg_extras) == 'ons' and dict(c.pkg_extras).get('national_statistic', '').lower() == 'yes'">
          <a href="http://www.statistics.gov.uk/hub/what-are-national-statistics-/index.html">
            <img class="dataset-logo" src="/images/national_statistics.gif" />
          </a>
        </div>
        <div py:if="h.dataset_type(c.pkg_extras) == 'uklp'">
          <a href="/location">
            <img class="dataset-logo" src="/images/uk_location.gif" />
          </a>
        </div>
        <div class="notes clearfix">
          ${c.pkg_notes_formatted}
        </div>
      </div>

      <div>
        <h3>Licence</h3>
        ${list_licenses(c.pkg)}
      </div>

      <!-- Resources -->
      <div id="dataset-resources" class="resources subsection">
        <py:if test="h.individual_resources() or not h.timeseries_resources()">
          <h3>Data Resources <span class="badge badge-inverse resources-badge">${len(h.individual_resources())}</span></h3>
          ${resource_table(h.individual_resources())}
        </py:if>
        <py:if test="h.timeseries_resources()">
          <h3>Data Resources (<span class="badge badge-inverse resources-badge">${len(h.timeseries_resources())}</span> in a time series)</h3>
          ${resource_table(h.timeseries_resources())}
        </py:if>

        <div class="dataset-map" >
          <div class="dataset-map-info">
            ${map_preview_buttons(c.pkg.id, c.pkg_dict, inline=False)} <!--! Supply both since there is no ID in pkg_dict! -->
              <py:if test="h.has_bounding_box(c.pkg_extras)">
              <table class="table-lat-long">
                <thead><tr><th colspan="2">Dataset Extent:</th></tr></thead>
                <tbody>
                <tr>
                  <td class="extent-label"><div>Latitude:</div></td>
                  <td class="extent-value">${dict(c.pkg_extras).get('bbox-north-lat')[:7]}&deg; to ${dict(c.pkg_extras).get('bbox-south-lat')[:7]}&deg;</td>
                </tr>
                <tr>
                  <td class="extent-label"><div>Longitude:</div></td>
                  <td class="extent-value">${dict(c.pkg_extras).get('bbox-west-long')[:7]}&deg; to ${dict(c.pkg_extras).get('bbox-east-long')[:7]}&deg;</td>
                </tr>
            </tbody>
            </table>
            </py:if>

            <py:if test="h.get_extent()">
              <div id="dataset-map-attribution"></div>
            </py:if>
          </div>
          <!-- Dataset Extent Map (only if present) -->
          <py:if test="h.get_extent()">
            <div id="dataset-map-container"></div>
          </py:if>
          <div class="clearfix"></div>
        </div>

        <py:if test="h.additional_resources() or h.gemini_resources()">
          <h3>Additional Links <span class="badge badge-inverse resources-badge">${len(h.additional_resources()) + len(h.gemini_resources())}</span></h3>
          ${resource_table(h.additional_resources() + h.gemini_resources())}
        </py:if>

        <py:if test="not (h.dataset_type(c.pkg_extras) == 'uklp' or h.individual_resources() or h.timeseries_resources() or h.additional_resources())">
          <em>(none)</em>
        </py:if>
      </div>

    </div>


    <!-- Dataset Information Section -->
    <h3>Additional Information</h3>
    <div id="dataset-information">
    <table class="table table-bordered table-striped table-condensed table-dgu-fixed-size metadata-table">
      <tbody>
        <tr>
          <td class="dataset-label">Openness score:</td>
          <td class="dataset-details">
            ${h.render_dataset_stars(c.pkg.id)}
          </td>
        </tr>
        <tr py:for="field_dict, label_attributes, value_attributes in h.get_package_fields(c.pkg, dict(c.pkg_extras),h.dataset_type(c.pkg_extras))">
          <td class="dataset-label" py:attrs="label_attributes">${field_dict.get('label') or field_dict['name']}</td>
          <td class="dataset-details" py:attrs="value_attributes">${field_dict.get('value') or 'No value'}</td>
        </tr>
      </tbody>
    </table>

    </div>

    <div id="developer-tools">
        <h3>Developer Tools</h3>
        <div>
            <p>
                The information on this page (the dataset metadata) is also
                available in JSON format:
                <code class="one-line-link">
                  <a href="${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}">
                    ${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}
                  </a>
                </code>
            </p>
            <p>
                Read more about this site's CKAN API: <a
                  href="${h.url_for(controller='ckanext.dgu.controllers.data:DataController', action='api')}">About the API</a>
            </p>
            <p>
                This dataset has a permanent URI:
                <code class="one-line-link">
                  <a href="${h.url_for(controller='package', action='read', id=c.pkg.name)}">
                      ${g.site_url}${h.url_for(controller='package', action='read', id=c.pkg.name)}
                  </a>
                </code>
            </p>
        </div>
    </div>

  </div> <!-- /dataset -->

</html>
