<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  typeof="dcat:Dataset"
  about=""
  py:strip="">

  <py:def function="page_title">${c.pkg_dict.get('title', c.pkg_dict['name'])}
  - Datasets</py:def>

  <py:def function="content_class"><!--unboxed--></py:def>

  <xi:include href="sidebar.html"/>

  <div py:match="content">
    <h1>${c.pkg_dict.get('title', c.pkg_dict['name'])}</h1>

    <div py:if="c.pkg_dict.get('state') == 'deleted'" class="state-box boxed">
      <p>NB: This ${resource_type} is <strong>${'withdrawn' if dataset_type == 'uklp' else 'deleted'}</strong>. Only administrators can view it in this state.</p>
    </div>

    <py:if test="c.pkg_revision_id">
      <div id="revision" class="alert alert-info" py:if="c.pkg_revision_not_latest">
        This is an old revision of this dataset, as edited at ${h.render_datetime(c.pkg_revision_timestamp)}. It may differ significantly from the <a href="${h.url(controller='package', action='read', id=c.pkg.name)}">current revision</a>.
      </div>
      <div id="revision" class="alert alert-success" py:if="not c.pkg_revision_not_latest">
        This is the current revision of this dataset, as edited at ${h.render_datetime(c.pkg_revision_timestamp)}.
      </div>
    </py:if>

    <div class="boxed">
      <div id="minornavigation">
        <div id="minornavigation-bg-left">
        <div id="minornavigation-bg-right">
          <minornavigation></minornavigation>
        </div>
        </div>
      </div>

      <xi:include href="read_core.html" />
    </div>

    <div id="comments-container">
      <!-- TODO do not use id=comments! It's a duplicate id with Drupal's content. -->
      <div style="height: 50px;" class="comments-spinner"></div>
    </div>
  </div>


  <py:def function="optional_head">

    <link rel="alternate" type="application/rdf+xml" href="${h.url_for(controller='package', action='read', id=c.pkg.name, format='rdf',qualified=True)}"/>

    <script src="/scripts/spin.min.js"></script>
    <script src="/scripts/dgu-basket.js?1"></script>
    <script type="text/javascript" src="${h.url_for_static('/scripts/dgu-package.js')}"></script>
    <script type="text/javascript">
      var DATASET_ID = '${c.pkg_dict.get('id')}';
    </script>
    <py:if test="c.dataset_extent">
      <script src="http://osinspiremappingprod.ordnancesurvey.co.uk/libraries/openlayers-openlayers-56e25fc/OpenLayers.js" type="text/javascript"></script>
      <script type="text/javascript" src="${h.url_for_static('/scripts/dgu-dataset-map.js')}"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            CKAN.DguDatasetMap.tiles_url = "${c.tiles_url_ckan}";
            CKAN.DguDatasetMap.map_type = 'os';
            CKAN.DguDatasetMap.extent = '${c.dataset_extent}';
            CKAN.DguDatasetMap.setup();
        })
      </script>

    </py:if>


  </py:def>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="Dataset History"
    href="${h.url(controller='package', action='history', id=c.pkg.name, format='atom', days=7)}" />
  </py:def>

  <xi:include href="layout.html" />
</html>

