{% extends "package/read_common_jinja.html" %}

{% import "inventory/inventory_util_jinja.html" as inventory_m with context %}
{% import "_dgu_jinja_util.html" as m with context %}

{% block optional_head %}
    <link rel="alternate" type="application/rdf+xml" href="{{h.url_for(controller='package', action='read', id=c.pkg.name, format='rdf')}}"/>
    <script type="text/javascript" src="{{h.url_for_static('/scripts/dgu-package.min.js')}}"></script>
    <script type="text/javascript">
      window.DATASET_ID = "{{c.pkg_dict.get('id')}}";
    </script>

    {% if h.has_extent(c.pkg) and not h.is_unpublished_item(c.pkg_dict) %}
      <script src="//osinspiremappingprod.ordnancesurvey.co.uk/libraries/openlayers-openlayers-56e25fc/OpenLayers.js" type="text/javascript"></script>
      <script type="text/javascript" src="{{h.url_for_static('/scripts/dgu-dataset-map.min.js')}}"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          CKAN.DguDatasetMap.tiles_url = "{{h.get_tiles_url()}}";
          CKAN.DguDatasetMap.map_type = 'os';
          CKAN.DguDatasetMap.extent = '{{h.get_extent(c.pkg)|safe}}';
          CKAN.DguDatasetMap.setup();
        })
      </script>
      <style type="text/css">
        #dataset-map-container img { max-width: inherit; }
      </style>
      {% endif %}

    {{ super() }}
{% endblock %}


{% block title %}{{c.pkg_dict.get('title', c.pkg_dict['name'])}} - Datasets{% endblock %}


{% block breadcrumb_content %}
  {{ h.build_nav('dgu_search', _('Datasets')) }}
  {{ h.build_nav('dataset_read', c.pkg_dict.get('title', c.pkg_dict['name']), id=c.pkg_dict['name']) }}
{% endblock %}

