<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  typeof="dcat:Dataset"
  about=""
  py:strip="">

  <py:def function="page_title">${c.pkg_dict.get('title', c.pkg_dict['name'])} - Datasets</py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="${h.url_for(controller='package',action='read',id=c.pkg_dict['name'])}">${c.pkg_dict.get('title', c.pkg_dict['name'])}</a></li>
  <li><a href="${h.url_for(controller='related',action='read',id=c.pkg_dict['name'])}">Apps</a></li>

  </py:match>

  <py:def function="package_content">




    <h2>Dataset Feedback</h2>
    <div class="dataset-feedback-container">
      ${feedback_summary(c.pkg_dict,render_title=False,large=True)}
      <a class="view-feedback-link" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=c.pkg.name)}">View all feedback &raquo;</a>
    </div>


    <div id="comments-container">
      <!-- TODO do not use id=comments! It's a duplicate id with Drupal's content. -->
      <div style="height: 50px;" class="comments-spinner"></div>
    </div>
  </py:def>

  <xi:include href="read_common.html" />
</html>

