<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />
  <xi:include href="field_helpers.html" />

    <py:def function="resource_table(resources)">
    <py:for each="res in resources">
    <div class="resource-row">
      <div class="text-overlay">
        <py:if test="res.get('gemini',False)">
          <a href="${res.get('url', '')}" class="btn btn-primary" rel="dcat: distribution" target="_blank" onclick="${h.ga_download_tracking(res)}">
            ${res['action']}
          </a>
        </py:if>
        <py:if test="not res.get('gemini',False)">
          <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="btn">${'Preview' if h.predict_if_resource_will_preview(res) else 'Details'}</a>
          <div class="btn-group">
            <a href="${res.get('url', '')}" class="btn btn-primary" onclick="${h.ga_download_tracking(res)}">
              <py:if test="h.dataset_type(c.pkg_extras)!='uklp'">Download</py:if>
              <py:if test="h.dataset_type(c.pkg_extras)=='uklp'">Direct Link</py:if>
            </a>
            <button class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
              py:attrs="{'disabled':'disabled'} if not h.get_cache_url(res) else {}">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="${res.get('url', '')}" onclick="${h.ga_download_tracking(res)}">
                  <py:if test="h.dataset_type(c.pkg_extras)!='uklp'">Download</py:if>
                  <py:if test="h.dataset_type(c.pkg_extras)=='uklp'">Direct Link</py:if>
                </a>
              </li>
              <li>
                <py:if test="h.get_cache_url(res)">
                  <a href="${h.get_cache_url(res)}" class="js-tooltip" title="Cached by data.gov.uk on: ${h.render_datestamp(res.get('cache_last_updated')) or 'unknown date'}" onclick="${h.ga_download_tracking(res, 'download-cache')}">
                    Cached
                  </a>
                </py:if>
                <py:if test="not h.get_cache_url(res)">
                  <a class="disabled">(no cache available)</a>
                </py:if>
              </li>
            </ul>
          </div><!--/btn-group-->
        </py:if>
        <div class="clearfix"></div>
      </div>
      <div class="resource-row-format">
        <py:if test="res.get('gemini',False)">
          ${format_box(res.get('type',''))}
        </py:if>
        <py:if test="not res.get('gemini',False)">
          ${format_box(res.get('format',''))}
        </py:if>
      </div>
      <div class="resource-row-text">
        <!-- Attached to timeseries resources and additional resources -->
        <div class="hover-text">
          <!-- Attached to Additional Links which are scrape sources -->
          <py:if test="res.get('scraped') or res.get('scraper_url')">
            ${h.scraper_icon(res, alt=if_(res.get('scraper_url'), "This URL leads to data files which are being added automatically, using the scraper at: https://scraperwiki.com/scrapers/%s" % res.get('scraper_url'), ""))}
          </py:if>
          ${res.get('date')}
          ${h.resource_display_name(res)}
        </div>
      </div>
              <div class="clearfix"></div>
    </div>
    </py:for>
  </py:def>

  <div id="dataset"><!--! id=dataset for ckanext-spatial -->

    <!-- Overview Section -->
    <div id="dataset-overview">

      
      <div py:if="str(c.pkg_notes_formatted).strip()">
        <div py:if="h.dataset_type(c.pkg_extras) == 'ons' and dict(c.pkg_extras).get('national_statistic', '').lower() == 'yes'">
          <a href="http://www.statistics.gov.uk/hub/what-are-national-statistics-/index.html">
            <img class="dataset-logo" src="/images/national_statistics.gif" />
          </a>
        </div>
        <div class="notes clearfix" style="">
          ${c.pkg_notes_formatted}
          <a href="#" class="notes-read-more">Read More &raquo;</a>
        </div>
      </div>

      <div>
        <h3>Licence</h3>
        ${list_licenses(c.pkg)}
      </div>

      <!-- Resources -->
      <div id="dataset-resources" class="resources subsection">
          <h3>Data Resources for this release <span class="badge badge-inverse resources-badge">${len(c.pkg_dict['resources'])}</span></h3>
            ${resource_table(c.pkg_dict['resources'])}
      </div>
    </div>



    <div id="developer-tools">
        <h3>Developer Tools</h3>
        <div>
            <p>
                The information on this page (the dataset metadata) is also
                available in JSON format:
                <code class="one-line-link">
                  <a href="${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}">
                    ${h.url_for(controller='api', register='package', action='show', id=c.pkg.name, ver='2')}
                  </a>
                </code>
            </p>
            <p>
                Read more about this site's CKAN API: <a
                  href="${h.url_for(controller='ckanext.dgu.controllers.data:DataController', action='api')}">About the API</a>
            </p>
            <p>
                This dataset has a permanent URI:
                <code class="one-line-link">
                  <a href="${h.url_for(controller='package', action='read', id=c.pkg.name)}">
                      ${g.site_url}${h.url_for(controller='package', action='read', id=c.pkg.name)}
                  </a>
                </code>
            </p>
        </div>
    </div>

  </div> <!-- /dataset -->

</html>
