{% ckan_extends %}

{% import "_dgu_jinja_util.html" as m with context %}

{% block title %}Datasets{% endblock %}


{% block breadcrumb_content %}
{{ h.build_nav('dgu_search', _('Datasets')) }}
{% endblock %}

{% block secondary_content %}
<div class="spatial_query_padder"></div>
<div class="sidebar-search">
    {{ m.search_form(mini=true) }}
</div>

<div id="shopping-basket-container" class="facet-box-unboxed">
    <a id="shopping-basket-reset" href="#" class="facet-kill pull-right">
        <i class="icon-large icon-remove-sign"></i>
    </a>
    <h4 class="facet-title">Map Preview List</h4>
    <div class="facet-options" id="shopping-basket"></div>
    <a href="/data/map-preview?" id="shopping-basket-submit" class="btn btn-info btn-basket"><span><i class="icon-map-marker"></i>&nbsp; Preview</span></a>
</div>

{# Facet filters #}
<div class="datasets">
  <div class="facet-filters">
    <div class="visible-xs visible-sm">
      <a href="#" class="hide-facets">
        <i class="icon-remove-circle icon-4x"></i>
      </a>
    </div>

    {# override spatial_query to exclude map attribution
    {% snippet "spatial/snippets/spatial_query.html", default_extent="[[50.3, 3.3], [51.0, 6.0]]", abstract_only = true %}
    #}
    <div class="facet-box-unboxed">
    <section id="dataset-map" class="module module-narrow module-shallow">
      <h4 class="module-heading">
        {{ _('Filter by location') }}
      </h4>
      <div class="dataset-map dataset-map-facet" data-module="spatial-query" data-default_extent="{{ default_extent }}">
        {% set has_bbox = 'ext_bbox' in request.params and request.params['ext_bbox'] != '' %}
        <div class="{% if has_bbox %}facet-option facet-option-selected{% endif %}">
          <div id="dataset-map-container"></div>
          <div style="position: relative" id="gazetteer">
            <input class="form-control" placeholder="Search for location"  type="text" style="width: 100%; display: inline"/>
          </div>
          {% if has_bbox %}
          <div class="facet-kill pull-right">
              <a href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location']) }}" class="action" style="text-decoration: none">
                  <i class="icon-large icon-remove-sign"></i>
              </a>
          </div>
          <span data-placement="right">
            {% set coords = h.extract_bbox_from_param(request.params['ext_bbox']) %}
            {% if coords %}
              [{{coords[0]|round(2)}}, {{coords[1]|round(2)}}] [{{coords[2]|round(2)}}, {{coords[3]|round(2)}}]
            {% else %}
              error
            {% endif %}
          </span>
          {% endif %}
        </div>
      </div>
    </section>
    </div>
    {# spatial_query_dgu contains JS and CSS for OL3 and related stuff. It is DGU's version of ckanext-spatial/spatial_query_abstract #}
    {% resource 'ckanext-dgu/spatial_query_dgu' %}
    <div class="facet-divider"></div>

    {{m.facet_filters()}}

  </div><!-- /facet-filters -->
</div>

{% endblock %}

{% block primary_content %}
<div class="spatial_query_padder"></div>
<section class="module">
    <div class="module-content">
        <a href="#" class="visible-sm visible-xs btn btn-primary btn-sm show-facets">Show Search Facets &raquo;</a>
        {% block form %}
        <form class="form-inline pull-right" id="search-sort-by" action="#search-sort-by">
            {% macro sort_option(text, value, selected, disabled=False) %}
            <option value="{{value}}" {% if selected %} selected="selected"{% endif %}{% if disabled %} disabled="disabled"{% endif %}>{{text}}</option>
            {% endmacro %}
            <label>Sort by:</label>
            <select name="sort" class="form-control" style="display:inline-block;">
                <!-- Can optimise this bit of the template, particularly results_sort_by -->
                {{sort_option('Relevance', 'rank desc', 'rank' in h.results_sort_by(), h.relevancy_disabled())}}
                {{sort_option('Popularity', 'popularity desc', 'popularity' in h.results_sort_by())}}
                {{sort_option('Title', 'title_string asc', 'title_string' in h.results_sort_by())}}
                {{sort_option('Last Updated', 'metadata_modified desc', 'metadata_modified' in h.results_sort_by())}}
                {{sort_option('Location', 'spatial desc', 'spatial' in h.results_sort_by(), h.sort_by_location_disabled())}}
            </select>
            <button type="submit" class="btn btn-default js-hide">Go</button>
            {% if request.params.get('ext_bbox', '') %}
              <input type="hidden" id="ext_bbox" name="ext_bbox" value="{{request.params.get('ext_bbox', '')}}" />
            {% endif %}
            {% if request.params.get('q', '') %}
              <input type="hidden" name="q" value="{{request.params.get('q', '')}}" />
            {% endif %}
            {% if c.fields %}
              {% for k,v in c.fields %}
                <input type="hidden" name="{{k}}" value="{{v}}"/>
              {% endfor %}
            {% endif %}

            <a class="feed-icon" href="{{ h.url(controller='feed', action='custom') }}?{{ c.search_url_params }}">
                <i class="icon-rss-sign"></i>
            </a>
        </form>
        {% endblock %}

        {% if not c.query_error %}
        <h1>{{c.page.item_count if c.page not in (None, '') else c.package_count or 0}} Results</h1>
        {% else %}
        <h1>Search Error</h1>
        {% endif %}

        {% block package_search_results_list %}
        {{ m.package_list_from_dict(c.page.items) }}
        {% endblock %}
    </div>

    {% block page_pagination %}
    {{m.paginator(c.page)}}
    {% endblock %}
</section>
{% endblock %}
