<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <table class="search-area">
    <tr>
      <td class="left" py:if="not c.query_error">
        <div class="result-count">${c.page.item_count if c.page else c.package_count or 0}</div>
        <py:if test="request.params">      
          <div class="result-count-footer">Results</div>
        </py:if>
        <py:if test="not request.params">      
          <div class="result-count-footer">Datasets</div>
        </py:if>
      </td>
      <td class="left" py:if="c.query_error">
        <div class="result-count-footer">Search Error</div>
      </td>
      <td class="right">
        <form id="dataset-search" class="form-search dataset-search" action="${h.url_for(controller='package', action='search')}" method="GET">
          <input type="text" class="input-medium" name="q" value="${c.q}" autocomplete="off" results="0" placeholder="${_('Search...')}" />
          <input type="submit" value="${_('Search')}" class="btn btn-datagov button" />
          <span py:if="c.fields">
          <py:for each="(k, v) in c.fields"> 
            <input type="hidden" name="${k}" value="${v}" />  
          </py:for>
          </span>
<?python
bbox = request.params.get('ext_bbox','')
?>
          <py:if test="bbox">
            <input type="hidden" id="ext_bbox" name="ext_bbox" value="${bbox}" />
          </py:if>
          <div id="dataset-search-ext"></div>
        </form>
        <div class="search-facets">
          <div class="rss-link">
          </div>
          <span py:if="c.fields">Your search:</span>
          <py:for each="(field, value) in c.fields">
            <a class="facet" href="${c.remove_field(field, value)}">
              <span class="name">${h.facet_title(field)}</span>:
              <span class="value">${value}</span>
              <span class="x">x</span>
            </a>
          </py:for>
          <py:if test="bbox">
            <a class="facet" href="${c.remove_field('ext_bbox', bbox)}">
              <span class="name">${h.facet_title('Location')}</span>:
              <span class="value">${bbox}</span>
              <span class="x">x</span>
            </a>
          </py:if>
        </div>
      </td>
    </tr>
  </table>

</html>
