<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >


<py:match path="primarysidebar">
  ${basket()}

<div class="boxed">
  <div class="widget-container">
    <h4>Publisher</h4>
    Published by:
    <ul>
      <li py:for="group in sorted(c.pkg.get_groups(), key=lambda g: g.display_name)">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=group.name)}">${group.display_name}</a>
      </li>
      <li py:if="dict(c.pkg_extras).get('provider')">
        Provider: ${dict(c.pkg_extras).get('provider')}
      </li>
      <li py:if="h.dataset_type(c.pkg_extras) == 'uklp' and dict(c.pkg_extras).get('responsible-party')">
        Responsible Party: ${dict(c.pkg_extras).get('responsible-party')}
      </li>
    </ul>
    Enquiries:
    <ul>
        ${h.get_contact_name(c.pkg, dict(c.pkg_extras))}
        ${contact_details(*h.get_contact_details(c.pkg, dict(c.pkg_extras)))}
    </ul>
    <py:if test="h.have_foi_contact_details(c.pkg, dict(c.pkg_extras))">
      FOI Contact:
      <ul>
          ${h.get_foi_contact_name(c.pkg, dict(c.pkg_extras))}
          ${contact_details(*h.get_foi_contact_details(c.pkg, dict(c.pkg_extras)))}
      </ul>
    </py:if>
  </div>

  <div py:if="h.check_access('package_delete', {'id':c.pkg.id}) and h.is_package_deleted(c.pkg)" class="widget-container">
    <py:if test="h.dataset_type(c.pkg_extras) != 'uklp'">
      <h4>Deletion</h4>
      <a class="btn" href="${h.url_for(controller='ckanext.dgu.controllers.package:PackageController', action='delete', id=c.pkg.name)}">Delete this dataset</a>
    </py:if>
    <py:if test="h.dataset_type(c.pkg_extras) == 'uklp'">
      <h4>Withdrawal</h4>
      <a class="btn" href="${h.url_for(controller='ckanext.dgu.controllers.package:PackageController', action='delete', id=c.pkg.name)}">Withdraw this dataset</a>
    </py:if>
  </div>

  <div py:if="c.pkg_dict['tags']" class="widget-container">
    <h4>Tags</h4>
    ${tag_list_from_dicts(c.pkg_dict['tags'])}
  </div>

  <div py:if="h.dataset_type(c.pkg_extras) == 'uklp' and dict(c.pkg_extras).get('resource-type') in ('dataset', 'series', 'service')" class="widget-container">
    <h4>Coupled ${'Datasets' if dict(c.pkg_extras).get('resource-type') == 'service' else 'Services'}</h4>
    <ul py:if="h.coupled_pkg_tuples(c.pkg)">
      <li py:for="name, title in h.coupled_pkg_tuples(c.pkg)">
        <a href="/dataset/${name}">${title}</a>
      </li>
    </ul>
    <span py:if="not h.coupled_pkg_tuples(c.pkg)">(none)</span>
  </div>

  <div class="widget-container">
    <h4>About This Dataset</h4>
    <ul py:with="metadata=h.get_package_mini_metadata(c.pkg)">
      <li><strong>Added: </strong>${metadata['date-added-computed']}</li>
      <li><strong>Modified: </strong>${metadata['date-updated-computed']}</li>
      <li><a href="${h.url_for(controller='package', action='history', id=c.pkg.name)}">View history of changes</a></li>
      <li><a href="/dataset/${c.pkg_dict.get('name')}#developer-tools">JSON, API and URI for developers</a></li>
    </ul>
  </div>

  <div class="widget-container">
    <h4>Do more with this data</h4>
    <ul>
      <li><a href="/node/add/apps?dataset=${c.pkg_dict.get('name')}">Share your app</a><br/></li>
      <li><a href="/node/add/ideas?dataset=${c.pkg_dict.get('name')}">Share an idea</a><br/></li>
      <li><a href="/node/add/data-request?dataset=${c.pkg_dict.get('name')}">Request new data</a></li>
    </ul>
  </div>

  <div id="social_media" class="widget-container">
    <!--! Uses ckanext-social extension -->
    ${h.social_sharethis()}
  </div>
  
</div>
</py:match>
</html>
