<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >


<py:match path="primarysidebar">
<?python
if c.pkg.license and c.pkg.license.url:
  license_url = c.pkg.license.url
else:
  license_url = None

licenses = [] # (title, isopen)
if c.pkg.license:
  licenses.append((c.pkg.license.title.split('::')[-1], c.pkg.isopen()))
licence_extra = (c.pkg.extras.get('licence') or '').strip('"[]')
if licence_extra:
  licenses.append((licence_extra, True if 'OGL' in licence_extra else None))
access_constraints = (c.pkg.extras.get('access_constraints') or '').strip('"[]')
if access_constraints:
  licenses.append((access_constraints, True if 'OGL' in licence_extra else None))
?>
  <div py:if="license_url or licenses or access_constraints" id="dataset-license" class="widget-container">
    <h4>Licence</h4>
    <div property="dc:rights">
     <ul>
      <py:choose test="">
        <py:when test="license_url and licenses">
          <li py:for="license, isopen in licenses">
            <a href="${license_url}" rel="dc:rights">${license}</a>
            <py:if test="isopen">
              <a href="http://opendefinition.org/okd/" title="This dataset satisfies the Open Definition.">
                <img class="open-data" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
              </a> 
            </py:if>
            <py:if test="isopen == False">
              <span class="closed">${h.icon('lock')}</span>
            </py:if>
          </li>
        </py:when>
        <py:when test="licenses">
          <li py:for="license, isopen in licenses">
            ${license}
            <py:if test="isopen">
              <a href="http://opendefinition.org/okd/" title="This dataset satisfies the Open Definition.">
                <img class="open-data" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
              </a> 
            </py:if>
            <py:if test="isopen == False">
              <span class="closed" py:if="not c.pkg.isopen()">${h.icon('lock')}</span>
            </py:if>
          </li>
        </py:when>
        <py:when test="c.pkg.license_id">
          <li>${c.pkg.license_id}</li>
        </py:when>
        <py:otherwise>
          <li>No licence specified</li>
        </py:otherwise>
      </py:choose>
     </ul>
    </div>
  </div>

  <li class="widget-container">
    <h4>Contact</h4>
    Enquiries:
    <ul>
      <li py:if="dataset_type=='uklp'">Email: 
        <?python
           email = pkg_extras.get('contact-email')
        ?>
        <py:if test="email"><a href="mailto:${email}">${email}</a></py:if>
        <py:if test="not email">None supplied</py:if>
      </li>
      <py:if test="dataset_type=='form'">
        <?python
          if pkg_extras.get('contact-name') or pkg_extras.get('contact-email') or pkg_extras.get('contact-phone'):
            name = pkg_extras.get('contact-name')
            email = pkg_extras.get('contact-email')
            phone = pkg_extras.get('contact-phone')
          else:
            publishers = c.pkg.get_groups('publisher')
            if publishers:
              name = publishers[0].extras.get('contact-name')
              email = publishers[0].extras.get('contact-email')
              phone = publishers[0].extras.get('contact-phone')
            else:
              name = email = phone = None
        ?>
        ${name}
        ${contact_details(name, email, phone, None, None)}
      </py:if>
    </ul>
  </li>

  <?python
    from ckan import model
  ?>

  <li py:if="h.check_access('package_delete', {'id':c.pkg.id}) and c.pkg.state != model.State.DELETED" class="widget-container">
    <h4>Deletion</h4>
    <ul><li><a href="${h.url_for(controller='ckanext.dgu.controllers.package_gov3:PackageGov3Controller', action='delete', id=c.pkg.name)}">Delete this dataset</a></li></ul>
  </li>

  <li py:if="c.pkg_dict['tags']" class="widget-container">
    <h4>Tags</h4>
    ${tag_list_from_dicts(c.pkg_dict['tags'])}
  </li>

  <li id="social_media" class="widget-container">
    <h4>Social</h4>
    <p>Tell the world about this dataset!</p>
    <?python
      import urllib
      import urlparse
      def external_link(domain, path, params):
        encoded_params = dict((k,unicode.encode(unicode(v), 'utf-8')) for k,v in params.items())
        return urlparse.urlunparse(('http', domain, path, '', urllib.urlencode(encoded_params), ''))
    ?>
    <a href="${external_link('twitter.com', '/home/', {'status': g.site_url + h.url_for(controller='package', action='read', id=c.pkg_dict.get('name')) + ' -- ' + c.pkg_dict.get('title','')})}" rel="nofollow" title="Share this on Twitter" id="service-links-twitter" class="service-links-twitter">
      <img src="/images/service_links/twitter.png" alt="Twitter" width="20" height="20"/>
    </a>

    <a href="${external_link('www.facebook.com', '/sharer.php', {'u': g.site_url + h.url_for(controller='package', action='read', id=c.pkg_dict.get('name')), 't': c.pkg_dict.get('title', '')})}" rel="nofollow" title="Share on Facebook" id="service-links-facebook" class="service-links-facebook">
      <img src="/images/service_links/facebook.png" alt="Facebook" width="20" height="20"/>
    </a>

    <a href="${external_link('www.google.com', '/buzz/post', {'url': g.site_url + h.url_for(controller='package', action='read', id=c.pkg_dict.get('name'))})}" rel="nofollow" title="Buzz this post on Google." id="service-links-google-buzz" class="service-links-google-buzz">
      <img src="/images/service_links/google_buzz.png" alt="Google Buzz" width="23" height="20"/>
    </a>


    <a href="${external_link('www.linkedin.com', '/shareArticle', {'mini': 'true', 'url': g.site_url + h.url_for(controller='package', action='read', id=c.pkg_dict.get('name')), 'title': c.pkg_dict.get('title', ''), 'summary': '', 'source': 'data.gov.uk'})}" rel="nofollow" title="Publish this post to LinkedIn" id="service-links-linkedin" class="service-links-linkedin">
      <img src="/images/service_links/linkedin.png" alt="LinkedIn" width="20" height="20"/>
    </a>
  </li>

  <li class="widget-container">
    <h4>Do more with this data</h4>
    <ul>
      <li><a href="/node/add/apps?dataset=${c.pkg_dict.get('name')}">Share your app</a><br/></li>
      <li><a href="/node/add/ideas?dataset=${c.pkg_dict.get('name')}">Share an idea</a><br/></li>
      <li><a href="/data/requests?dataset=${c.pkg_dict.get('name')}">Request new data</a></li>
      <li><a href="/dataset/${c.pkg_dict.get('name')}#developer-tools">Developer tools</a></li>
    </ul>
  </li>

  <li py:if="c.pkg.get_groups('publisher')" class="widget-container">
    <h4>Publisher</h4>
    <ul class="groups" style="list-style: none; margin-left: 0;">
      <li py:for="group in sorted(c.pkg.get_groups(), key=lambda g: g.display_name)">
          <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=group.name)}">${group.display_name}</a>
      </li>
      <li py:if="pkg_extras.get('provider')">
        Provider: ${pkg_extras.get('provider')}
      </li>
      <li py:if="dataset_type == 'uklp' and pkg_extras.get('responsible-party')">
        Responsible Party: ${pkg_extras.get('responsible-party')}
      </li>
    </ul>
  </li>


</py:match>
</html>
