head {
  display: none;
}
body {
  font-family: Arial, sans-serif;
  font-size: 0.813em;
  line-height: 1.188em;
  background: url("/images/body_bg_big.png");
  margin: 0;
  padding: 0;
  display: block;
}
div#content, div#footer-inner, div#secondary, #login, #header .inner {
  padding: 0 30px;
}
div#main {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  overflow: hidden;
}
div#page {
  width: 72.8em;
  text-align: left;
  background: white;
  margin: 0 auto 50px auto;
  -moz-box-shadow: 0 5px 24px #888;
  -webkit-box-shadow: 0 5px 24px #888;
  box-shadow: 0 5px 24px #888;
}
div#login {
  background-color: black;
  padding-top: 11px;
  padding-bottom: 11px;
  color: white;
  text-align: right;
  overflow: hidden;
}
div#login a {
  color: white;
  font-weight: bold;
}
ul#accesslinks {
  font-size: 1.1667em;
  position: absolute;
  top: -200px;
  z-index: 20;
  left: 0;
  border: 1px solid blue;
  background-color: red;
}
p, ol, ul, dl, dd {
  margin-bottom: 1em;
}
ul {
  margin-left: 3px;
}
a:link, a:visited, a:active, a:hover {
  color: #1F328C;
  text-decoration: none;
}

div.view-id-display-id-promotions-block_2 div.promo_featured_view_row img.icon, div.view-id-display-id-promo_blocks-block_2 div.promo_featured_view_row img.icon, img#icon_page-title, #rss-footer img, .sprite {
  background-image: url(/images/sprites.gif);
}

form {
  margin: 0;
  padding: 0;
}
#sidebar-right a.apachesolr-showhide, div.node-type-publisher ul.links a, ul.forum-links li.topic_reply a, .container-inline .form-submit {
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: white;
  background: #598200;
  padding: 4px 5px;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
div#search input.form-text, #content-area #search-form input.form-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #777;
  background: #EBEBEB url("/images/input_bg.png") left top no-repeat;
  border: 1px solid #A2A2A2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  width: 200px;
}
input[type="text"], input[type="password"], textarea {
  background: white;
  border: 1px solid #A2A2A2;
  padding: 5px;
}
html.js input.form-autocomplete {
  background-position: 100% 7px;
}

#header #login #logo_hm-government {
  width: 145px;
  height: 17px;
  background-position: -131px 0;
  float: left;
  margin-left: 2px;
}
#header .search {
  float: right;
  margin-top: 18px;
}
#header .inner {
  padding-top: 27px;
  padding-bottom: 14px;
}
.form-item, .form-checkboxes, .form-radios {
  margin: 1em 0;
}
.container-inline div, .container-inline label {
  display: inline;
}
#navigation_primary {
  padding-left: 30px;
  height: 37px;
  margin: 0;
  border-top: 1px solid #A3C24B;
  color: white;
  background: url("/images/gradient_nav.png") 0 0 repeat-x;
}
#navigation_primary li {
  float: left;
  padding: 0;
  border-right: 1px solid #B1CB68;
  margin: 0;
  list-style: none;
}
#navigation_primary li.first {
  border-left: 1px solid #A3C24B;
}
body.sidebar-right #content {
  width: 550px;
  padding-right: 30px;
  float: left;
}
body #content {
  width: 573px;
  padding-right: 20px;
}
body.hide-sidebar #content {
  width: 857px;
}
body.front div#content, body.front div#sidebar-right, body.page-apps div#content, body.page-apps div#sidebar-right, body.page-data div#content, body.page-data div#sidebar-right, body.page-ideas div#content, body.page-ideas div#sidebar-right {
  margin-bottom: 0;
}
div#content {
#  padding-top: 20px;
  overflow: hidden;
}
#navigation_primary li a {
  font-size: 1.231em;
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.719em 20px;
}
#navigation_primary li a:hover, #navigation_primary li a:focus, #navigation_primary li a:active, #navigation_primary li a.active, #navigation_primary li.active-trail a {
  color: white;
  text-decoration: none;
  background: url("/images/gradient_nav_item.png") 0 0 repeat-x;
}
h2, h3, h4, h5, h6 {
  font-weight: normal;
  clear: both;
  color: white;
}
ul.links {
  margin: 1em 0;
  padding: 0;
}
#secondary li {
  padding: 0 10px 0 0;
  border-right: 1px solid lightGrey;
  margin: 0 10px 0 0;
}
#secondary li.last {
border: none;
}
ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
div#secondary {
  font-size: 0.923em;
}
.clear-block {
  display: block;
}
.clear-block::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
body.page-data #sidebar-right, body.page-apps #sidebar-right, body.page-ideas #sidebar-right {
  width: 200px;
}
div#sidebar-right, div#content-right {
  float: left;
  width: 299px;
}
#block-block-30 h2, #block-block-33 h2, #block-block-34 h2, #block-block-30 h4, #block-block-33 h4, #block-block-34 h4 {
  font-size: 0.923em;
  line-height: 1.385em;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  background-color: #3B393F;
  padding: 8px 10px 5px 10px;
  margin: 0 0 0 0;
}
#block-block-30, #block-block-33, #block-block-34 {
  width: 287px;
  overflow: hidden;
  /*background: #819C9B; Original colour, for reference*/
  background: #D9E1E1;
}
#block-block-30 p, #block-block-33 p, #block-block-34 p {
font-size: 1.077em;
line-height: 1.231em;
font-weight: normal;
color: black;
padding: 0;
}
#sidebar-right .block {
  margin-bottom: 20px;
}
div#sidebar-right li.widget-container {
  list-style-type: none;
}
div.node-inner h2, div#sidebar-right h2, div#block-data_gov_uk_custom-blogslist h2, div.view-blog-posts h2, h2#comments-title, body.section-search div#main h2, #content h2, #content h3 {
  background: #3B393F;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: black;
  margin: 0 0 20px 0;
  line-height: 1.5em;
}
#header #logo_datagovuk {
  width: 130px;
  height: 33px;
}
#header #logo_datagovuk, #header span#slogan {
  display: block;
}
#header #logo_datagovuk span, #header span#slogan span {
  position: absolute;
  left: -9999em;
}
#header #slogan {
  width: 370px;
  height: 38px;
  background-position: 0 -33px;
  margin-top: 7px;
}
#page #header {
  padding-top: 0;
  padding-bottom: 0;
}
#header label {
  display: none;
}
label, .form-item label {
  color: black;
  font-size: 1em;
  font-weight: bold;
}
label {
  font-size: 1em;
  padding: 0 0 3px 0;
}
input.form-autocomplete {
  background-position: 100% 7px;
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px;
}
select, input, button, textarea, button {
  font: 99% arial,helvetica,clean,sans-serif;
}
#navbar {
  padding-top: 0px;
}
#content .subsection h3, #content #comments h3, #content #comments h4 {
  background-color: #444;
  padding: 10px;
  color: white;
}
#content h3 {
  color: white;
  font-size: 1em;
  padding: 8px 15px;
  margin: 0 0 15px 0;
}
#content tr td {
  border-top: 1px solid #E7E7E7;
}
#content table {
  border: 1px solid #E7E7E7;
  text-align: left;
  margin: 0 -1px 24px 0;
  width: 100%;
}
#sidebar-right .widget-container {
  padding: 10px;
  border: 1px solid white;
}
#navigation_primary li.home-icon a {
  background: url("/images/icon_home_white.png") 50% 50% no-repeat;
  text-indent: -50000px;
  outline: none;
}
.clearfix {
  display: block;
}
#package-edit input.short {
  width: 4em;
}
#package-edit input.medium-width {
  width: 12em;
}

img#icon_page-title{
	background-position:-40px -71px;
  width:40px;
	height:40px;
	margin-right:10px;
	vertical-align:-0.35em;
}

div.view-promotions .view-header,
div.view-featured-data .view-header,
div.view-terms-count-data .view-header,
div.view-apps-featured .view-header,
div.view-ideas-featured .view-header,
#block-views-data_featured_terms-block_1 .view-header,
#block-views-data_featured_terms-block_2 .view-header,
#block-views-publishers-block_1 .view-header {
	background: url("/images/gradient_heading.png") 0 0 repeat-x;
	width:auto;
	overflow:hidden;
	padding: 5px 15px 3px 15px;
  -moz-border-radius: 3px; /* FF1+ */
  -webkit-border-radius: 3px; /* Saf3+, Chrome */
  -khtml-border-radius: 3px; /* Konqueror */
  border-radius: 3px; /* Standard. IE9 */
}

h1.title, h2.title, h3.title {
  margin: 0 0 5px 0;
}

h2 {
  color: white;
  font-size: 1em;
  padding: 8px 15px;
  margin: 0 0 15px 0;
}

div.view-promotions .view-header h2, div.view-featured-data .view-header h2, div.view-terms-count-data .view-header h2, div.view-apps-featured .view-header h2, div.view-ideas-featured .view-header h2, div.view-ideas-featured .view-header h2, #block-views-data_featured_terms-block_1 .view-header h2, #block-views-data_featured_terms-block_2 .view-header h2, #block-views-publishers-block_1 .view-header h2 {
  float: left;
  font-size: 1.231em;
  line-height: 1.385em;
  padding: 0 0 0 25px;
}

div#content-bottom div.view-terms-count-data .view-header a, div.view-featured-data .view-header a, div.view-terms-count-data .view-header a, div.view-apps-featured .view-header a, div.view-ideas-featured .view-header a, #block-views-data_featured_terms-block_1 .view-header a, div#block-views-data_featured_terms-block_1 a.viewall, div#block-views-publishers-block_1 a.viewall {
  display: block;
  float: left;
  color: white;
  text-decoration: underline;
  padding-left: 10px;
  border-left: 1px solid white;
  margin: 4px 0 0 10px;
}

.view-data-featured-terms .views-row, #block-views-publishers-block_1 .views-row, .view-id-display-id-publishers-page_1 .views-row, ul#publicbodylist li {
  padding: 0.462em 15px;
  border-bottom: 1px solid lightGrey;
}

#block-views-data_featured_terms-block_1 .views-row, #block-views-publishers-block_1 .views-row, .view-id-display-id-publishers-page_1 .views-row, ul#publicbodylist li {
  padding-left: 27px;
  background: url("/images/icon_li_arrow.png") 15px 0.75em no-repeat;
}

#block-views-data_featured_terms-block_2 .view-header a {
  display: block;
  width: 61px;
  height: 39px;
  padding: 30px 15px 15px 80px;
  background: #EBEBEB url("/images/icon_map.gif") 15px 10px no-repeat;
  border-bottom: 1px solid lightGrey;
  clear: both;
}

div#content-top {
  float: left;
  width: 70%;
  padding-right: 10px;
}

div#page-bottom {
  clear: both;
}

div#block-views-data_featured_terms-block_2 {
  float: right;
}

#block-views-publishers-block_1 {
  display: inline-block;
}

#block-views-data_featured_terms-block_2 {
  display: inline-block;
  width: 186px;
}

ul.datasets > li {
  border-bottom: 1px solid #ECECEC;
  list-style: none;
  padding: 15px;
}

ul.dataset_formats,
ul.openness {
  display: none;
}

span.title {

  font-size: 1.231em;
}

input#data-search {
  padding: 8px;
  width: 70%;
  margin: 5px;
}

#data-search-submit {
  background-color: #598200;
  padding: 4px 5px;
  color: white;
  border: 0;
  -moz-border-radius: 2px; /* FF1+ */
  -webkit-border-radius: 2px; /* Saf3+, Chrome */
  -khtml-border-radius: 2px; /* Konqueror */
  border-radius: 2px; /* Standard. IE9 */
  cursor: pointer;
}

div#tagcloud {
  clear: both;
}

div#tagcloud a {
  text-decoration: none;
  text-align: center;
  border: none;
  vertical-align: middle;
}

div#tagcloud a:hover {
  text-decoration: underline;
}

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #E0E0E0;
  padding: 5px;
}
#tooltip h3, #tooltip div { margin: 0; color: black; }

.instruction-needed, #tooltip.instruction-needed {
  background-color: #A9BCF5;
  border: 2px solid #0040FF;
}
.to-be-completed, #tooltip.to-be-completed  {
  background-color: #F5DA81;
  border: 2px solid #FFBF00;
}

#filter-heading {
  border-top: white solid 15px;
}


div.flash-messages {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1em;
  color: white;
  font-weight: bold;

}

div.search_results {
    margin-top: 10px;
}

div.publisher_search_result {
    text-align: left;
    padding: 4px;
    height: 14px;
}
div.publisher_search_result h4 {
    font-size: 1.1em;
}

div.flash-messages.success {
    background-color: #5BB75B;
}

div.flash-messages.error {
    background-color: #DA4F49;
}

div.flash-messages.notice {
    background-color: #49AFCD;
}

div.flash-messages.warning {
    background-color: #006DCC;
}

/* Harvest pages */

body.harvest #content{
    width: 95%;
}

#show-inactive-sources-content{
    width: 180px !important;
}

#show-inactive-sources-content label{
    margin-top: 0 !important;
}

.harvest-source-title,
.harvest-source-config{
    display:none;
}

.markdown-editor .button-row {
  xpadding-right: 40px;
  text-align: center;
}
.markdown-editor div.markdown-preview {
  background: white;
  border: 1px solid #CCC;
  padding: 5px;
  margin-bottom: 5px;
  overflow: auto;
}
.markdown-editor textarea.markdown-input {
  margin-bottom: 5px;
  padding: 5px;
  display: block;
  width:95%;
  height: 6em;
}

/* ============= */
/* = Mini-Tabs = */
/* ============= */
ul.button-row {
  margin-bottom: 5px;
}
ul.button-row li {
  display: inline;
  margin-right: 10px;
}

#sub-publishers li.collapsed {
    display: none;
}
