/* Hacks */
/* ----- */
img.placeholder {
  background: #f0f;
}

/* Root Elements */
/* ------------- */
body {
  background: #f4f4f4;
}
h1 { line-height: 32px; }
h2 { line-height: 26px; }
h3 { line-height: 21px; }
h4 { line-height: 17px; }
h5 { line-height: 15px; }
h6 { line-height: 15px; }
a       { color: #690; }
a:hover { color: #470; }
input:focus,
textarea:focus {
  border-color: #55AA00;
  border-color: rgba(80, 160, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 100, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 100, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 100, 0, 0.6);
}

/* Custom Bootstrap */
/* -----------------*/
.btn-datagov {
  background-color: #77aa00;
  background-image: -moz-linear-gradient(top, #8fc800, #669900);
  background-image: -ms-linear-gradient(top, #8fc800, #669900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fc800), to(#669900));
  background-image: -webkit-linear-gradient(top, #8fc800, #669900);
  background-image: -o-linear-gradient(top, #8fc800, #669900);
  background-image: linear-gradient(top, #8fc800, #669900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc800', endColorstr='#669900', GradientType=0);
  border-color: #669900 #669900 #335500;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-datagov:hover,
.btn-datagov:active,
.btn-datagov.active,
.btn-datagov.disabled,
.btn-datagov[disabled] {
  background-color: #669900;
}
.btn-datagov:active,
.btn-datagov.active {
  background-color: #557700 \9;
}
.btn-datagov,
.btn-datagov:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}
.btn-datagov.active {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.75);
}

/* No-sidebar mode */
body.no-sidebar .main-outer {
  width: 940px;
}
body.no-sidebar .sidebar-outer {
  display: none;
}

/* BlackBar */
/* -------- */
#blackbar-underlay {
  height: 36px;
  background: #000;
}
#blackbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #333;
  background: rgba(0,0,0,0.8);
  color: #fff;
  height: 36px;
}
#blackbar a {
  color: #fff;
}
#blackbar #hm-government-link {
  float: left;
  font-size: 18px;
  margin-top: 8px;
  font-weight: 100;
}
#blackbar #hm-government-link img {
  margin-right: 10px;
  margin-top: -7px;
}
#blackbar #login-or-signup {
  float: right;
  margin-top: 10px;
}
#blackbar #login-or-signup a {
  font-weight: bold;
}

/* Branding space */
/* -------------- */
#branding {
  height: 100px;
  padding-top: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #666;
}
#branding .branding-logo {
  margin-left: 25px;
  float: left;
}
#branding .branding-text {
  margin-left: 20px;
  margin-top: 7px;
  text-shadow: 1px 1px 1px #ccc;
  float: left;
}
#branding a#home-link {
  font-size: 23px;
  color: inherit;
}
#branding a#home-link:hover {
  text-decoration: none;
  color: #000;
}
#branding span#home-tagline {
  display: block;
  font-size: 17px;
}


/* Nav */
/* --- */
ul#nav {
  list-style-type: none;
  margin: 0 auto 25px auto;
  font-size: 0; /* Delete space between inline block elements */
}
#nav li {
  padding: 0;
  display: inline-block;
  width: 104px;
  position: relative;
}
#nav li a {
  color: #666;
  text-align: center;
  display: block;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-left-color: transparent;
  font-size: 15px;
  /* Gradient */
  background: #FFFFFF; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}
#nav li:first-child a {
  border-left-color: #ccc;
}
#nav li a:hover {
  color: #000;
  border-color: #aaa;
  border-left-color: transparent;
  text-decoration: none;
  /* Gradient */
  background: #FFFFFF; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
#nav li:first-child a:hover {
  border-left-color: #aaa;
}


#nav .nav-icon {
  margin: 0 10px;
  vertical-align: top;
}
#nav .active-triangle {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 14px;
  height: 7px;
  margin-left: -4px;
  display: none;
}
#nav li.active .active-triangle {
  display: block;
  background: url('http://localhost:5000/images/nav_active.png');
}
#nav li:hover .active-triangle {
  display: block;
  background: url('http://localhost:5000/images/nav_hover.png');
}

/* Footer */
/* ------ */
.footer {
  background: #fff;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footer .footer-section {
  border-right: 1px solid #ccc;
}
.footer .footer-section.last {
  border-right: none;
  text-align: right;
  padding-left: 30px;
}
.footer a {
  color: #666;
}
.footer ul {
  list-style-type: none;
  margin: 0;
}

/* Content */
/* ------- */
.facet-box,
.boxed {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 6px #bbb;
  -webkit-box-shadow: 0px 2px 6px #bbb;
  box-shadow: 0px 2px 6px #bbb;
  padding: 9px;
  margin-bottom: 10px;
}


/* Search box */
/* ---------- */
.search-area-outer {
  margin-bottom: 40px;
}
.search-area {
  width: 100%;
}
.search-area .left {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 8px;
}
.search-area .right {
  padding: 15px 8px;
}
.result-count {
  font-size: 40px;
  text-align: center;
  color: #690;
}
.result-count-footer {
  padding-top: 15px;
  text-align: center;
}

.form-search {
  padding: 9px;
  float: left;
  margin-left: 10px;
  /* Gradient */
  background: #2D3035; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(45,48,53,1) 0%, rgba(33,33,33,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,48,53,1)), color-stop(100%,rgba(33,33,33,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3035', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}
.form-search input[type="text"] {
  width: 486px;
}
.form-search input[type="submit"] {
  width: 70px;
}
.rss-link {
  float: right;
}
.search-facets {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #888;
}
.search-facets .facet {
  display: inline-block;
  color: #333;
  padding: 3px 8px;
  margin-left: 10px;
  font-size: 11px;
  color: #777;
  text-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 0 1px 2px #bbb; /* Firefox */
  -webkit-box-shadow: 0 1px 2px #bbb; /* Safari, Chrome */
  box-shadow: 0 1px 2px #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* Gradient */
  background: #EEEEEE; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}
.search-facets .facet:hover {
  text-decoration: none;
  color: #000;
  /* Gradient */
  background: #E4E4E4; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
.search-facets .facet .x {
  color: #555;
  margin: 0 2px 0 10px;
  font-size: 9px;
  vertical-align: top;
}
.search-facets .facet:hover .x {
  color: #c00;
  font-weight: bold;
}

/* Facet Menu */
/* ---------- */
#filter-heading,
.facet-box {
  margin-bottom: 20px;
}
.facet-box h2 {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 8px;
  border-bottom: 2px solid #ccc;
  display: block;
}
.facet-box > ul {
  list-style-type: none;
  margin: 0;
  font-size: 11px;
  padding: 0 15px;
}
.facet-box .lower > ul li {
  margin: 8px 0;
}
.facet-box .lower > ul li:first-child {
  margin-top: 14px;
}
.facet-box .lower > ul li:last-child {
  margin-bottom: 14px;
}
.facet-box p {
  font-size: 11px;
  line-height: 13px;
}
.facet-box img.facets-title {
  height: 22px;
  width: 22px;
  vertical-align: top;
  margin-right: 8px;
}
.facet-box img.facets-radio {
  height: 16px;
  width: 16px;
  vertical-align: top;
  margin-right: 8px;
}



/* Dataset */
/* ------- */
ul.datasets {
  list-style-type: none;
  margin: 0;
}
.dataset {
  margin-bottom: 30px;
  padding: 14px 10px;
}
.dataset img.dataset-icon {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.dataset-header {
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #aaa;
}
.dataset-header a       { color: #666; }
.dataset-header a:hover { color: #000; text-decoration: none; }
.dataset h4 {
  color: #666;
  margin: 4px 0;
  font-size: 12px;
}
.dataset h4 ul {
  display: inline;
  margin: 0;
}
.dataset h4 ul li {
  display: inline-block;
  margin-left: 10px;
}
.dataset button.preview {
  float: right;
  margin-right: 25px;
  position: relative;
  padding: 5px 26px;
}
.preview-stamp {
  position: absolute; 
  top: -10px;
  right: -25px;
}
