body{background:#f4f4f4 url('/images/bg-thin-lighter.png') repeat-x;}
h1{font-size:24px;line-height:30px;margin-bottom:10px;}
h2{font-size:22px;line-height:27px;margin-bottom:8px;}
h3{font-size:19px;line-height:23px;margin-bottom:8px;}
h4{font-size:16px;line-height:18px;margin-bottom:8px;}
h5{font-size:13px;line-height:15px;margin-bottom:8px;}
h6{font-size:13px;line-height:15px;margin-bottom:8px;}
a{color:#690;}
a:hover{color:#470;}
input:focus,textarea:focus{border-color:#55AA00;border-color:rgba(80, 160, 0, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(50, 100, 0, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(50, 100, 0, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(50, 100, 0, 0.6);}
.btn{font-weight:bold;}
.btn-small{font-size:12px;}
.btn-primary{background-color:#99dd22;background-image:-moz-linear-gradient(top, #a5e046, #8cc52a);background-image:-ms-linear-gradient(top, #a5e046, #8cc52a);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a5e046), to(#8cc52a));background-image:-webkit-linear-gradient(top, #a5e046, #8cc52a);background-image:-o-linear-gradient(top, #a5e046, #8cc52a);background-image:linear-gradient(top, #a5e046, #8cc52a);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#a5e046', endColorstr='#8cc52a', GradientType=0);border-color:#66aa44;border-top-color:transparent;border-left-color:transparent;filter:progid:dximagetransform.microsoft.gradient(enabled=false);text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);color:#333333;}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#8cc52a;}
.btn-primary:active,.btn-primary.active{background-color:#557700 \9;}
.btn-primary.active{color:#333333;color:rgba(255, 255, 255, 0.75);}
.btn-primary .caret{border-top-color:#333;}
.btn-primary:hover{text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);color:#333333;}
.btn-group .btn-primary.dropdown-toggle{border-left:1px solid #7b2;}
.label-dgu,.badge-dgu{background-color:#66AA44;}.label-dgu[href],.badge-dgu[href]{background-color:#559933;}
body.no-sidebar .main-outer{width:940px;}
body.no-sidebar .sidebar-outer{display:none;}
.flash-messages{margin-top:12px;margin-bottom:12px;}
.btn-preview{padding:5px 42px 5px 26px;border-top-right-radius:10px;border-bottom-right-radius:10px;}
.preview-stamp{margin-left:-26px;margin-top:-6px;pointer-events:none;}
.inline-icon{padding-right:5px;vertical-align:top;}
.format-box{border:1px solid #EEE;margin-left:8px;padding:2px 8px;box-shadow:1px 1px 3px #f7f7f7;color:#808080;}
textarea{width:80%;}
img.arrow{vertical-align:baseline;}
h4 img.arrow{padding-right:3px;padding-bottom:1px;}
img.open-data{vertical-align:top;margin-top:1px;}
.pagination{text-align:center;}
a.tag{display:inline-block;padding:4px 9px;border:1px solid #bd8;background:#F9FFF4;margin:0 5px 3px 0;border-radius:4px;}a.tag:hover{border-color:#ac9;background:#e7FFe0;text-decoration:none;}
h1 .subheading{display:block;font-size:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.notes{margin-bottom:10px;padding:8px;}
.notes p:last-child{margin-bottom:0;}
h1 .abbreviation{color:#888;}
.table-dgu-fixed-size{table-layout:fixed;}
.table-dgu-fixed-size td{overflow:hidden;white-space:nowrap;}
.table-dgu-fixed-size td.dataset-details{white-space:normal;word-wrap:break-word;}
button span{white-space:nowrap;}
ul.arrow-list{list-style-image:url('/images/arrow-list.png');}
ul.green-bullet{list-style-image:url('/images/bullet-green.png');}
.widget-container ul.tags,.widget-container ul.groups{list-style-image:none;list-style:none;margin-left:0;}
.pagination ul{background:#fff;}
.margin-bottom-40{margin-bottom:40px !important;}
table.tablesorter thead th.headerSortUp{background-image:url('/images/icons/sort-asc.gif');background-color:#eee;}
table.tablesorter thead th.headerSortDown{background-image:url('/images/icons/sort-desc.gif');background-color:#eee;}
table.tablesorter th.header{background-image:url('/images/icons/sort.gif');cursor:pointer;font-weight:bold;background-repeat:no-repeat;background-position:center right;padding-right:20px;border-right:1px solid #dad9c7;margin-left:-1px;}
#blackbar{top:0;left:0;z-index:1500;width:100%;background:#202020;color:#fff;height:27px;}#blackbar>.container{width:100%;max-width:940px;}
#blackbar a{color:#fff;}
#blackbar #hm-government-link{float:left;margin-top:2px;margin-left:10px;}
#blackbar #login-or-signup{font-size:11px;float:right;margin-top:4px;margin-right:10px;}
#blackbar #login-or-signup a{font-weight:bold;}
#branding{height:66px;padding-top:18px;padding-left:55px;}
ul#nav{list-style-type:none;margin-left:0;margin-bottom:0;font-size:0;}ul#nav li{padding:0;width:100px;position:relative;float:left;background:#333333;background:-moz-linear-gradient(top, #444444 0%, #222222 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #222222));background:-webkit-linear-gradient(top, #444444 0%, #222222 100%);background:-o-linear-gradient(top, #444444 0%, #222222 100%);background:-ms-linear-gradient(top, #444444 0%, #222222 100%);background:linear-gradient(top, #444444 0%, #222222 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0);}ul#nav li a{color:#ccc;text-align:center;display:block;padding:10px 10px;border-left:1px solid #505050;border-right:1px solid #181818;font-size:15px;font-weight:300;}ul#nav li a:hover{color:#fff;text-decoration:none;background:url('/images/nav-chevron.png') 50% 100% no-repeat;}
ul#nav li a .nav-icon{width:21px;height:18px;margin:0 10px 0 0;background:url('/images/home-icon.png');display:inline-block;zoom:1;*display:inline;vertical-align:top;}
ul#nav li#nav-home{width:115px;}ul#nav li#nav-home a{border-left-color:transparent;}
ul#nav li#nav-linked-data{width:110px;}
ul#nav li#nav-about{width:115px;}ul#nav li#nav-about a{border-right-color:transparent;}
ul#nav li.active a{background:url('/images/nav-chevron.png') 50% 100% no-repeat;}
ul#nav li:hover a .nav-icon{background-position:-21px 0;}
#subnav{list-style-type:none;margin:0;padding:6px 18px;border:1px solid #ccc;border-top:none;}#subnav li{display:inline;}
#subnav .divider{color:#bbb;}
#subnav a.active{font-weight:bold;color:#336600;}
#minornavigation{margin:15px -25px 15px -26px;background:#e2e2e2 url('/images/minornavigation.png');height:46px;}#minornavigation .nav{padding:2px 4px;font-weight:bold;margin:0;padding-left:20px;}
#minornavigation .nav>li>a{border:1px solid transparent;border-bottom:none;border-right:none;height:14px;margin-right:5px;padding-top:7px;}#minornavigation .nav>li>a:hover{border-color:#bbb;}
#minornavigation .nav>li.active>a{background:#fff;border-color:#666;color:#000;}
#minornavigation .nav>li.open>a{border-color:#666;}
#minornavigation .nav>li.open .caret{border-top-color:#fff;}
#minornavigation .nav>li.disabled>a,#minornavigation .nav>li.disabled>a:hover{color:#888;border-color:transparent;background:transparent;}
#minornavigation .caret{border-top-color:#555;margin-left:8px;}
#minornavigation .divider{padding:8px 10px;font-size:14px;color:#888;}
#minornavigation #minornavigation-bg-left{background:url('/images/minornavigation-bg-left.png') no-repeat top left;height:46px;}
#minornavigation #minornavigation-bg-right{background:url('/images/minornavigation-bg-right.png') no-repeat top right;height:46px;}
.dropdown-menu{min-width:250px;}.dropdown-menu a{font-weight:bold;padding:5px 15px;margin-bottom:2px;color:#690;}
.dropdown-menu hr{margin:4px 0;}
.dropdown-menu li:last-child a{margin-bottom:0;}
.dropdown-menu li:hover a{color:#240;background:#eee;}
#sidebar{}#sidebar ul.widget-list{list-style-type:none;margin:0;}
#sidebar .btn{margin-top:8px;}
.footer{background:#fff;border-top:1px solid #ccc;margin-top:30px;padding-top:20px;padding-bottom:40px;}.footer .links li{display:inline;list-style-type:none;padding:0 0 0 10px;}
.footer .links a{color:#666;}
.footer .credit{text-align:center;width:120px;margin-top:10px;float:right;}
.footer .credit img{display:block;margin:0 auto;}
.widget-container,.facet-box,.boxed{background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);-webkit-box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);padding:9px;padding-top:1px;margin-bottom:10px;}
.widget-container h4,.facet-box h4{color:#656565;padding-bottom:5px;margin-bottom:8px;margin-top:8px;border-bottom:1px solid #aaa;padding-left:25px;padding-right:25px;margin-left:-25px;margin-right:-25px;}
.boxed{padding:14px 17px;}
.widget-container{overflow:hidden;}
.ribbon-header,.ribbon-footer{background-color:#42474B;color:#FFF;min-height:25px;padding:0 10px 20px 0;position:relative;-moz-box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);-webkit-box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);}
.ribbon-header{-moz-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;-moz-border-top-right-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;}.ribbon-header h2{color:#FFF;font-size:18px;line-height:24px;padding:10px 0 0 10px;border:none;background:none;}
.ribbon-footer{-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:-50px 0 20px 0;}
.search-area{width:100%;}.search-area .left{width:30%;border-right:1px solid #ccc;padding:8px;vertical-align:middle;}
.search-area .right{padding:15px 8px;}
.search-area .result-count{font-size:40px;text-align:center;color:#333;}
.search-area .result-count-footer{padding-top:15px;text-align:center;}
.search-area .form-search{padding:9px;margin-left:10px;position:relative;background:#2D3035;background:-moz-linear-gradient(top, #2d3035 0%, #212121 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d3035), color-stop(100%, #212121));background:-webkit-linear-gradient(top, #2d3035 0%, #212121 100%);background:-o-linear-gradient(top, #2d3035 0%, #212121 100%);background:-ms-linear-gradient(top, #2d3035 0%, #212121 100%);background:linear-gradient(top, #2d3035 0%, #212121 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#2d3035', endColorstr='#212121', GradientType=0);height:50px;padding:0;}.search-area .form-search input[type="text"]{position:absolute;width:auto;left:8px;right:86px;top:11px;}
.search-area .form-search input[type="submit"]{position:absolute;right:8px;top:7px;width:80px;height:35px;font-size:14px;}
.search-area .form-search .search-spinner{width:20px;height:20px;position:absolute;right:100px;top:15px;}
.search-area .search-facets{padding:10px 0;color:#888;}
.search-area .facet{color:#333;padding:3px 8px;margin-left:10px;margin-bottom:5px;font-size:11px;color:#777;text-shadow:1px 1px 1px #fff;-moz-box-shadow:0 1px 2px #bbb;-webkit-box-shadow:0 1px 2px #bbb;box-shadow:0 1px 2px #bbb;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;display:inline-block;zoom:1;*display:inline;background:#EEEEEE;background:-moz-linear-gradient(top, #f0f0f0 0%, #e4e4e4 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e4e4e4));background:-webkit-linear-gradient(top, #f0f0f0 0%, #e4e4e4 100%);background:-o-linear-gradient(top, #f0f0f0 0%, #e4e4e4 100%);background:-ms-linear-gradient(top, #f0f0f0 0%, #e4e4e4 100%);background:linear-gradient(top, #f0f0f0 0%, #e4e4e4 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e4e4e4', GradientType=0);}.search-area .facet:hover{text-decoration:none;color:#000;background:#E4E4E4;background:-moz-linear-gradient(top, #e4e4e4 0%, #f0f0f0 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #f0f0f0));background:-webkit-linear-gradient(top, #e4e4e4 0%, #f0f0f0 100%);background:-o-linear-gradient(top, #e4e4e4 0%, #f0f0f0 100%);background:-ms-linear-gradient(top, #e4e4e4 0%, #f0f0f0 100%);background:linear-gradient(top, #e4e4e4 0%, #f0f0f0 100%);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f0f0f0', GradientType=0);}
.search-area .facet .x{color:#555;margin:0 2px 0 10px;font-size:9px;vertical-align:top;}
.search-area .facet:hover .x{color:#c00;font-weight:bold;}
#shopping-basket-container{display:none;overflow:hidden;white-space:nowrap;}#shopping-basket-container #shopping-basket-container h4{margin-bottom:0;}
#shopping-basket-container #shopping-basket{min-height:50px;max-height:150px;overflow:scroll;overflow-x:hidden;white-space:nowrap;border:1px solid #ddd;margin-top:8px;margin-left:0;padding:5px 10px 5px 4px;list-style-type:none;}#shopping-basket-container #shopping-basket .x-button{padding:0 6px;margin-right:5px;vertical-align:top;}
#shopping-basket-container #shopping-basket-buttons{margin:10px 0 2px 0;}
#shopping-basket-container #shopping-basket-reset{padding-left:6px;padding-right:9px;}
#shopping-basket-container #shopping-basket-submit{margin-left:20px;width:180px;}
.facet-box{margin-bottom:20px;padding-left:25px;padding-right:25px;}.facet-box h3{padding-bottom:5px;margin-bottom:8px;border-bottom:1px solid #aaa;padding-left:25px;padding-right:25px;margin-left:-25px;margin-right:-25px;}
.facet-box>ul{list-style-type:none;margin:0;}
.facet-box .lower>ul li{margin:8px 0;}
.facet-box .lower>ul li:first-child{margin-top:14px;}
.facet-box .lower>ul li:last-child{margin-bottom:14px;}
.facet-box .inline-icon{display:none;}
.facet-box img.facets-title{height:22px;width:22px;vertical-align:top;margin-right:8px;}
.facet-box img.facets-radio{height:16px;width:16px;vertical-align:top;margin-right:8px;}
ul.common-dataset-list{list-style-type:none;width:97%;margin:-24px auto 0 auto;position:relative;z-index:1;}ul.common-dataset-list .dataset-summary{margin-bottom:30px;}
.dataset-summary img.dataset-icon{float:left;width:45px;height:45px;margin-right:10px;}
.dataset-summary .dataset-header{display:block;min-height:52px;margin-bottom:12px;border-bottom:1px solid #aaa;padding-left:17px;padding-right:17px;margin-left:-17px;margin-right:-17px;color:#666;}
.dataset-summary .dataset-header:hover{text-decoration:none;color:#470;}
.dataset-summary .dataset-header:hover .underlined{text-decoration:underline;}
.dataset-summary div.property{margin:4px 0;}
.dataset-summary .property{color:#666;font-size:12px;line-height:18px;}
.dataset-summary .property-right{float:right;}
.dataset-summary .property ul{display:inline;list-style-type:none;margin-left:0;}
.dataset-summary .property ul li{margin-right:5px;display:inline-block;zoom:1;*display:inline;}
.dataset-summary .map-buttons{float:right;margin-top:4px;}
.dataset-summary .btn-preview{margin-left:5px;}
.dataset-summary .preview-add .btn-preview,.dataset-summary .preview-remove .btn-preview{width:160px;padding-left:0;padding-right:10px;}
.dataset-summary img.dataset-ribbon{float:right;margin-right:-21px;margin-top:-18px;}
.metadata-table td.dataset-label{font-weight:bold;text-align:right;width:180px;}
body.controller-data.action-index h2{padding-bottom:8px;border-bottom:1px solid #aaa;padding-left:17px;padding-right:17px;margin-left:-17px;margin-right:-17px;}body.controller-data.action-index h2.no-underline{padding-bottom:0;border-bottom:none;}
body.controller-data.action-index .front-page-table{width:100%;border-collapse:separate;}body.controller-data.action-index .front-page-table td{width:426px;vertical-align:top;}
body.controller-data.action-index .front-page-table tr.gutter td{height:20px;}
body.controller-data.action-index .front-page-table td.gutter{width:20px;padding:0;}
body.controller-data.action-index div#tagcloud{clear:both;margin:10px auto;text-align:center;}body.controller-data.action-index div#tagcloud *{display:inline-block;vertical-align:middle;line-height:0.9;}
body.controller-data.action-index div#tagcloud a{text-decoration:none;}body.controller-data.action-index div#tagcloud a:hover{text-decoration:underline;}
body.controller-publisher.action-read .ribbon-header{text-align:right;padding-top:4px;padding-right:10px;height:30px;}
body.controller-publisher.action-read #publisher-tree-expand{height:12px;padding:4px 0;margin:0 auto;width:100%;display:block;text-align:center;}
body.controller-package.action-search .sort-by-controls{text-align:right;padding:10px 5px 15px 0;}body.controller-package.action-search .sort-by-controls label{color:#fff;}
body.controller-package.action-search .sort-by-controls .feed-icon{float:right;margin:1px 5px 0 20px;}
body.controller-package.action-read img.dataset-logo{float:right;padding:5px;}
body.controller-package.action-read #dataset-resources{margin-bottom:20px;}
body.controller-package.action-read .one-line-link{display:block;word-wrap:break-word;white-space:normal !important;}
body.controller-package.action-resource_read div.resource-actions{position:relative;float:right;}body.controller-package.action-resource_read div.resource-actions .btn{bottom:3px;padding:8px 10px;margin:0 0 0 7px;}
body.controller-package.action-resource_read div.resource-actions .download{padding-top:2px;padding-right:4px;}body.controller-package.action-resource_read div.resource-actions .download img{margin-top:1px;margin-right:0px;}
body.controller-user.action-read .user-page-table{width:100%;border-collapse:separate;}body.controller-user.action-read .user-page-table td{width:426px;vertical-align:top;min-height:250px;}
body.controller-user.action-read .user-page-table tr.gutter td{height:20px;}
body.controller-user.action-read .user-page-table td.gutter{width:20px;padding:0;}
body.controller-user.action-read ul.stats{margin:0 auto;width:280px;}
body.controller-user.action-read ul.stats li{width:100px;list-style-type:none;float:left;padding:20px;text-align:center;}
body.controller-user.action-read ul.stats strong{font-size:40px;}
body.controller-user.action-read ul.stats span{display:block;color:#777;}
.resources .map-buttons{padding:12px 7px;text-align:right;}
#spatial-map{height:220px;width:400px;}
#social_media span.stButton{margin-bottom:5px;}
.state-box{background-color:#fdd;}
.alert-contact-details{font-style:italic;}
.quick-info{margin-top:-20px;}
.quick-info>div{margin-bottom:9px;}
.resources>.search-result{border-left:2px solid #ccc;padding:8px;margin-bottom:10px;border:1px solid #ccc;border-radius:4px;}
.resources>.search-result:hover{background:#f0f0f0;}
.resources>.search-result .format-box{padding:4px;border:1px solid #ccc;background:#f0f0f0;}
.resources>.search-result .extra-links{display:none;}
.resources>.search-result .resource-description{display:none;}
.resources>.search-result .result-url{display:none;}
.resource-list{list-style-type:none;padding:0;margin:0 0 15px 0;}
.resource-list>li{background:#fff;border:0;border:1px solid #eee;border-top-color:transparent;border-left-color:transparent;border-right:0;font-weight:bold;display:block;padding:0;color:#333;height:29px;position:relative;}
.resource-list>li.last-child{border-bottom-color:transparent;}
.resource-list>li>.trimmed-text{overflow:hidden;padding-left:10px;white-space:nowrap;padding-top:5px;position:absolute;width:375px;}
.resource-list>li>.btn,.resource-list>li>.btn-group{margin-left:4px;float:right;}
.resource-list>li>.format-box{position:absolute;right:194px;top:2px;background:#fff;box-shadow:-2px 0 2px #ffffff;}
.resource-list .dropdown-menu a.disabled{color:#666;}
.resource-list .dropdown-menu a.disabled:hover{background:transparent;}
.gemini-resource-list>li>.btn{width:80px;}
.gemini-resource-list>li>.format-box{right:120px;}
#package-edit ul.nav,#package-edit ul.nav li{width:210px;margin-right:-1px;background:#fff;}
#package-edit .tab-content>fieldset{border:1px solid #DDD;padding:20px;min-height:338px;}
#package-edit .tab-content{display:block;width:auto;}
#section-description-field p{margin-top:10px;}
#package-edit .nav-backnext{float:right;}
div#form-tabs #disclaimer p,div#form-tabs #disclaimer input{display:inline-block;*display:inline;zoom:1;max-width:400px;vertical-align:top;margin-left:10px;}
div#form-tabs a.disabled{color:#a6a6a6;cursor:default;}
div#form-tabs a.disabled:hover{background-color:transparent;cursor:default;border-color:transparent;}
.fieldset_button_error{background:transparent url(../images/icons/error.png) right center no-repeat;}
p.field_error,span.field_error{background:transparent url(../images/icons/error.png) left center no-repeat;padding-left:20px;color:#FF6666;display:inline;}
table .field_error{border-color:#FF6666;background:transparent url(../images/icons/error.png) 98% center no-repeat;}
.resources-well{padding:15px 8px;}
.resource-move-cell{width:39px;padding:6px 1px 0 1px !important;}
.resource-move-cell .btn{padding:5px 2px 2px 2px;}
.resource-url .error input{background:transparent url(../images/icons/error.png) 98% center no-repeat;}
.resource .input-medium{width:130px;}
.hints{font-style:italic;color:#666;margin-top:3px;margin-bottom:0;}
.instructions.basic{margin:3px 0;line-height:14px;}
.instructions.further{font-size:11px;line-height:12px;color:#666;margin:3px 0 5px 0;width:80%;}
.history-table tr.selected td{background:#ffa !important;}
.history-table td.compare{text-align:center;width:50px;}
.history-table{margin-top:15px;}
ul.button-row{margin-bottom:5px;}
ul.button-row li{display:inline;margin-right:10px;}
hr.extras-divider{border:none;border-bottom:1px dashed #ddd;width:65%;}
span.extras-label{display:inline-block;min-width:50px;text-align:right;}
#sub-publishers li.collapsed{display:none;}
div#publisher-tree{background-color:white;}
.tab-pane .pagination-alphabet a{padding:0 5px;}
table.groups th{text-align:left;}
.jstree ul{list-style-image:none;}
.admin-button{padding:8px;text-align:center;}
div.publisher-mini-tree{overflow:auto;overflow-x:hidden;-ms-overflow-x:hidden;max-height:250px;}
body.harvest #content{width:95%;}
#show-inactive-sources-content{width:180px !important;}
#show-inactive-sources-content label{margin-top:0 !important;}
.harvest-source-title,.harvest-source-config{display:none;}
.status{font-style:italic;margin-bottom:15px;padding:9px;background:#ffe;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;box-shadow:0px 2px 6px rgba(0, 0, 0, 0.25);}
.pagination-alphabet a{padding:0 10px;}
.tags ul li{display:inline;}
.tags li{border:1px;}
div.new-comment-link{position:relative;background-color:#42474B;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;margin:0 0 20px 0;min-height:34px;padding:15px 12px 0 0;text-align:right;}
.comment .user-picture{background-color:#9D2;background-image:-moz-linear-gradient(top, #9dd084, #6eb443);background-image:-ms-linear-gradient(top, #9dd084, #6eb443);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#9dd084), to(#6eb443));background-image:-webkit-linear-gradient(top, #9dd084, #6eb443);background-image:-o-linear-gradient(top, #9dd084, #6eb443);background-image:linear-gradient(top, #9dd084, #6eb443);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#9DD084', endColorstr='#6EB443', GradientType=0);-moz-box-shadow:1px 1px 2px 0 #ccc;-webkit-box-shadow:1px 1px 2px 0 #CCC;box-shadow:1px 1px 2px 0 #CCC;padding:3px;margin-right:15px;}
.comment .user-picture-cell{vertical-align:top;}
.comment table{border-collapse:collapse;border-spacing:0;}
div.comment td{border:none;}
.comment .user-picture{width:62px;}
.comment .user-picture img{border-color:#999 #CCC #DDD #999;border-style:solid;border-width:1px;margin:1px;}
div.comment{background-color:white;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;box-shadow:0 2px 6px rgba(0, 0, 0, 0.25);clear:both;margin:0 0 20px 0;min-height:75px;padding:12px;z-index:20;position:relative;}
div.comment-content h3 a{color:black;}
div.comment-content .submitted{margin-bottom:15px;}
#comments .clear-block{display:block;}
#comments .clear-block::after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#comments .comment div.green-button-wrapper a,#comments a.green-button{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-decoration:none;font-weight:bold;-moz-box-shadow:1px 1px 2px 0 rgba(0, 0, 0, 0.25);-webkit-box-shadow:1px 1px 2px 0 rgba(0, 0, 0, 0.25);box-shadow:1px 1px 2px 0 rgba(0, 0, 0, 0.25);padding:4px 16px;}
#comments div.green-button-wrapper a,#comments a.green-button,#comments ul.primary li a{background-color:#9D2;background-image:-moz-linear-gradient(top, #a5e046, #8cc52a);background-image:-ms-linear-gradient(top, #a5e046, #8cc52a);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a5e046), to(#8cc52a));background-image:-webkit-linear-gradient(top, #a5e046, #8cc52a);background-image:-o-linear-gradient(top, #a5e046, #8cc52a);background-image:linear-gradient(top, #a5e046, #8cc52a);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#a5e046', endColorstr='#8cc52a', GradientType=0);border-color:#6A4;border-top-color:transparent;border-left-color:transparent;filter:progid:dximagetransform.microsoft.gradient(enabled=false);}
#comments div.green-button-wrapper a,#comments a.green-button,#comments ul.primary li a:hover{text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);color:#333;}
.comment ul.links li{padding:0 0 5px 10px;float:right;list-style-type:none;}
.indented{margin-left:3px;border-left:2px dotted #7BB200;padding-left:25px;}
ul.ui-autocomplete{-moz-box-shadow:0 2px 9px #777;-webkit-box-shadow:0 2px 9px #777;box-shadow:0 2px 9px #777;}
ul.ui-autocomplete li a{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;font-size:13px;}
ul.ui-autocomplete li a:hover{cursor:pointer;}
ul.ui-autocomplete li a.ui-state-hover{background:#9D2;border-color:#690;}
.star-rating>.tooltip{display:none;}
.star-rating .inline-icon{padding:0;}
.star-rating-tooltip{opacity:1 !important;}
.star-rating-tooltip>.tooltip-inner{background:#444;}
.star-rating-tooltip>.tooltip-arrow{border-right-color:#444 !important;}
.star-rating-reason{margin-bottom:2px;border-bottom:1px solid #999;}
.star-rating-last-updated{margin-top:2px;padding-top:2px;border-top:1px solid #999;text-align:left;}
.star-rating-reason,.star-rating-entry{text-align:left;padding:2px 0;}
.star-rating-entry.fail{color:#999;}
.star-rating>a{color:#333;}
.star-rating>a:hover{text-decoration:none;}
.star-rating .last-updated{font-size:10px;}
.dataset-map{padding-bottom:10px;margin-bottom:20px;position:relative;height:280px;}
#dataset-map-container{width:350px;position:absolute;top:0;left:0;bottom:0;background:#ccc;}
.dataset-map-info{position:absolute;width:220px;right:0;top:0;bottom:0;}
.dataset-map-info .map-buttons>div{margin-bottom:10px;}
.dataset-map-boxed{border:1px solid #6a3;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:1px 1px 3px #ddd;-moz-box-shadow:1px 1px 3px #ddd;box-shadow:1px 1px 3px #ddd;}
#dataset-map-attribution{font-size:9px;line-height:12px;text-align:right;position:absolute;right:0;bottom:0;}
.olControlAttribution{left:5px;right:inherit;bottom:3px !important;}
#dataset-map-container div.olControlAttribution{font-size:9px;font-family:helvetica,tahoma,verdana,sans-serif;line-height:12px;left:5px;bottom:3px;color:#666;}
body.openspending_report .voluntary{display:none;}
body.openspending_report #content .boxed .row .span4{width:260px;}
.error-details .label{align:center;}
table.error-details{table-layout:fixed;}
.error-details td{overflow:hidden;}
.text-warning{color:#C09853;}
.popular_datasets p{margin-top:8px;}
.table-lat-long th{padding-bottom:8px;}
.table-lat-long .extent-text{font-weight:bold;}
.table-lat-long .extent-label{text-align:right;padding:2px 8px;}
.table-lat-long .extent-label>div{font-size:11px;padding:0 6px;}
.table-lat-long .extent-value{white-space:nobreak;}
