<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

 <table py:def="publisher_list(groups)" class="groups">
   <tr><th>Title</th><th>Number of datasets</th><th>Description</th></tr>
   <py:for each="group in groups">
   <tr>
     <td><a href="${h.url_for(controller='group', action='read', id=group['name'])}">${group['display_name']}</a></td>
     <td>0</td>
     <td>${h.truncate(group['description'], length=80, whole_word=True)}</td>
   </tr>
   </py:for>
 </table>

<?python
      from ckanext.dgu.lib.helpers import render_tree
?>

 <table py:def="publisher_tree(groups)" class="groups">
	<!-- Top level departments -->
	${ Markup( render_tree( groups ))  }
 </table>


</html>