div#form-tabs {
  float: left;
}

div#form-tabs li {
  list-style: none;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: #E0E0E0;
  margin: 2px;
}

div#form-tabs li a {
  display: block;
  padding: 10px;
}

div#form-tabs a.active {
  background-color: white;
}

div#form-tabs a.disabled {
  background-color: white;
  color: #D4D4D4;
}

div#form-tabs a.disabled:hover {
  background-color: white;
  color: #D4D4D4;
  cursor: default;
}

div#form-tabs a:hover {
  color: green;
  background-color: white;
}

table.flexitable td.resource-id, td.resource-type {
  width: 0px;
  padding: 0px;
}

div#nav-controls {
  float: right;
  clear: left;
}

div#disclaimer { 
  clear: right;
}
