<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">CKAN logout first</py:def>

  <py:match path="breadcrumbs">
    <li><i>You must log out</i></li>
  </py:match>

  <py:match path="content">
    <div class="panel panel-danger">
      <div class="panel-heading">Error</div>
      <div class="panel-body">
        You must <a href="${'/logout' if ('dgu_drupal_auth' in config['ckan.plugins']) else h.url_for('/data/user/logout')}">log out</a> before you can login.
      </div>
    </div>
  </py:match>

  <xi:include href="../layout_base.html" />
</html>
