{#
User details

Variables set in the controller (and has not changed in master as of 16/11/2015)
* c.user_dict
     - email/apikey values are stripped out unless its myself or am a sysadmin
* c.is_sysadmin
* c.user_dict
* c.is_myself
* c.about_formatted
#}

{% extends "page.html" %}
{% import "_dgu_jinja_util.html" as m with context %}

{% block title %}{{ c.user_dict['display_name'] }} - User Profile - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('user_read', _('User Profile'), id=c.user_dict['name']) }}
{% endblock %}

 {% block primary_content_inner %}
 {{ h.prep_user_detail() }}

  <table class="user-page-table">
    <tr>
      <td class="boxed whitebox">
        <h2>
            <span>{{ c.user_dict['fullname'] or c.user_dict['name'] }}</span>
        </h2>
        <dl class="vcard">
          <dt>ID</dt>
          <dd>{{ h.drupal_user_id_from_username(c.user_dict['name']) }} / {{ c.user_dict['name'] }}</dd>
          <dt>Full Name</dt>
          <dd>{{ c.user_dict['fullname'] or 'No name provided' }}</dd>
          <dt>Email</dt>
          <dd>
            {% if c.user_dict['email'] %}
              {{ h.mail_to(c.user_dict['email'], encode='javascript') }}
            {% else %}
              (not shown)
              <a href="/user/{{ h.drupal_user_id_from_username(c.user_dict['name']) }}/contact">Contact</a>
            {% endif %}
          </dd>
          <dt>Registered since</dt>
          <dd>{{ h.render_datetime(c.user_dict['created']) }}</dd>
          {% if c.about_formatted %}
            <dt>About</dt>
            <dd>{{ c.about_formatted }}</dd>
          {% endif %}
          {% if c.is_myself %}
            {# checkpoint:is-myself #}
            <dt>API Key</dt>
            <dd>
            {{ c.user_dict['apikey'] }}
            <br />
            <em>&ndash; Note: your API key is visible only to you!</em>
            </dd>
          {% endif %}
        </dl>
      </td>
      <td class="gutter"></td>
      <td class="listing boxed whitebox">
        <h2>Publishers</h2>
        {% if c.is_myself %}
          <a href="{{ h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='apply') }}">Add a publisher to your account</a>
        {% endif %}
        <ul>
          {% for group in h.user_get_groups(c.user_dict['id']) %}
            <li>
              <a href="/publisher/{{ group.name }}">{{ group.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr><td colspan="3" style="height: 20px;"></td></tr>
    <tr>
      <td class="boxed whitebox listing">
        <h2>Datasets</h2>
        <ul class="stats">
          <li>
            <strong>{{ c.user_dict['number_administered_packages'] }}</strong>
            <span>Datasets</span>
          </li>
          <li>
            <strong>{{ c.user_dict['number_of_edits'] }}</strong>
            <span>Edits</span>
          </li>
        </ul>
        <div class="clearfix"></div>
        {{ m.package_list_from_dict(c.user_dict['datasets']) }}
      </td>
      <td class="gutter"></td>
      {#
      <td class="boxed whitebox changes">
        <h2>Public Activity</h2>
        <div class="activity-stream">
          {{ c.user_activity_stream }}
        </div>
      </td>
      #}
    </tr>
  </table>

{% endblock %}
