# These are same dependencies as in pip-requirements.txt, but are
# the latest versions of everything. This is for installing a
# development setup and for testing purposes only.

# Don't include ckan, which makes this installable with pip into a
# virtualenv
#-e git+https://github.com/okfn/ckan#egg=ckan

apachemiddleware
-e git+https://github.com/okfn/ckanext-csw#egg=ckanext-csw
-e git+https://github.com/okfn/ckanext-harvest#egg=ckanext-harvest
-e git+https://github.com/okfn/ckanext-inspire#egg=ckanext-inspire
-e git+https://github.com/okfn/ckanext-spatial#egg=ckanext-spatial
-e git+https://github.com/okfn/ckanext-qa#egg=ckanext-qa
-e git+https://github.com/okfn/ckanext-importlib#egg=ckanext-importlib
-e git+https://github.com/okfn/owslib#egg=owslib
-e git+https://github.com/okfn/datautildate#egg=datautildate
-e git+https://github.com/okfn/datautil#egg=datautil
GeoAlchemy>=0.6
Shapely>=1.2.13
