# These are all the dependencies for ckanext-dgu itself

# ckanext-importlib
-e git+https://github.com/okfn/ckanext-importlib.git#egg=ckanext-importlib

# datautildate
-e git+https://github.com/okfn/datautildate.git#egg=datautildate

# datautil
-e git+https://github.com/okfn/datautil#egg=datautil

# pastescript isn't required as a dependency, but it *is* required
# in order to be able to run paster commands within the correct
# virtualenv when deployed.
paste
pastedeploy
pastescript

# Beautiful Soup for gov_daily.py
beautifulsoup4

nltk

# Git Python for UK Gov Linked Data
GitPython==0.3.2.RC1
