-e hg+https://bitbucket.org/okfn/ckanclient#egg=ckanclient
-e hg+https://bitbucket.org/okfn/ckanext-importlib#egg=ckanext-importlib
-e hg+https://bitbucket.org/okfn/ckanext-harvest#egg=ckanext-harvest
-e hg+https://bitbucket.org/okfn/ckanext-csw#egg=ckanext-csw
-e hg+https://bitbucket.org/okfn/ckanext-inspire#egg=ckanext-inspire
-e hg+https://bitbucket.org/okfn/ckanext-spatial#egg=ckanext-spatial
swiss
