# This file allows you to install CKAN extensions related to
# ckanext-dgu and the dependencies for ckanext-dgu. After running
# this, some of the installed CKAN extensions have their own
# pip-requirements.txt to install too.
#
# Use it like this:
#
#   pip install -r pip-requirements.txt

## ckanext-dgu dependencies
-r pip-requirements-local.txt

## Related extensions

# ckanext-csw
-e git+https://github.com/okfn/ckanext-csw.git@#egg=ckanext-csw

# ckanext-harvest
-e git+https://github.com/datagovuk/ckanext-harvest.git@dgu#egg=ckanext-harvest

# ckanext-spatial
-e git+https://github.com/datagovuk/ckanext-spatial.git@dgu#egg=ckanext-spatial


# ckanext-qa
-e git+https://github.com/datagovuk/ckanext-qa.git@temp_working#egg=ckanext-qa

# ckanext-archiver
-e git+https://github.com/datagovuk/ckanext-archiver.git#egg=ckanext-archiver

# ckanext-ga-report
-e git+https://github.com/datagovuk/ckanext-ga-report.git#egg=ckanext-ga-report

# ckanext-datapreview
-e git+https://github.com/datagovuk/ckanext-datapreview.git#egg=ckanext-datapreview

## Related extension dependencies

# Copied from ckanext-spatial's pip-requirements.txt:
GeoAlchemy>=0.6
Shapely>=1.2.13
owslib
lxml<=2.2.99
argparse
# Selenium driver for Python
selenium==2.28.0
fabric==1.5.3
oauthlib==0.6.3
# ONS loader needs datautildate
-e git+https://github.com/okfn/datautildate.git@#egg=datautildate
