[*]
apikey =

[LoginTests]
username = <username>
password = <password>

[DatasetTests]
editor_username = <username>
editor_password = <password>

[PublisherTests]
editor_username = <username>
editor_password = <password>
publisher_name = <publisher_name>
user_to_add = <username>
