  <!--! Herein can be found generic macros for re-use in the jinjified templates -->


<!-- recursive function turns errors into hierarchical lists -->

{% macro display_error(errors, name, field_error=False, msg=None) %}
  {% if errors.get(name) %}
    {% set error_msg = msg or errors.get(name) %}
    {% if h.is_list(error_msg) %}
      {% set error_msg = errors.get(name)[0] %}
    {% endif %}

    {% if field_error %}
      <p style="display: block;" class="field_error">{{error_msg}}</p>
    {% else %}
      <div class="alert alert-danger">{{ error_msg }}</div>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro dump(o) %}
  {% if h.is_dict(o) %}
  <ul>
    {% for k,v in h.iterate_error_dict(o) %}
    <li>
      {% if h.is_string(v) %}
        <b>{{k}}:</b> {{v}}
      {% else %}
        <b>{{k}}: </b> {{dump(v)}}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if h.is_list(o) %}
  <ul>
    {% for v in o %}
      {{ dump(v) }}
    {% endfor %}
  </ul>
  {% endif %}
  {% if h.is_string(o) %}
  <li>
    {{o}}
  </li>
  {% endif %}
{% endmacro %}

{% macro paginator(pageobj) %}

    {% set page     = pageobj.page %}
    {% set numpages = pageobj.page_count %}
    {% set url_for_page = h.paginator_page_url(pageobj) %}
    {% if numpages > 1 %}
    <div class="dgu-pagination">
      <ul class="pagination">
        <li>
          {% if page > 1 %}
            <a href="{{url_for_page(page-1)}}">&laquo;</a>
          {% endif %}
          {% if page == 1 %}
            <span >&laquo;</span>
          {% endif %}
        </li>
        {% for text,url in h.pagination_links(page,numpages,url_for_page) %}
        <li>
          {% if url %}
            <a href="{{ url }}">{{ text }}</a>
          {% endif %}
          {% if not url %}
            <span>{{ text }}</span>
          {% endif %}
        </li>
        {% endfor %}
        <li>
          {% if numpages-page > 0 %}
            <a href="{{url_for_page(page+1)}}">&raquo;</a>
          {% endif %}
          {% if page == numpages %}
            <span >&raquo;</span>
          {% endif %}
        </li>
      </ul>
    </div>
    {% endif %}
    <div class="clearfix clearfix-ie7"></div>

{% endmacro %}

{% macro breadcrumbs(kvlist) %}
  <div class="col-md-12">
    <ul id="breadcrumbs">
      <li><a href="/"><i class="icon-home"></i></a></li>
      {% for k,v in kvlist %}
        <li class="spacer">&nbsp;/&nbsp;</li>
        <li><a href="{{v}}">{{k}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

<!-- pure one-liner to avoid whitespace glitches -->
{% macro if_(testValue,stringIfTrue,stringIfFalse='') %}{% if testValue %}{{stringIfTrue}}{% else %}{{stringIfFalse}}{% endif%}{% endmacro %}


{% macro uklp_facets() %}
<div class="form-group">
    <h4 class="facet-title">UK LOCATION DATASET TYPE</h4>
{% with facets=h.get_facet_items_dict('resource-type') %}
    {% if facets %}
        <select name="resource-type"
                id="publisher-select"
                data-placeholder=" "
                class="form-control chzn-select"
                style="width: 100%; max-width: 300px;"
                onchange="this.form.submit()"
                multiple="">
        {% for t in facets %}
            {% if c.fields_grouped
            and c.fields_grouped.get('resource-type')
            and t.name in c.fields_grouped.get('resource-type') %}
                <option value="{{ t.name }}" selected>{{h.search_facet_text('resource-type',t.display_name)}}</option>
            {% else %}
                <option value="{{ t.name }}">{{h.search_facet_text('resource-type', t.display_name) }} ({{t.count}})</option>
            {% endif %}
        {% endfor %}
        </select>
    {% else %}
          <div class="facet-options">
            <div class="facet-option"><em>No further location filters to apply</em></div>
          </div>
    {% endif %}
{% endwith %}
{% endmacro %}

{% macro publisher_facets() %}
<div class="form-group">
    <h4 class="facet-title">Publisher</h4>

        <select name="publisher"
                id="publisher-select"
                data-placeholder=" "
                class="form-control chzn-select"
                style="width: 100%; max-width: 300px;"
                onchange="this.form.submit()"
                multiple="">

          {% if h.search_facets_unselected(['publisher'])|length > 1 %}
          <optgroup label="Most Relevant">
            {% for publisher in h.search_facets_unselected(['publisher'])[:3] %}
            <option value="{{publisher.3}}">{{publisher.1}}</option>
            {% endfor %}
          </optgroup>
          {% endif %}
          <optgroup label="All Publishers">
          {%- for publisher_name, publisher_title in h.organization_list() %}
            {% if c.fields_grouped
               and c.fields_grouped.get('publisher')
               and publisher_name in c.fields_grouped.get('publisher') %}
            <option value="{{publisher_name}}" selected>{{publisher_title}}</option>
            {% else %}
            <option value="{{publisher_name}}">{{publisher_title}}</option>
            {% endif %}
          {%- endfor %}
          </optgroup>
        </select>
    </div>
{% endmacro %}

{% macro theme_facets() %}
<div class="form-group">
    <h4 class="facet-title">Themes</h4>

    <select name="theme-primary"
            id="publisher-select"
            data-placeholder=" "
            class="form-control chzn-select"
            style="width: 100%; max-width: 300px;"
            onchange="this.form.submit()"
            multiple="">
      {% for theme in h.get_facet_items_dict('theme-primary', limit=None) %}
        {% if c.fields_grouped
           and c.fields_grouped.get('theme-primary')
           and theme.name in c.fields_grouped.get('theme-primary') %}
        <option value="{{theme.name}}" selected>{{theme.display_name}} ({{theme.count}})</option>
        {% else %}
        <option value="{{theme.name}}">{{theme.display_name}} ({{theme.count}})</option>
        {% endif %}
      {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro format_facets() %}
<div class="form-group">
   <h4 class="facet-title">File formats</h4>
   {% with facets=h.get_facet_items_dict('res_format')%}
    {% if facets %}
        <select name="res_format"
                id="publisher-select"
                data-placeholder=" "
                class="form-control chzn-select"
                style="width: 100%; max-width: 300px;"
                onchange="this.form.submit()"
                multiple="">
          {% if h.search_facets_unselected(['res_format'])|length > 1 %}
          <optgroup label="Most Relevant">
            {% for fmt in h.search_facets_unselected(['res_format'])[:3] %}
            <option value="{{fmt.3}}">{{fmt.1}}</option>
            {% endfor %}
          </optgroup>
          {% endif %}
          <optgroup label="All Formats">
            {% for format in h.format_list() %}
                {% if c.fields_grouped
                and c.fields_grouped.get('res_format')
                and format in c.fields_grouped.get('res_format') %}
                    <option value="{{format}}" selected>{{format}}</option>
                {% else %}
                    <option value="{{format}}">{{format}}</option>
                {% endif %}
            {% endfor %}
          </optgroup>
        </select>
     {% else %}
          <div class="facet-options">
            <div class="facet-option"><em>No further format filters to apply</em></div>
          </div>
     {% endif %}
   {% endwith %}
</div>
{% endmacro %}


{% macro licence_facets() %}
<div class="form-group">
    <h4 class="facet-title">Licence</h4>
    {% with facets=h.get_facet_items_dict('license_id-is-ogl') %}
        {% if facets %}
            <select name="license_id-is-ogl"
                    id="publisher-select"
                    data-placeholder=" "
                    class="form-control chzn-select"
                    style="width: 100%; max-width: 300px;"
                    onchange="this.form.submit()"
                    multiple="">
            {% for licence in facets %}
                {% if c.fields_grouped
                and c.fields_grouped.get('license_id-is-ogl')
                and licence.name in c.fields_grouped.get('license_id-is-ogl') %}
                    <option value="{{licence.name}}" selected>{{h.search_facet_text('license_id-is-ogl',licence.display_name)}}</option>
                {% else %}
                    <option value="{{licence.name}}">{{h.search_facet_text('license_id-is-ogl',licence.display_name)}}  ({{licence.count}})</option>
                {% endif %}
            {% endfor %}
            </select>
        {% else %}
          <div class="facet-options">
            <div class="facet-option"><em>No further licence filters to apply</em></div>
          </div>
        {% endif %}
    {% endwith %}
</div>
{% endmacro %}


{% macro schema_facets() %}
<div class="form-group">
    <h4 class="facet-title">Schema/Vocabulary</h4>
    {% with facets = h.get_facet_items_dict('schema_multi') %}
        {% if facets %}
            <select name="schema_multi"
                    id="publisher-select"
                    data-placeholder=" "
                    class="form-control chzn-select"
                    style="width: 100%; max-width: 300px;"
                    onchange="this.form.submit()"
                    multiple="">
            {% for schema in facets %}
                {% if c.fields_grouped
                and c.fields_grouped.get('schema_multi')
                and schema.name in c.fields_grouped.get('schema_multi') %}
                    <option value="{{schema.name}}" selected>{{h.search_facet_text('schema_multi', schema.display_name)}}</option>
                {% else %}
                    <option value="{{schema.name}}">{{h.search_facet_text('schema_multi',schema.display_name)}}  ({{schema.count}})</option>
                {% endif %}
            {% endfor %}
            </select>
        {% else %}
          <div class="facet-options">
            <div class="facet-option"><em>No further schema filters to apply</em></div>
          </div>
        {% endif %}
    {% endwith %}
</div>
{% endmacro %}


{% macro codelist_facets() %}
<div class="form-group">
    <h4 class="facet-title">Code lists</h4>
    {% with facets=h.get_facet_items_dict('codelist_multi') %}
        {% if facets %}
            <select name="codelist_multi"
                    id="publisher-select"
                    data-placeholder=" "
                    class="form-control chzn-select"
                    style="width: 100%; max-width: 300px;"
                    onchange="this.form.submit()"
                    multiple="">
            {% for codelist in facets %}
                {% if c.fields_grouped
                and c.fields_grouped.get('codelist_multi')
                and codelist.name in c.fields_grouped.get('codelist_multi') %}
                    <option value="{{codelist.name}}" selected>{{h.search_facet_text('codelist_multi', codelist.display_name)}}</option>
                {% else %}
                    <option value="{{codelist.name}}">{{h.search_facet_text('codelist_multi', codelist.display_name)}}  ({{codelist.count}})</option>
                {% endif %}
            {% endfor %}
            </select>
        {% else %}
           <div class="facet-options">
            <div class="facet-option"><em>No further codelist filters to apply</em></div>
           </div>
        {% endif %}
    {% endwith %}
</div>
{% endmacro %}

{% macro openness_facets() %}
<div class="form-group">
    <h4 class="facet-title">Openness score</h4>
    {% with facets=h.get_facet_items_dict('openness_score')|sort(reverse=True,attribute='name') %}
        {% if facets %}
            <select name="openness_score"
                    id="publisher-select"
                    data-placeholder=" "
                    class="form-control chzn-select"
                    style="width: 100%; max-width: 300px;"
                    onchange="this.form.submit()"
                    multiple="">
            {% for score in facets %}
                {% if c.fields_grouped
                and c.fields_grouped.get('openness_score')
                and score.name in c.fields_grouped.get('openness_score') %}
                    <option value="{{score.name}}" selected>{{h.search_facet_text('openness_score',score.display_name)}}</option>
                {% else %}
                    <option value="{{score.name}}">{{h.search_facet_text('openness_score',score.display_name)}}  ({{score.count}})</option>
                {% endif %}
            {% endfor %}
            </select>
        {% else %}
          <div class="facet-options">
            <div class="facet-option"><em>No further openness score filters to apply</em></div>
          </div>
        {% endif %}
    {% endwith %}
</div>
{% endmacro %}

{% macro tristate_facets(title,facet_key, nulllabel, onlabel,offlabel) %}
<div class="form-group">
    <h4 class="facet-title">{{ title }}</h4>

    {% with selected=c.fields_grouped.get(facet_key)%}

    <div class="radio">
        <label>
            <input type="radio" name="{{facet_key}}" class='facet-radio' value="" {% if not selected %}checked{% endif %} onchange="this.form.submit()">
            {{nulllabel}}
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="{{facet_key}}" class='facet-radio' value="true" {% if selected and 'true' in selected %}checked{% endif %} onchange="this.form.submit()">
            {{onlabel}}
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="{{facet_key}}" class='facet-radio' value="false" {% if selected and 'false' in selected %}checked{% endif %} onchange="this.form.submit()">
            {{offlabel}}
        </label>
    </div>
    {% endwith %}
</div>
{% endmacro %}

{% macro search_form(mini=False, placeholder='Search for data...', set_fields=None) %}
  <div class="search-area">
    <div class="clearfix dgu-equal-height" data-selector=".auto-height">
      <div class="{{if_(mini,'mini','left')}}">
        <div class="left-inner auto-height">
        <form class="form-search" action="{{h.url_for(controller='package', action='search')}}" method="GET">
          <div class="input-group">
            <input class="form-control" type="text" name="q" value="{{c.q}}" results="0" placeholder="{{placeholder}}" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <i class="icon-search"></i>
              </button>
            </span>
          </div>

          <div>
      {% if mini %}
      <span class="dropdown">
          <a href="#" class="dropdown-button" data-placement="top" data-delay="300" data-toggle="dropdown" title="" data-original-title="Advanced Search" style="color: #666; font-size: 12px; text-decoration: underline; text-align:center; display: block;">
            Search Tips
          </a>

    <div class="map-search-link" style="margin: 0;">
        <center>
        <i class="icon-map-marker icon-large"></i> <a href="/data/map-based-search">Conduct Map Based Search</a>
        </center>
    </div>


          <div class="panel panel-default dropdown-menu" style="width: 500px; margin-left: -1px;">
            <div class="panel-heading" style="margin-top: -10px;"><strong>Search Tips</strong></div>
            <div class="panel-body">

                <ul>
                  <li><span class='search-terms'>"armed forces" expenses</span> - search for exact phrases by putting quote marks around them</li>
                  <li><span class='search-terms'>primary school -care</span> - exclude words or quoted phrases by using a minus sign or NOT</li>
                  <li><span class='search-terms'>primary OR secondary school</span> - use 'OR' to allow alternatives (the default is to 'AND' all of the terms)</li>
                  <li><span class='search-terms'>publisher:cabinet-office res_format:CSV</span> - search only in a particular field. </li>
                </ul>

                <p>For more tips on searching see the <a href="http://guidance.data.gov.uk/finding_data.html#keyword-search-tips" target="_blank">Finding Data guidance</a></p>

            </div>
          </div>
        </span>
        {% endif %}
        </div>

          </center>
          {% if c.fields %}
            {% for k,v in c.fields %}
              {% if k not in ['publisher', 'theme-primary', 'res_format', 'openness_score', 'license_id-is-ogl',
                    'schema_multi', 'codelist_multi', 'resource-type', 'api', 'core-dataset', 'unpublished'] %}
              <input type="hidden" name="{{k}}" value="{{v}}" />
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if set_fields %}
            {% for k,v in set_fields.items() %}
              <input type="hidden" name="{{k}}" value="{{v}}" />
            {% endfor %}
          {% endif %}
          {% if request.params.get('ext_bbox','') %}
            <input type="hidden" id="ext_bbox" name="ext_bbox" value="{{request.params.get('ext_bbox','')}}" />
          {% endif %}

          {% if mini %}
            <div style="margin-top: 40px;"></div>
            {{ publisher_facets() }}
            {{ theme_facets() }}
            {{ format_facets() }}
            {{ licence_facets() }}

            <hr/>


            {{ openness_facets() }}

            {{ schema_facets() }}
            {{ codelist_facets() }}
            {{ uklp_facets() }}

            <hr/>

            {{ tristate_facets('Published Status', 'unpublished', 'Show all', 'Only published datasets', 'Only unpublished datasets')}}

            <hr/>

            {{ tristate_facets('NII Datasets', 'core-dataset', 'Show all', 'Only NII datasets', 'Exclude NII datasets')}}

            <hr/>

            {{ tristate_facets('API', 'api', 'Show all', 'Only datasets with APIs', 'Only datasets without APIs')}}

            <hr/>


            <noscript>
                <button class="btn btn-success">Update</button>
            </noscript>
          {% endif %}

        </form>
        {# extra_options can be passed in using the "call" syntax #}
        {% if caller %}
          {{ caller() }}
        {% endif %}
        </div>
      </div>
      {% if not mini %}
      <div class="right">
        <div class="right-inner auto-height">
        <div class="chevron"></div>
        {% if not c.query_error %}
          {% set count = c.page.item_count if c.page != '' else (c.package_count or 0) %}
          <div class="result-count">{{count}}</div>
          <div class="result-count-footer">Dataset{{if_(count!=1,'s')}}</div>
        {% else %}
          <div class="result-count-footer">Search Error</div>
        {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
   </div>
{% endmacro %}

{% macro map_preview_button_direct(pkg_dict,small=True) %}
    <a href="/data/map-preview?{{h.get_wms_info_urls(pkg_dict)}}{{'&amp;n=%s&amp;w=%s&amp;e=%s&amp;s=%s' % h.get_wms_info_extent(pkg_dict) if h.get_wms_info_extent(pkg_dict) else ''}}" class="btn btn-default {{if_(small,'btn-xs','')}} btn-info btn-preview preview-now"><i class="icon-map-marker"></i>&nbsp; Preview on Map</a>
{% endmacro %}

{% macro package_list_from_dict(packages,mini=False) %}
  <div class="common-dataset-list">
    <div class="{{if_(mini,'row')}}">
      {% for i in range(packages|length) %}
        {% if i%4==0 %}
        <div class="clearfix visible-lg"></div>
        {% endif %}
        {% if i%3==0 %}
        <div class="clearfix visible-md clearfix-ie7"></div>
        {% endif %}
        {% if i%2==0 %}
        <div class="clearfix visible-sm"></div>
        {% endif %}

        {% with %}
        {% set package       = packages[i] %}
        {% set unpublished   = h.is_unpublished_item(packages[i]) %}
        {% set title         = packages[i].get('title') or packages[i].get('name') %}
        {% set primary_theme = h.get_primary_theme(packages[i]) %}

          <div class="{{if_(mini,'col-lg-3 col-md-4 col-sm-6')}}">
          <div class="dataset dataset-summary theme-{{primary_theme or 'none'}} {{if_(mini,'mini', '')}} {{if_(unpublished,'unpublished', '')}}">
           <a class="dataset-header" href="{{h.url_for(controller='package', action='read', id=package.get('name'))}}">
             <div class="theme-name">{{primary_theme or '(Uncategorised)'}}</div>
             <div class="underlined">{{title}} {% if unpublished %}<span class="text-unpublished">(unpublished)</span>{% endif %}</div>
           </a>
           <div class="dataset-body">
             <div class="left">
               <a class="dataset-publisher" href="{{h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=h.package_publisher_dict(package).get('name', ''))}}">
                 {{h.package_publisher_dict(package).get('title', '')}}
               </a>
               <div class="dataset-description">
                 {{h.markdown_extract(package.notes)}}
               </div>
             </div>
             <div class="right">
                {% if h.is_core_dataset(package) %}
                  <div title="This dataset is part of the National Information Infrastructure" class="js-tooltip format-box" style='background-color: #8BC658;'>NII</div>
                {% endif %}

               {% for format in h.formats_for_package(package) %}
                 {{format_box(format.lower())}}
               {% endfor %}
               {% if not mini and h.get_wms_info_urls(package) %}
                 <div class="map-buttons">
                   <span style="display: none;" class="js-data-id">{{package.id}}</span>
                   <span style="display: none;" class="js-data-title">{{package.get('title')}}</span>
                   <span style="display: none;" class="js-data-querystring">{{h.get_wms_info_urls(package)}}</span>
                   <span style="display: none;" class="js-data-extent">{{','.join(h.get_wms_info_extent(package))}}</span>
                   {{map_preview_button_direct(package)}}
                   {% set in_basket = package.id in session.get('preview_list',[])%}
                     <span
                          class="preview-add js-dataset-{{package.id}}-add"
                          style="{{if_(in_basket,'display: none;')}}">
                            <button data-id="{{package.id}}" class="btn btn-default btn-xs btn-info btn-preview btn-basket"><i class="icon-shopping-cart"></i>&nbsp; Add to Preview List</button>
                     </span>
                     <span
                          class="preview-remove js-dataset-{{package.id}}-remove"
                          style="{{if_(not in_basket,'display: none;')}}">
                          <button data-id="{{package.id}}" class="btn btn-danger btn-xs btn-preview btn-basket"><i class="icon-shopping-cart"></i>&nbsp; Remove from List</button>
                     </span>
                 </div>
               {% endif %}
             </div>
             <div class="clearfix clearfix-ie7"> &nbsp;</div>
             <a class="view-data-link" href="{{h.url_for(controller='package', action='read', id=package.get('name'))}}">
               View Data
             </a>
           </div>
           </div>
         </div>
         {% endwith %}
      {% endfor %}
    </div>
{% endmacro %}


{% macro dict_to_attributes(d) -%}
  {% for k, v in d.iteritems() -%}{{k}}="{{v}}"{%- endfor %}
{%- endmacro %}

{% macro facet_box(title, unselected, selected, if_empty, more_button=None) %}
    <div class="facet-box-unboxed">
      <h4 class="facet-title">{{title}}</h4>
      <div class="facet-options">
        {% for (link,text,tooltip) in selected %}
          <div class="facet-option facet-option-selected">
            <a href="{{link}}">
              <div class="facet-kill pull-right">
                <i class="icon-large icon-remove-sign"></i>
              </div>
              <span class="{{if_(tooltip,'js-tooltip', '')}}" data-original-title="{{tooltip}}" data-placement="right">
                {{h.literal(text)}}
              </span>
            </a>
          </div>
        {% endfor %}
        {% for i in range(unselected|length) %}
          {% with %}
          {% set (link,text,tooltip,key) = unselected[i] %}
          {% set overflow = i>5 and more_button %}
          <div class="facet-option {{if_(overflow,'more-%s'%more_button)}}" style="{{if_(overflow,'display:none;')}}">
            <a href="{{link}}">
              <span class="{{if_(tooltip,'js-tooltip', '')}}" data-original-title="{{tooltip}}" data-placement="right">
                {{h.literal(text)}}
              </span>
            </a>
          </div>
          {% endwith %}
        {% endfor %}
        {% if more_button and unselected|length>5 %}
          <a id="{{more_button}}" class="facet-expand-collapse" href="#">
            <div class="expander">
              <i class="icon-double-angle-down"></i>&nbsp; more &nbsp;<i class="icon-double-angle-down"></i>
            </div>
            <div class="collapser">
              <i class="icon-double-angle-up"></i>&nbsp; less &nbsp;<i class="icon-double-angle-up"></i>
            </div>
          </a>
        {% endif %}
        {% if not selected|length and not unselected|length %}
        <div class="facet-option"><em>{{if_empty}}</em></div>
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro facet_filters() %}
  <div class="datasets">
    <div class="facet-filters">
      <div class="visible-xs visible-sm">
        <a href="#" class="hide-facets">
          <i class="icon-remove-circle icon-4x"></i>
        </a>
      </div>

  </div>
{% endmacro %}

{% macro contact_details(name, email, phone, web_url, web_name) %}
  <!--! Contact details -->
      {% if email and '@' in email %}
        <li>Email:
          <a href="mailto:{{email}}">{{email}}</a>
        </li>
      {% else %}
        {% if email and 'http' in email %}
        <li>Web contact form:
          <a href="{{email}}">{{email}}</a>
        </li>
        {% else %}
          {% if email %}
            <li>Email:
              {{email}}
            </li>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if phone %}
      <li>Phone:
        {{phone}}
      </li>
      {% endif %}
      {% if web_url %}
      <li>Web:
        <a href="{{web_url}}">{{h.truncate(web_name or web_url, 32)}}</a>
      </li>
      {% endif %}
      {% if not (email or phone or web_url) %}
        <p><em>No details supplied</em></p>
      {% endif %}
{% endmacro %}

{% macro format_box(format_name) %}
    <div class="format-box">
      {% if format_name %}
      <span property="dc:format">{{h.dgu_format_name(format_name)}}</span>
      {% endif %}
    </div>
{% endmacro %}

{% macro primary_theme_input(data, errors) %}
  <!--! Form input for primary/secondary themes -->
  {% for theme, theme_dict in h.sorted_list(h.themes().iteritems()) %}
      <label class="radio js-tooltip" data-original-title="{{theme_dict['description'].replace('£', '&pound;')}}">
        <input type="radio" name="theme-primary" value="{{theme_dict['title']}}" {% if data.get('theme-primary', '') == theme_dict['title'] %}checked="checked"{% endif %} />
          {{theme_dict['title']}}
      </label>
  {% endfor %}
  {% if errors.get('theme-primary', '') %}
    <p class="field_error">{{errors.get('theme-primary', '')}}</p>
  {% endif %}
{% endmacro %}

{% macro secondary_theme_input(data, errors) %}
  {% for theme, theme_dict in h.sorted_list(h.themes().iteritems()) %}
    <label class="checkbox js-tooltip" data-original-title="{{theme_dict['description'].replace('£', '&pound;')}}">
      <input type="checkbox" name="theme-secondary" value="{{theme_dict['title']}}" {% if theme_dict['title'] in h.secondary_themes(data) %}checked="checked"{% endif %}/>
        {{theme_dict['title']}}
    </label>
  {% endfor %}
  {% if errors.get('themes-secondary', '') %}
    <p class="field_error">{{errors.get('themes-secondary', '')}}</p>
  {% endif %}
{% endmacro %}
