<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <py:def function="paginator(pageobj)">
    <py:with vars="
      page=pageobj.page;
      numpages=pageobj.page_count;
      url_for_page=lambda x:pageobj._url_generator(None,x)
    ">
    <div class="dgu-pagination">
      <ul class="pagination">
        <li>
          <a py:if="page>1" href="${url_for_page(page-1)}">&laquo;</a>
          <span py:if="page==1">&laquo;</span>
        </li>
        <li py:for="(text,url) in h.pagination_links(page,numpages,url_for_page)">
          <a py:if="url" href="${url}">${text}</a>
          <span py:if="not url">${text}</span>
        </li>
        <li>
          <a py:if="numpages-page>0" href="${url_for_page(page+1)}">&raquo;</a>
          <span py:if="page==numpages">&raquo;</span>
        </li>
      </ul>
    </div>
    </py:with>
    <div class="clearfix clearfix-ie7"></div>
  </py:def>

<py:def function="breadcrumbs(kvlist)">
  <div class="col-md-12">
    <ul id="breadcrumbs">
      <li><a href="/"><i class="icon-home"></i></a></li>
      <py:for each="k,v in kvlist">
        <li class="spacer">&nbsp;/&nbsp;</li>
        <li><a href="${v}">${k}</a></li>
      </py:for>
    </ul>
  </div>
</py:def>

 <py:def function="ons_grouped_table(keys, res_count=None)">
    <py:for each="k in keys">
      <div py:if="len(keys) > 1" style='margin-top: 12px;'>
        <h4 >ONS Release: ${k or "No name"} <span class="badge resources-badge">${len(h.get_resources_for_ons_release(k))}</span>
        </h4>
      </div>
      <py:for each="res in h.get_resources_for_ons_release(k, res_count)">
      <div class="resource-row">
        <div class="text-overlay">
          <a href="${h.url_for(controller='package', action='resource_read', id=c.pkg_dict['name'], resource_id=res['id'])}" class="btn">${'Preview' if h.predict_if_resource_will_preview(res) else 'Details'}</a>
          <div class="btn-group">
            <a href="${res.get('url', '')}" class="btn btn-primary" onclick="${h.ga_download_tracking(res)}">
              Download
            </a>
            <button class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
              py:attrs="{'disabled':'disabled'} if not h.get_cache_url(res) else {}">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="${res.get('url', '')}" onclick="${h.ga_download_tracking(res)}">
                  Download
                </a>
              </li>
              <li>
                <py:if test="h.get_cache_url(res)">
                  <a href="${h.get_cache_url(res)}" class="js-tooltip" title="Cached by data.gov.uk on: ${h.render_datestamp(res.get('cache_last_updated')) or 'unknown date'}" onclick="${h.ga_download_tracking(res, 'download-cache')}">
                    Cached
                  </a>
                </py:if>
                <py:if test="not h.get_cache_url(res)">
                  <a class="disabled">(no cache available)</a>
                </py:if>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="resource-row-format">
          <py:if test="res.get('gemini',False)">
            ${format_box(res.get('type',''))}
          </py:if>
          <py:if test="not res.get('gemini',False)">
            ${format_box(res.get('format',''))}
          </py:if>
        </div>
        <div class="resource-row-text">
          <!-- Attached to timeseries resources and additional resources -->
          <div class="hover-text">
            <!-- Attached to Additional Links which are scrape sources -->
            <py:if test="res.get('scraped') or res.get('scraper_url')">
              ${h.scraper_icon(res, alt=if_(res.get('scraper_url'), "This URL leads to data files which are being added automatically, using the scraper at: https://scraperwiki.com/scrapers/%s" % res.get('scraper_url'), ""))}
            </py:if>
            ${res.get('date')}
            ${h.resource_display_name(res)}
          </div>
        </div>
      </div>
      </py:for>
      <div class="clearfix"></div>
    </py:for>
      <div py:if="not c.all_resources and len(h.get_ons_releases()) > 1" style="margin:10px;" >
        <a href="${h.url_for(controller='ckanext.dgu.controllers.package:PackageController', action='read', id=c.pkg.name)}?all" class="notes-read-more">View all ${len(h.individual_resources())} resources in ${h.ons_release_count()} releases&raquo;</a>
      </div>
      <div py:if="c.all_resources" style="margin:10px;" >
        <a href="${h.url_for(controller='ckanext.dgu.controllers.package:PackageController', action='read', id=c.pkg.name)}" class="notes-read-more">View less resources &raquo;</a>
      </div>
  </py:def>

  <!-- pure one-liner to avoid whitespace glitches -->
  <py:def function="if_(testValue,stringIfTrue,stringIfFalse='')"><py:if test="testValue">${stringIfTrue}</py:if><py:if test="not testValue">${stringIfFalse}</py:if></py:def>

  <div py:def="search_form(mini=False, placeholder='Search for datasets...', set_fields=None, extra_options=None)" class="search-area">
    <div class="clearfix dgu-equal-height" data-selector=".auto-height">
      <div class="${if_(mini,'mini','left')}">
        <div class="left-inner auto-height">
        <form class="form-search" action="${h.url_for(controller='package', action='search')}" method="GET">
          <div class="input-group">
            <input class="form-control" type="text" name="q" value="${c.q}" results="0" placeholder="${placeholder}" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <i class="icon-search"></i>
              </button>
            </span>
          </div>
          <py:if test="c.fields">
            <py:for each="(k, v) in c.fields">
              <input type="hidden" name="${k}" value="${v}" py:if="k != 'unpublished' or k != 'core-dataset'"/>
            </py:for>
          </py:if>
          <py:if test="set_fields">
            <py:for each="(k, v) in set_fields.items()">
              <input type="hidden" name="${k}" value="${v}" />
            </py:for>
          </py:if>
          <py:if test="request.params.get('ext_bbox','')">
            <input type="hidden" id="ext_bbox" name="ext_bbox" value="${request.params.get('ext_bbox','')}" />
          </py:if>
        </form>
        <py:if test="extra_options">
          ${extra_options()}
        </py:if>
        </div>
      </div>
      <div class="right" py:if="not mini">
        <div class="right-inner auto-height">
        <div class="chevron"></div>
        <py:if test="not c.query_error" py:with="count = c.page.item_count if c.page not in (None, '') else c.package_count or 0">
          <div class="result-count">${count}</div>
          <div class="result-count-footer">Dataset${if_(count!=1,'s')}</div>
        </py:if>
        <py:if test="c.query_error">
          <div class="result-count-footer">Search Error</div>
        </py:if>
        </div>
      </div>
    </div>
  </div>

  <py:def function="map_preview_button_direct(pkg_dict,small=True)">
    <a href="/data/map-preview?${h.get_wms_info_urls(pkg_dict)}${'&amp;n=%s&amp;w=%s&amp;e=%s&amp;s=%s' % h.get_wms_info_extent(pkg_dict) if h.get_wms_info_extent(pkg_dict) else ''}" class="btn btn-default ${if_(small,'btn-xs','')} btn-info btn-preview preview-now"><i class="icon-map-marker"></i>&nbsp; Preview on Map</a>
  </py:def>

  <div py:def="package_list_from_dict(packages,mini=False)" class="common-dataset-list">
    <div class="${if_(mini,'row')}">
      <py:for each="i in range(len(packages))">
        <div class="clearfix visible-lg" py:if="i%4==0"></div>
        <div class="clearfix visible-md clearfix-ie7" py:if="i%3==0"></div>
        <div class="clearfix visible-sm" py:if="i%2==0"></div>
        <py:with vars="
          package=packages[i];
          unpublished=h.is_unpublished_item(packages[i]);
          title=packages[i].get('title') or packages[i].get('name');
          primary_theme=h.get_primary_theme(packages[i])">
          <div class="${if_(mini,'col-lg-3 col-md-4 col-sm-6')}">
          <div class="dataset dataset-summary theme-${primary_theme or 'none'} ${if_(mini,'mini')} ${if_(unpublished,'unpublished')}">
           <a class="dataset-header" href="${h.url_for(controller='package', action='read', id=package.get('name'))}">
             <div class="theme-name">${primary_theme or '(Uncategorised)'}</div>
             <div class="underlined">${title} <span class="text-unpublished" py:if="unpublished">(unpublished)</span></div>
           </a>
           <div class="dataset-body">
             <div class="left">
               <a class="dataset-publisher" href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=h.package_publisher_dict(package).get('name', ''))}">
                 ${h.package_publisher_dict(package).get('title', '')}
               </a>
               <div class="dataset-description">
                 ${h.markdown_extract(package.notes)}
               </div>
             </div>
             <div class="right">
                <!--! AA suggested he wanted something like this, but not enabling it so
                      that Tom doesn't shout -->
                <py:if test="h.is_core_dataset(package)">
                  <div class="format-box" style='background-color: #8BC658;'>NII</div>
                </py:if>

               <py:for each="format in h.formats_for_package(package)">
                 ${format_box(format.lower())}
               </py:for>
               <py:if test="not mini and h.get_wms_info_urls(package)">
                 <div class="map-buttons">
                   <span style="display: none;" class="js-data-id">${package.id}</span>
                   <span style="display: none;" class="js-data-title">${package.get('title')}</span>
                   <span style="display: none;" class="js-data-querystring">${h.get_wms_info_urls(package)}</span>
                   <span style="display: none;" class="js-data-extent">${','.join(h.get_wms_info_extent(package))}</span>
                   ${map_preview_button_direct(package)}
                   <py:with vars="in_basket=package.id in session.get('preview_list',[])">
                     <span 
                          class="preview-add js-dataset-${package.id}-add"
                          style="${if_(in_basket,'display: none;')}">
                            <button data-id="${package.id}" class="btn btn-default btn-xs btn-info btn-preview btn-basket"><i class="icon-shopping-cart"></i>&nbsp; Add to Preview List</button>
                     </span>
                     <span 
                          class="preview-remove js-dataset-${package.id}-remove"
                          style="${if_(not in_basket,'display: none;')}">
                          <button data-id="${package.id}" class="btn btn-danger btn-xs btn-preview btn-basket"><i class="icon-shopping-cart"></i>&nbsp; Remove from List</button>
                     </span>
                   </py:with>
                 </div>
               </py:if>
             </div>
             <div class="clearfix clearfix-ie7"> &nbsp;</div>
             <a class="view-data-link" href="${h.url_for(controller='package', action='read', id=package.get('name'))}">
               View Data
             </a>
             <!--div class="property">
               ${feedback_summary(package)}
             </div-->
             <!--span class="property pull-right">
               ${h.updated_string(package)}: ${h.render_datetime(h.updated_date(package), with_hours=False)}
             </span-->
           </div>
           </div>
         </div>
       </py:with>
      </py:for>
    </div>
  </div>

  <py:def function="feedback_summary(package,render_title=True,large=False)">
    <div class="feedback-summary ${if_(large,'large')}" py:with="comment_dict=h.unpublished_comments_lookup(package)">
      <div py:if="render_title" class="pull-left feedback-summary-title">Feedback:</div>
      <a class="js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Economic growth" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=package.name)}"><i class="icon-gbp"></i>  ${comment_dict['economic']}</a>
      <a class="js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Social growth" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=package.name)}"><i class="icon-group"></i>  ${comment_dict['social']}</a>
      <a class="js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Effective public services" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=package.name)}"><i class="icon-road"></i>  ${comment_dict['effective']}</a>
      <a class="js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Potential links to other datasets" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=package.name)}"><i class="icon-code-fork"></i>  ${comment_dict['linked']}</a>
      <a class="js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Other key data" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=package.name)}"><i class="icon-quote-left"></i>  ${comment_dict['other']}</a>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </py:def>

  <py:def function="facet_line(facet_item, facet_key, alternative_url=None)">
      <div class="facet-option">
        <a href="${h.dgu_drill_down_url(h.facet_params_to_keep(), {facet_key: facet_item['name']}, alternative_url=alternative_url)}">
          ${h.render_facet_value(facet_key,facet_item['name'])}
          (${facet_item['count']})
        </a>
      </div>
  </py:def>

  <py:def function="facet_unline(facet_key,facet_value)">
      <div class="facet-option facet-option-selected">
        <a href="${c.remove_field(facet_key, facet_value)}">
          <div class="facet-kill pull-right">
            <i class="icon-large icon-remove-sign"></i>
          </div>
          ${h.render_facet_value(facet_key,facet_value)}
        </a>
      </div>
  </py:def>

  <py:def function="facet_box(facet_key, title, if_empty, more_button=None, sort_by='count', alternative_url=None)">
      <py:with vars="facet_items=h.unselected_facet_items(facet_key, limit=100, sort_by=sort_by)">
          <div class="facet-box-unboxed">
              <h4 class="facet-title">${title}</h4>
              <div class="facet-options">
                <py:for each="preselected in [ v for (k,v) in c.fields if k==facet_key ]">
                  ${facet_unline(facet_key,preselected)}
                </py:for>
                <py:if test="more_button">
                    <py:for each="facet_item in facet_items[:5]">
                        ${facet_line(facet_item, facet_key, alternative_url=alternative_url)}
                    </py:for>
                    <py:if test="len(facet_items)>5">
                      <div id="${more_button}-items" style="display: None">
                        <py:for each="facet_item in facet_items[5:]">
                          ${facet_line(facet_item, facet_key, alternative_url=alternative_url)}
                        </py:for>
                      </div>
                      <a id="${more_button}" class="facet-expand-collapse" href="#">
                        <div class="expander">
                          <i class="icon-double-angle-down"></i>&nbsp; more &nbsp;<i class="icon-double-angle-down"></i>
                        </div>
                        <div class="collapser">
                          <i class="icon-double-angle-up"></i>&nbsp; less &nbsp;<i class="icon-double-angle-up"></i>
                        </div>
                      </a>
                    </py:if>
                </py:if>
                <py:if test="not more_button">
                    <py:for each="facet_item in facet_items">
                        ${facet_line(facet_item, facet_key, alternative_url=alternative_url)}
                    </py:for>
                </py:if>
                <py:if test="facet_key=='publisher'">
                    <div class="facet-option" py:if="h.link_subpub()">
                      <a href="${h.search_with_subpub(alternative_url)}">Include sub-publishers</a>
                    </div>
                    <div class="facet-option" py:if="not facet_items and not h.link_subpub()">${if_empty}</div>
                </py:if>
                <py:if test="facet_key not in ['publisher']">
                    <div class="facet-option" py:if="not facet_items">${if_empty}</div>
                </py:if>
              </div>
          </div>
      </py:with>
  </py:def>

  <div py:def="facet_filters()" class="datasets">
    <div class="facet-filters">
      <div class="visible-xs visible-sm">
        <a href="#" class="hide-facets">
          <i class="icon-remove-circle icon-4x"></i>
        </a>
      </div>
      ${facet_box(
          'unpublished',
          'Show only...',
          ''
          )}
      <div class="facet-divider"></div>
      ${facet_box(
          'core_dataset',
          'NII datasets',
          ''
          )}
      <div class="facet-divider"></div>

      ${facet_box(
          'license_id-is-ogl',
          'Licence',
          'There are no further licence filters to apply.'
      )}
      <div class="facet-divider"></div>
      <!--
      <label class="checkbox pull-right search-theme-checkbox">
        <input type="checkbox" id="search-theme-mode" py:attrs="h.search_theme_mode_attrs()"></input>
        Only primary theme
      </label>
      <div class="facets-theme-primary ${if_(not h.search_theme_mode_secondary(),'enabled','disabled')}">
        -->
      <div class="facets-theme-primary">
      ${facet_box(
          'theme-primary',
          'Theme',
          'There are no further theme filters to apply.',
          more_button='more-prithemes-button'
      )}
      </div>
      <!--
      <div class="facets-theme-all ${if_(h.search_theme_mode_secondary(),'enabled','disabled')}">
      ${facet_box(
          'all_themes',
          'Themes',
          'There are no further theme filters to apply.',
          more_button='more-themes-button'
      )}
      </div>
      -->
      <!--
      ${facet_box(
          'tags',
          'Tags',
          'There are no further tag filters to apply.',
          more_button='more-tags-button'
      )}
      -->
      <div class="facet-divider"></div>
      ${facet_box(
          'res_format',
          'Resource Format',
          'There are no further resource format filters to apply.',
          more_button='more-formats-button'
      )}
      <div class="facet-divider"></div>
      ${facet_box(
          'publisher',
          'Publisher',
          'There are no further publisher filters to apply.',
          more_button='more-publishers-button'
      )}
      <div class="facet-divider"></div>
  <!--!    ${facet_box(
          'tags',
          'Tags',
          'There are no further tag filters to apply.',
          more_button='more-tags-button'
      )} -->
      ${facet_box(
          'openness_score',
          'Openness Score (beta)',
          'There are no further openness filters to apply.',
          sort_by='name'
      )}
      <div class="facet-divider"></div>

    <!-- Create a nested list of UKLP filters -->
    <div class="facet-box-unboxed">
      <h4>UK Location Dataset Type</h4>
      <div class="facet-options" py:with="show_uklp = bool(len(h.unselected_facet_items('resource-type')))">
        <py:if test="show_uklp">
          <py:for each="facet_item in h.unselected_facet_items('UKLP')">
            ${facet_line(facet_item, 'UKLP')}
          </py:for>
          <py:for each="facet_item in h.unselected_facet_items('resource-type', limit=100, sort_by='count')">
            ${facet_line(facet_item,'resource-type')}
            <py:if test="facet_item['name']=='service'">
              <py:for each="sub_item in h.unselected_facet_items('spatial-data-service-type', limit=100, sort_by='count')">

                ${facet_line(sub_item, 'spatial-data-service-type')}

              </py:for>
            </py:if>
          </py:for>
        </py:if>
        <py:if test="not show_uklp">
            <div class="facet-option">
                There are no further type filters to apply.
            </div>
        </py:if>
      </div>
    </div>
    </div><!-- /facet-filters -->
  </div>

  <!--! Contact details -->
  <py:def function="contact_details(name, email, phone, web_url, web_name)">
        <py:choose test="">
          <li py:when="email and '@' in email">Email:
            <a href="mailto:${email}">${email}</a>
          </li>
          <li py:when="email and 'http' in email">Web contact form:
            <a href="${email}">${email}</a>
          </li>
          <li py:when="email">Email:
            ${email}
          </li>
        </py:choose>
        <li py:if="phone">Phone:
          ${phone}
        </li>
        <li py:if="web_url">Web:
          <a href="${web_url}">${h.truncate(web_name or web_url, 32)}</a>
        </li>
        <p py:if="not (email or phone or web_url)"><em>No details supplied</em></p>
  </py:def>

  <py:def function="format_box(format_name)">
    <div class="format-box">
      <span py:if="format_name" property="dc:format">${h.dgu_format_name(format_name)}</span>
    </div>
  </py:def>

</html>
