<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <xi:include href="package/basket.html" />

  <py:def function="if_(testValue,stringIfTrue,stringIfFalse='')">
    <py:if test="testValue">${stringIfTrue}</py:if>
    <py:if test="not testValue">${stringIfFalse}</py:if>
  </py:def>

  <table py:def="search_form()" class="search-area">
    <tr>
      <td class="left" py:if="not c.query_error">
        <div class="result-count">${c.page.item_count if c.page not in (None, '') else c.package_count or 0}</div>
        <py:if test="request.params">      
          <div class="result-count-footer">Results</div>
        </py:if>
        <py:if test="not request.params">      
          <div class="result-count-footer">Datasets</div>
        </py:if>
      </td>
      <td class="left" py:if="c.query_error">
        <div class="result-count-footer">Search Error</div>
      </td>
      <td class="right">
        <form id="dataset-search" class="form-search dataset-search" action="${h.url_for(controller='package', action='search')}" method="GET">
          <input id="q" type="text" class="input-medium" name="q" value="${c.q}" results="0" placeholder="${_('Search...')}" />
          <div class="search-spinner">&nbsp;</div>
          <input type="submit" value="${_('Search')}" class="btn btn-primary button" />
          <span py:if="c.fields">
          <py:for each="(k, v) in c.fields"> 
            <input type="hidden" name="${k}" value="${v}" />  
          </py:for>
          </span>
<?python
bbox = request.params.get('ext_bbox','')
subpub = request.params.get('parent_publishers','')
?>
          <py:if test="bbox">
            <input type="hidden" id="ext_bbox" name="ext_bbox" value="${bbox}" />
          </py:if>
          <div id="dataset-search-ext"></div>
        </form>
        <div class="search-facets">
          <div class="pull-left" style="padding-top: 5px;" py:if="c.fields">Your search:</div>
          <div class="pull-left" style="width: 80%;">
            <py:for each="(field, value) in c.fields">
              <a class="facet" href="${c.remove_field(field, value)}">
                <span class="name">${h.facet_title(field)}</span>:
                <span class="value">${value}</span>
                <span class="x">x</span>
              </a>
            </py:for>
            <py:if test="bbox">
              <a class="facet" href="${c.remove_field('ext_bbox', bbox)}">
                <span class="name">${h.facet_title('Location')}</span>:
                <span class="value">${bbox}</span>
                <span class="x">x</span>
              </a>
            </py:if>
            <py:if test="subpub">
              <?python from ckanext.dgu.lib.helpers import search_without_subpub ?>
              <a class="facet" href="${search_without_subpub()}">
                <span class="name">Including sub-publishers</span>
                <span class="x">x</span>
              </a>
            </py:if>
          </div>
          <div class="clearfix"></div>
        </div>
      </td>
    </tr>
  </table>



  <ul py:def="package_list_from_dict(packages)" class="common-dataset-list">
   <li py:for="package in packages">
     ${package_summary(package, show_preview_buttons=True)}
   </li>
  </ul>

  <div py:def="package_summary(package, show_preview_buttons)" class="dataset dataset-summary boxed">
     <div py:with="title=package.get('title') or package.get('name')">
       <img py:if="h.is_service(package)" class="dataset-ribbon" src="/images/service-ribbon.png" />
       <a class="dataset-header" href="${h.url_for(controller='package', action='read', id=package.get('name'))}">
         <img class="dataset-icon" src="${'/images/dataset-icon.png' if not h.is_service(package) else '/images/dataset-icon-service.png'}" title="${h.name_for_uklp_type(package)}"/>
         <h3><span class="underlined">${title}</span></h3>
       </a>
         <span class="property property-right">
           ${h.updated_string(package)}: ${h.render_datetime(h.updated_date(package), with_hours=False)}
         </span>
       <div class="property">
          Publisher:&nbsp;
            <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=h.package_publisher_dict(package).get('name', ''))}">
              ${h.package_publisher_dict(package).get('title', '')}
            </a>
       </div>
       <div py:if="h.uklp_display_provider(package)" class="property">Provider:&nbsp; ${h.uklp_display_provider(package).strip('"')}</div>
       <div class="dataset-description">
         ${h.markdown_extract(package.notes)}
       </div>
        <py:if test="show_preview_buttons">
          ${map_preview_buttons(package.id, package)}
        </py:if>
       <div class="property">
       <py:if test="package.get('resources', [])">
         <div py:if="h.formats_for_package(package)" class="property">Formats:&nbsp;
          <ul class="dataset-formats">
            <py:for each="format in h.formats_for_package(package)">
              <li>${format}</li>
            </py:for>
          </ul>
         </div>
        </py:if>
      </div>
        <div class="owners">
        </div>
        <div class="clearfix"></div>
          <!--!ul py:if="package.tags" class="tags">
            <li py:for="tag in package.tags">${tag.name}</li>
          </ul-->
        </div>
  </div>


  <py:def function="dgu_facet_li(items, code, limit=5, label=lambda n: n, count_label=lambda c: ' (%d)'%c)">
    <li py:for="facet_item in items"
        py:if="not (code, facet_item['name']) in c.fields">
          <a href="${h.dgu_drill_down_url(h.facet_params_to_keep(), {code: facet_item['name']})}">
          <!--!<span py:if="'format' in code.lower()">${h.icon(h.format_icon(facet_item['name']))}</span>-->
            ${label(facet_item['name'])}</a>${count_label(facet_item['count'])}
    </li>
  </py:def>

  <py:def function="dgu_facet_sidebar(code, params_to_keep, limit=5, more_button=None, label=lambda n: n, title=h.facet_title, if_empty=None, sort_by='count', count_label=lambda c: ' (%d)'%c)">
      <div py:if="if_empty is not None or len(h.unselected_facet_items(code, limit=limit))" class="facet-box">
          <h4>
            ${title(code)}
          </h4>
          <ul class="facet-options">
              ${dgu_facet_li(h.unselected_facet_items(code, limit=100 if more_button else limit, sort_by=sort_by)[:limit], code, limit=limit, label=label, count_label=count_label)}
          </ul>
          <py:if test="more_button and len(h.unselected_facet_items(code, limit=100 if more_button else limit, sort_by=sort_by)) > limit">
            <a id="${more_button}" class="more-button js-more-button" href="#"><img src="/images/arrow-down.png"/></a>
            <ul class="facet-options" id="${more_button}-items" style="display: None">
              ${dgu_facet_li(h.unselected_facet_items(code, limit=100 if more_button else limit, sort_by=sort_by)[limit:], code, limit=limit, label=label, count_label=count_label)}
            </ul>
          </py:if>
          <py:if test="code=='publisher'">
              <ul py:if="h.link_subpub()" class="fact-options">
                  <li><a href="${h.search_with_subpub()}">Include sub-publishers</a></li>
              </ul>
              <span py:if="not h.unselected_facet_items(code, limit=100 if more_button else limit, sort_by=sort_by) and not h.link_subpub()">${if_empty}</span>
          </py:if>
          <span py:if="code!='publisher' and not h.unselected_facet_items(code, limit=100 if more_button else limit, sort_by=sort_by)">${if_empty}</span>
      </div>
  </py:def>


  <div py:def="facet_filters()" class="datasets">

    ${dgu_facet_sidebar('license_id-is-ogl', h.facet_params_to_keep(), title=lambda n: 'Licence', label=lambda n: 'Open Government Licence' if n == 'true' else 'Non-Open Government Licence', if_empty='There are no further licence filters to apply.')}

    ${dgu_facet_sidebar('tags', h.facet_params_to_keep(), if_empty='There are no further tag filters to apply.', more_button='more-tags-button')}

    ${dgu_facet_sidebar('res_format', h.facet_params_to_keep(), title=lambda n:'Resource Format', if_empty='There are no further resource format filters to apply.', more_button='more-formats-button')}

    ${dgu_facet_sidebar('publisher', h.facet_params_to_keep(), label=h.group_name_to_title, if_empty='There are no further publisher filters to apply.', more_button='more-publishers-button')}

    ${dgu_facet_sidebar('openness_score', h.facet_params_to_keep(), label=h.stars_label, title=lambda n:'Openness Score (beta)', if_empty='There are no further openness filters to apply.', sort_by='name', limit=6)}

    <div class="facet-box" id="map-based-search">
      <h4>
        UK Location Map Search
      </h4>
      <ul class="facet-options">
          <li>
            <a href="${h.dgu_drill_down_url(h.facet_params_to_keep(), {}, alternative_url='/data/map-based-search')}">
              <py:if test="'ext_bbox' not in request.params">
                Conduct Map Based Search
              </py:if>
              <py:if test="'ext_bbox' in request.params">
                New Map Based Search
              </py:if>
            </a>
          </li>
      </ul>
    </div>

    <!-- Create a nested list of UKLP filters -->
    <div class="facet-box">
      <h4>
        UK Location Dataset Type
      </h4>
      <ul py:if="len(h.unselected_facet_items('resource-type'))">
        ${dgu_facet_li(h.unselected_facet_items('UKLP'), 'UKLP', label=lambda n: 'UK Location')}
        <ul class="facet-options">

          <!--
            # This dgu_facet_li call has been expanded, to insert the service type filters.
            ${dgu_facet_li(h.unselected_facet_items('resource-type', limit=100, sort_by='count'), 'resource-type')} -->
              <li py:for="facet_item in h.unselected_facet_items('resource-type', limit=100, sort_by='count')"
                  py:if="not ('resource-type', facet_item['name']) in c.fields">
                    <a href="${h.dgu_drill_down_url(h.facet_params_to_keep(), {'resource-type': facet_item['name']})}">
                      ${facet_item['name']}</a>${ ' (%d)'% facet_item['count']}
                      <ul py:if="facet_item['name'] == 'service'" class="facet-options">
                        ${dgu_facet_li(h.unselected_facet_items('spatial-data-service-type', limit=100, sort_by='count'), 'spatial-data-service-type')}
                      </ul>
              </li>
        </ul>
      </ul>
      <span py:if="not len(h.unselected_facet_items('resource-type'))">There are no further type filters to apply.</span>
    </div>

  </div>

  <!--! List of tags: pass in a list of tag name and this renders the standard
        tag listing -->
  <py:def function="tag_list_from_name(tags)" class="tags clearfix">
    <py:for each="tag in tags">
      <a href="/data/search?tags=${tag}" class="tag">${tag}</a>
    </py:for>
  </py:def>

  <!--! List of tags: pass in a collection of tags and this renders the standard
        tag listing -->
  <ul py:def="tag_list_from_dicts(tags)" class="tags clearfix">
    <py:for each="tag in tags">
      <a href="/data/search?tags=${tag['name']}" class="tag">${tag['display_name']}</a>
    </py:for>
  </ul>

  <!--! Contact details -->
  <py:def function="contact_details(name, email, phone, web_url, web_name)">
        <py:choose test="">
          <li py:when="email and '@' in email">Email:
            <a href="mailto:${email}">${email}</a>
          </li>
          <li py:when="email and 'http' in email">Web contact form:
            <a href="${email}">${email}</a>
          </li>
          <li py:when="email">Email:
            ${email}
          </li>
        </py:choose>
        <li py:if="phone">Phone:
          ${phone}
        </li>
        <li py:if="web_url">Web:
          <a href="${web_url}">${h.truncate(web_name or web_url, 32)}</a>
        </li>
        <p py:if="not (email or phone or web_url)" class="alert-contact-details">No details supplied</p>
  </py:def>

</html>
