<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! Herein can be found generic helper methods for a whole bunch of common
        templating issues -->

  <xi:include href="package/basket.html" />  

  <ul py:def="package_list_from_dict(packages)" class="datasets">
   <?python
      import ckanext.dgu.lib.helpers as dgu_helpers
    ?>
   <li py:for="package in packages">
     <?python is_service = dgu_helpers.is_service(package)
     uklp_type = dgu_helpers.get_uklp_package_type(package)
     if uklp_type:
         item_type = '%s (UK Location)' % uklp_type.capitalize()
     else:
         item_type = 'Dataset'
     ?>
     <div class="dataset boxed" py:with="title=package.get('title') or package.get('name')">
       <img py:if="is_service" class="dataset-ribbon" src="/images/service-ribbon.png" />
     <div class="dataset-header">
       <img class="dataset-icon" src="${'/images/dataset-icon.png' if not is_service else '/images/dataset-icon-service.png'}" title="${item_type}"/>
        <h3 class="clearfix">
          ${h.link_to(title, h.url_for(controller='package', action='read', id=package.get('name')))}
        </h3>
     </div>
     <h4>
          <strong>Publisher</strong> 
          :&nbsp;
            <?python
              groups = package.get('groups', [])
              publishers = [ g for g in groups if g.get('type') == 'publisher' ]
              publisher = publishers[0] if publishers else {'name':'', 'title': ''}
            ?>
            <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=publisher.get('name', ''))}">
              ${publisher.get('title', '')}
            </a>
     </h4>
     <?python
              display_provider = False
              uklps = [d for d in package.get('extras', {}) if d['key'] == 'UKLP']
              is_uklp = uklps[0]['value'] == '"True"' if len(uklps) else False
              providers = [d for d in package.get('extras', {}) if d['key'] == 'provider']
              provider = providers[0]['value'] if len(providers) else ''
              display_provider = is_uklp or bool(provider)
     ?>
     <h4 py:if="display_provider"><strong>Provider:</strong> ${provider.strip('"')}</h4>
     <div class="dataset-description">
        ${h.markdown_extract(package.notes)}
     </div>
     ${map_preview_buttons(package.id, package)}
     <py:if test="package.get('resources', [])">
     <h4>Formats:
          <ul class="dataset-formats">
            <py:for each="format in set([res.get('format') for res in package.resources])">
              <li>${format}</li>
            </py:for>
          </ul>
        </h4>
     </py:if>
      <div class="owners">
      </div>
      <div class="clearfix"></div>
        <!--ul py:if="package.tags" class="tags">
          <li py:for="tag in package.tags">${tag.name}</li>
        </ul-->
     </div>
    </li>
  </ul>

  <py:def function="dgu_facet_sidebar(code, limit=5, label=lambda n: n, title=h.facet_title, if_empty=None, count_label=lambda c: ' (%d)'%c)">
      <div py:if="if_empty is not None or len(h.unselected_facet_items(code, limit=limit))" class="facet-box">
          <h4><img src="/images/arrow.png" class="arrow" /> ${title(code)}</h4>
          <ul class="facet-options">
              <li py:for="facet_item in h.unselected_facet_items(code, limit=limit)"
                  py:if="not (code, facet_item['name']) in c.fields">
                    <a href="${c.drill_down_url(**{code: facet_item['name']})}">
                    <!--!<span py:if="'format' in code.lower()">${h.icon(h.format_icon(facet_item['name']))}</span>-->
                      ${label(facet_item['name'])}</a>${count_label(facet_item['count'])}
              </li>
          </ul>
          <p py:if="not len(h.unselected_facet_items(code, limit=limit))">${if_empty}</p>
      </div>
  </py:def>


  <div py:def="facet_filters()" class="datasets">

    ${dgu_facet_sidebar('license_id-is-ogl', title=lambda n: 'Licence', label=lambda n: 'Open Government Licence' if n == 'true' else 'Non-Open Government Licence', if_empty='There are no further licence filters to apply.')}

    ${dgu_facet_sidebar('tags', if_empty='There are no further tag filters to apply.')}

    ${dgu_facet_sidebar('res_format', title=lambda n:'Resource Format', if_empty='There are no further resource format filters to apply.')}

    ${dgu_facet_sidebar('publisher', label=h.group_name_to_title, if_empty='There are no further publisher filters to apply.', limit=5)}

    <div class="facet-box" id="map-based-search">
      <h4><img src="/images/arrow.png" class="arrow"/> UK Location Map Search</h4>
      <ul class="facet-options">
        <py:if test="'ext_bbox' not in request.params">
          <li><a href="${c.drill_down_url(alternative_url='/data/map-based-search')}">Conduct Map Based Search</a></li>
        </py:if>
        <py:if test="'ext_bbox' in request.params">
          <li><a href="${c.drill_down_url(alternative_url='/data/map-based-search')}">New Map Based Search</a></li>
        </py:if>
      </ul>
    </div>

    <!-- Create a nested list of UKLP filters -->
    <div class="facet-box">
      <h4><img src="/images/arrow.png" class="arrow"/> UK Location Dataset Type</h4>
      <ul py:if="len(h.unselected_facet_items('resource-type'))">
        ${facet_li('UKLP', label_function=lambda n: 'UKLP', if_empty='UK Location')}
        <ul class="facet-options">
          ${facet_li('resource-type')}
        </ul>
      </ul>
      <p py:if="not len(h.unselected_facet_items('resource-type'))">There are no further type filters to apply.</p>
    </div>

  </div>

  <!--! List of tags: pass in a list of tag name and this renders the standard
        tag listing -->
  <py:def function="tag_list_from_name(tags)" class="tags clearfix">
    <py:for each="tag in tags">
      ${h.link_to(tag, h.url_for(controller='ckanext.dgu.controllers.tag:TagController', action='read', id=tag), class_="tag")}
    </py:for>
  </py:def>

</html>
