<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      > <!--<![endif]-->
<xi:include href="_util.html" />
<xi:include href="_dgu_util.html" />
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>${page_title()} - ${g.site_title}</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="${h.url_for_static(g.favicon)}" />

  <py:choose>
  <py:when test="defined('optional_feed')">
    ${optional_feed()}
  </py:when>
  <py:otherwise>
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History" href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:otherwise>
  </py:choose>

  <link rel="stylesheet" href="${h.url_for_static('/css/bootstrap.min.css')}" />
  <link rel="stylesheet" href="${h.url_for_static('/css/dgu.css')}" />
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery/1.7.1/jquery.js')}"></script>

  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/json2.js')}"></script>
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.tmpl/beta1/jquery.tmpl.js')}"></script>
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.cookie/jquery.cookie.min.js')}"></script>
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.chosen/0.9.7/chosen.js')}"></script>
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jquery.placeholder/jquery.placeholder.js')}"></script>
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/jqueryui/1.8.14/jquery-ui.min.js')}"></script>
  <script type="text/javascript" src="${h.url_for_static('/scripts/vendor/bootstrap/2.0.2/bootstrap.min.js')}"></script>

  <py:if test="defined('optional_head')">
    ${optional_head()}
  </py:if>

  <!-- An additional stylesheet targets old IE browsers -->
  <!--[if IE]>
    <link rel="stylesheet" href="${h.url_for_static('/css/dgu-ie.css')}" />
  <![endif]-->

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- TODO fix IE conditional commenting. For now, always include these files. -->
    <link rel="stylesheet" href="${h.url_for_static('/css/dgu-ie.css')}" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  ${h.literal(getattr(g, 'template_head_end', ''))}
</head>

<body class="${request.environ.get('pylons.routes_dict', {}).get('action')}
             ${request.environ.get('pylons.routes_dict', {}).get('controller').split(':')[-1]}
             ${defined('body_class') and body_class()}
  ">
  <div id="blackbar">
    <div class="container">
      <div id="hm-government-link">
        <img src="/images/crown.png" />HM Government
      </div>

      <span class="ckan-logged-in" style="display: none;">
        <div id="login-or-signup">
          You are logged-in as 
          <a href="${h.url_for(controller='user',action='me')}">${c.user}</a>.
          <a href="${h.url_for('/user/logout')}">Logout</a>.
        </div>
      </span>
      <span class="ckan-logged-out">
        <div id="login-or-signup">
          <a href="${h.url_for(controller='user',action='login')}">Log in</a>
          or 
          <a href="${h.url_for(controller='user',action='register')}">sign up</a>
        </div>
      </span>
    </div>
  </div>
  <div id="blackbar-underlay">
  </div>
  <div id="greenbar">
    <div class="container" id="branding">
      <a href="#">
        <img id="branding-logo" src="/images/dgu-logo.png" />
        <div id="branding-line1">DATA.GOV.UK</div>
        <div id="branding-line2">Opening up Government</div>
      </a>
    </div>
    <div class="container">
      <ul id="nav">
        <li><a href="#"><img src="/images/home-icon.png" class="nav-icon" />Home</a></li>
        <li class="active"><a href="${h.url_for(controller='data',action='index')}">Data</a></li>
        <li><a href="#">Participate</a></li>
        <li><a href="#">Apps</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Linked Data</a></li>
        <li><a href="#">Lab</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <ul id="subnav">
      <li><a href="#">apps</a></li>
      <span class="divider">&nbsp;|&nbsp;</span>
      <li><a href="#">community</a></li>
      <span class="divider">&nbsp;|&nbsp;</span>
      <li><a href="#">forum</a></li>
    </ul>
  </div>

  <div class="container content-start">
    <div class="row">
      <div class="span8 main-outer">
        <div id="main">
          <!-- Flash Messages -->
          <py:with vars="messages = list(h._flash.pop_messages())">
          <div class="flash-messages container">
            <div class="alert ${m.category}" py:for="m in messages">
              ${h.literal(m)}
            </div>
          </div>
          </py:with>
          <!-- Page Heading -->
          <py:if test="defined('page_heading')">
            <div class="boxed">
              <h1>${page_heading()}</h1>
              <!-- MinorNavigation -->
              <div id="minornavigation">
                  <minornavigation></minornavigation>
              </div>
            </div>
          </py:if>
          <!-- Content -->
          <div id="content">
            <py:if test="defined('content')">
              ${content()}
            </py:if>
            <content>
              <p>Master content template placeholder &hellip; please replace me.</p>
            </content>
          </div>
        </div><!-- /main -->
      </div><!-- /span8 -->
      <div class="span4 sidebar-outer">
        <div id="sidebar">
          <div class="upper">
          </div>
          <div class="lower">
            <ul class="widget-list">
              <py:if test="defined('primary_sidebar_extras')">
                ${primary_sidebar_extras()}
              </py:if>
              <primarysidebar>
                <!-- Primary Side Bar Goes Here -->
              </primarysidebar>
            </ul>
          </div><!--/lower -->
        </div><!-- /#sidebar -->
      </div><!-- /span4 -->
    </div><!-- /row -->
  </div><!-- /container -->


  <div class="footer">
    <footer class="container">
      <div class="row">
        <div class="span3">
          <div class="footer-section">
            <div class="textwidget">
              <ul>
                  <li>${h.link_to(_('About'), h.url_for(controller='home', action='about'))}</li>
                <li>
                  <a href="http://twitter.com/ckanproject">Twitter @ckanproject</a>
                </li>
                  <li>${h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=1))}</li>
                  <li>${h.link_to(_('API Docs'), 'http://wiki.ckan.net/API')}</li>
                <li>
                  <a href="http://ckan.org/contact/">Contact Us</a>
                </li>
                <li>
                  <a href="http://okfn.org/privacy-policy/">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div><!-- /footer-section -->
        </div>
        <div class="span3">
          <div class="footer-section">
            <div class="textwidget">
              <ul>
                <li>
                  <a href="${h.url(controller='user', action='index')}">
                    Users
                  </a>
                </li>
                <li>
                  <a href="${h.url(controller='tag', action='index')}">
                    Tags
                  </a>
                </li>
                <li py:if="'stats' in config.get('ckan.plugins','').split(' ')">
                  <a href="${h.url('stats')}">
                    Statistics
                  </a>
                </li>
                <li>
                  <a href="${h.url(controller='revision', action='index')}">
                    Revisions
                  </a>
                </li>
                <li>
                  <a href="${h.url(controller='authorization_group', action='index')}">
                    Authorization Groups
                  </a>
                </li>
                <li>
                  <a href="${h.url_for('ckanadmin_index')}">
                    Site Admin
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- /footer-section -->
        </div>
        <div class="span6">
          <div class="footer-section last">
            <div class="ckan-link">
              <strong>Powered by:</strong>
              <a href="http://ckan.org/">
                <img src="/images/ckan_logo_box_64px_wide.png"/>
                CKAN v${c.__version__}
              </a>
            </div>
          </div><!-- /footer-section -->
        </div>
      </div>
    </footer>
  </div> <!-- /footer -->

  <script src="${h.url_for_static('/scripts/vendor/modernizr/1.7/modernizr.min.js')}"></script>

  <script type="text/javascript">
    var CKAN = CKAN || {};
    CKAN.plugins = [
      // Declare js array from Python string
      ${['\'%s\', '%s  for s in config.get('ckan.plugins','').split(' ')]}
    ];
    <py:if test="config.get('ckan.storage.bucket', '')">
    CKAN.plugins.push('storage');
    </py:if>
    CKAN.SITE_URL = '${h.url('/')}';
    // later use will add offsets with leading '/' so ensure no trailing slash
    CKAN.SITE_URL = CKAN.SITE_URL.replace(/\/$/, '');
    $(document).ready(function() {
        var ckan_user = '${c.user}';
        if (ckan_user) {
            $(".ckan-logged-out").hide();
            $(".ckan-logged-in").show();
        }
        <!--! //DR: Not sure what this does 
        $('input[placeholder], textarea[placeholder]').placeholder();

		$(".chzn-select").chosen();
        -->
    });
  </script>

  <py:if test="defined('optional_footer')">
    ${optional_footer()}
  </py:if>

  ${h.literal(getattr(g, 'template_footer_end', ''))}

</body>
</html>



