{% import 'macros/form.html' as form %}

<form id="dataset-search" class="dataset-form form-horizontal" method="post" data-module="basic-form" enctype="multipart/form-data">
  {% block error_summary %}
    {% if error_summary %}
      <div class="alert alert-danger">
        {{ form.errors(error_summary) }}
        </div>
    {% endif%}
  {% endblock %}

  {% block basic_fields %}
 <div class="controls {% if errors and errors.get('title') %}has-error{% endif %}">
      <label for='name'>Collection title</label>
      <input type="text" class="form-control js-title" id='title' name='title' value="{{ data.get('title','') }}" autocomplete="off"/>
</div>

      <label class="control-label" for="name">Collection URL</label>
       {% if data.get('name', '') and not errors.get('name') %}
         <div class="controls ">
          <input type="hidden" name="name" value="{{data.get('name','')}}"/>
            https://data.gov.uk/{{data.get('name')}}
            <span class="js-tooltip" data-original-title="Please contact the system administrator to change your URL"><img src="/images/information-grey.png"></span>
         </div>
       {% else %}
        <div class="js-url-input controls input-group {% if errors and errors.get('name') %}has-error{% endif %}">
            <span class="input-group-addon" id="basic-addon1">https://data.gov.uk/collection/</span>
            <input id="name" name="name" type="text" value="{{data.get('name', '')}}" class="js-url-input form-control"/>
        </div>
       {% endif %}

      <label class="control-label" for="description">Collection Description</label>
      <div class="controls {% if errors and errors.get('description') %}has-error{% endif %}">
        <textarea id="description" name="description" rows="10" type="text" class="js-title form-control">{{data.get('description', '')}}</textarea>
        <small>The description can be written in <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a></small>
      </div>

      <label class="control-label" for="description">Collection datasets</label>
      <div class="controls">
        <input type="text" id='q' class="form-control input-lg package-typeahead"  placeholder="Find datasets to add to collection">
      </div>
      <div id='datasets' class="well" style="height: 400px; overflow-y: scroll; margin-top: 20px;">
          {% for package in data.get('packages', []) %}
            <div class="row collection-row">
              <div class="col-sm-11">
                <h3>{{package.title}}</h3>
                <input type="hidden" name="packages__{{ loop.index - 1 }}__name" value="{{ package.name }}"/>
                <a href="/dataset/{{package.name}}" target="_blank">Open in new window</a>
              </div>
              <div class="col-sm-1">
                  <a class="btn btn-danger" href="javascript:0" onclick="$(this).parent().parent().remove();reset_names();">Remove</a>
              </div>
            </div>
          {% endfor %}
      </div>


<div id='row-template' style="display:none;">
  <div class="row collection-row">
    <div class="col-sm-11">
      <h3><%title%></h3>
      <input type="hidden" name="" value="<%name%>"/>
      <a href="/dataset/<%name%>" target="_blank">Open in new window</a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-danger" href="javascript:0" onclick="$(this).parent().parent().remove();reset_names();">Remove</a>
    </div>
  </div>
</div>
{% endblock %}

  {% block custom_fields %}
  {% endblock %}

  <div class="form-actions">
    <button class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Save Collection') }}{% endblock %}</button>
    <a class="btn btn-default" href="/collection/">Cancel</a>

  </div>
</form>