{% extends "page.html" %}

{% block subtitle %}{{ _('Groups') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="/collection">Collections</a></li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block primary_content_inner %}
  {% if h.check_access('group_create', {'type': 'collection'}) %}
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Add New Collection</strong></div>
      <div class="panel-body"><a href="{{ h.url_for('collection_new') }}">Add collection</a></div>
    </div>
{% endif %}

  <h1 class="hide-heading">{{ _('Collections') }}</h1>

  {% block groups_search_form %}
    {% snippet 'group/search_form.html', type='collection', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search collections...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  {% endblock %}
  {% block groups_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
      <div class="row">
        {% snippet "group/group_list.html", groups=c.page.items %}
        </div>
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no collections') }}.
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager() }}
  {% endblock %}
{% endblock %}
