{% extends "page.html" %}
{% import "_dgu_jinja_util.html" as m with context %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Collection') }}{% endblock %}

{% block breadcrumb_content %}
  <li><a href="/collection">Collections</a></li>
  <li class="active"><a href="/collection/{{c.group_dict.name}}">{{c.group_dict.title}}</a></li>
{% endblock %}

{% block primary_content_inner %}
  {% if h.check_access('group_update', {'type': 'collection', 'id': c.group_dict.name}) %}
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Edit Collection</strong></div>
      <div class="panel-body"><a href="/collection/edit/{{ c.group_dict.name }}">Edit '{{ c.group_dict.title }}'</a></div>
    </div>
{% endif %}


<span class="col-sm-2">
    <img src="{{ c.group_dict.image_url  or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ c.group_dict.name }}" class="media-image">
</span>

  <h1>{{c.group_dict.title}}</h1>

  <p>
      {{h.render_markdown(c.group_dict.description)}}
  </p>

  <div class="clearfix" style="margin-top: 30px;"></div>

   {% if c.page.items %}
    <h2>Datasets</h2>

    <div>
      {{ collection_package_list(c.page.items,mini=True) }}
    </div>
    <div>
      {{ m.paginator(c.page) }}
    </div>
  {% else %}
    <h2>There are no datasets in this collection</h2>
  {% endif %}

{% endblock %}


{% macro collection_package_list(packages, mini=True) %}
  <div class="common-dataset-list">
    <div class="{{m.if_(mini,'row')}}">
      {% for i in range(packages|length) %}
        {% if i%4==0 %}
        <div class="clearfix visible-lg"></div>
        {% endif %}
        {% if i%3==0 %}
        <div class="clearfix visible-md clearfix-ie7"></div>
        {% endif %}
        {% if i%2==0 %}
        <div class="clearfix visible-sm"></div>
        {% endif %}

        {% with %}
        {% set package       = packages[i] %}
        {% set unpublished   = h.is_unpublished_item(packages[i]) %}
        {% set title         = packages[i].get('title') or packages[i].get('name') %}
        {% set primary_theme = h.get_primary_theme(packages[i]) %}

          <div class="{{m.if_(mini,'col-lg-3 col-md-4 col-sm-6')}}">
          <div class="dataset dataset-summary theme-{{primary_theme or 'none'}} {{m.if_(mini,'mini', '')}} {{m.if_(unpublished,'unpublished', '')}}">
           <a class="dataset-header" href="{{h.url_for(controller='package', action='read', id=package.get('name'))}}">
             <div class="theme-name">{{primary_theme or '(Uncategorised)'}}</div>
             <div class="underlined">{{title}} {% if unpublished %}<span class="text-unpublished">(unpublished)</span>{% endif %}</div>
           </a>
           <div class="dataset-body">
             <div class="left">
               <a class="dataset-publisher" href="{{h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=h.package_publisher_dict(package).get('name', ''))}}">
                 {{h.package_publisher_dict(package).get('title', '')}}
               </a>
               <div class="dataset-description">
                 {{h.markdown_extract(package.notes)}}
               </div>
             </div>
             <div class="right">
                {% if h.is_core_dataset(package) %}
                  <div title="This dataset is part of the National Information Infrastructure" class="js-tooltip format-box" style='background-color: #8BC658;'>NII</div>
                {% endif %}

               {% for format in h.formats_for_package(package) %}
                 {{m.format_box(format.lower())}}
               {% endfor %}
             </div>
             <div class="clearfix clearfix-ie7"> &nbsp;</div>
             <a class="view-data-link" href="{{h.url_for(controller='package', action='read', id=package.get('name'))}}">
               View Data
             </a>
           </div>
           </div>
         </div>
         {% endwith %}
      {% endfor %}
    </div>
{% endmacro %}