<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../facets.html" />
  <py:def function="page_title">${c.group.display_name}</py:def>
  <py:def function="page_heading">${c.group.display_name}
	<a py:if="c.is_superuser_or_groupmember" style="font-size:16px;float:right;" href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='edit', id=c.group.name)}">Edit</a>
  </py:def>

  <py:match path="primarysidebar">
    <div py:if="c.is_superuser_or_groupmember and c.administrators" class="facet-box">
	  <h2>Administrators</h2>
      <ul class="property-list" py:for="admin in c.administrators">
        <li>${h.linked_user(admin)}</li>
      </ul>
    </div>
	<div py:if="c.userobj and not c.userobj in c.administrators" class="facet-box" style="padding:8px; text-align: center;">
		<a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='apply', id=c.group.name)}">Add this publisher to your account</a>
	</div>

    ${facet_filters()}
  </py:match>


  <py:match path="content">
    <h3 py:if="c.group['state'] != 'active'">State: ${c.group['state']}</h3>
    <div class="notes" py:if="str(c.description_formatted).strip()">
      ${c.description_formatted}
    </div>
    <div class="group-dataset-list">
      <h3>Datasets</h3>

      <form id="dataset-search" class="dataset-search" method="GET">
        <input type="search" class="search" name="q" value="${c.q}" autocomplete="off" results="0" placeholder="${_('Search...')}" />
        <py:for each="(k, v) in c.fields">
          <input type="hidden" name="${k}" value="${v}" />
        </py:for>
        <input type="submit" value="${_('Search')}" class="pretty-button primary button" />
      </form>
      ${field_list()}

      <p><span py:if="c.q">You searched for "${c.q}". </span>${c.page.item_count} datasets found.</p>
      ${c.page.pager()}

      ${package_list_from_dict(c.page.items)}
      ${c.page.pager()}
    </div>
  </py:match>

  <xi:include href="layout.html" />
</html>


