{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}

<form class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">

  {% block search_input %}
    <div class="search-input input-group {{ search_class }}">
      <input type="text" class="input-lg form-control" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default btn-lg">
          <i class="icon-search"></i>
        </button>
      </span>
    </div>
  {% endblock %}

  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_sortby %}
    {% if sorting %}
      <div class="form-select control-group control-order-by pull-right">
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
      </div>
    {% endif %}
  {% endblock %}

  <br/>
  <h2>{% snippet 'group/search_result_text.html', query=query, count=count, type=type %}</h2>

</form>

{% if show_empty and count == 0 %}
  {% trans %}
    <p class="extra">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}
