<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Main</py:def>

  <py:def function="body_id">front-page</py:def>

  <py:def function="optional_head">
    <!--[if lte IE 8]>
      <script type="text/javascript">
        $(function() {
          $('.viz-body')
          .css('padding','4px')
          .html('<div class="alert alert-danger"><strong>The graphs below are static images and cannot be clicked</strong>. Your browser is out of date and cannot render dynamic content.</div>')
          .append('<img src="/images/graph-socialinvestment.png"/>');
        });
      </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/dgu-viz.min.css" />
    <script type="text/javascript" src="/scripts/vendor/d3.v3.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/d3.sankey.min.js"></script>
    <script type="text/javascript" src="/scripts/dgu-viz-pack.min.js"></script>
    <script type="text/javascript">
      $(function() { viz.loadSocialInvestmentsAndFoundations(); })
    </script>
  </py:def>

  <py:def function="front_page_box(link_url, link_text, img_url, subtitle='', img_style='')">
    <div class="col-md-4 col-xs-6">
      <a class="front-page-box row1" href="${link_url}">
        <div class="img"><img src="${img_url}" style="${img_style}"/></div>
        <div class="text">${link_text} <span class="posttext">&raquo;</span><small py:if="subtitle">${subtitle}</small></div>
      </a>
    </div>
  </py:def>

  <py:match path="content">
    <div class="container front-page-container">
      <div class="row">
        ${front_page_box('#',
            'Linked data, registries and talking about the weather',
            '/images/frontpage-weather.jpg'
        )}
        ${front_page_box('#',
            'Of open data, sticky sweets and nights in Ibiza',
            '/images/frontpage-hackday.jpg'
        )}
        ${front_page_box('#',
            'Data.gov.uk to go',
            '/images/frontpage-to-go.png',
            subtitle='Integrated release of our Ckan-Drupal stack',
            img_style='margin-top:-11%;'
        )}
        ${front_page_box('#',
            'What did open data ever do for us?',
            '/images/frontpage-paul-maltby.jpg'
        )}
        ${front_page_box('#',
            'Improvements to data.gov.uk',
            '/images/frontpage-antonio-acuna.jpg',
            img_style='margin-top:-21%;'
        )}
        ${front_page_box('#',
            'A quick guide to working with data',
            '/images/frontpage-guide.jpg'
        )}
      </div>
      <div class="row">
        <div class="whitebox" style="overflow: visible; width:">
    <div class="viz-body">
      <ul class="foundation-selector">
        <li><h3 class="prefix">View data for:</h3></li>
        <li><a href="#" data-key="all" class="active first"><div style="padding-top: 24px;">All Foundations</div><div class="chevron"></div></a></li>
        <li><a href="#" data-key="foundation_barrow"><img style="margin-top: 3px;" src="/images/barrow.png" class="foundation" /><div class="chevron"></div></a></li>
        <li><a href="#" data-key="foundation_panahpur"><img style="margin-top:25px;" src="/images/panahpur.png" class="foundation" /><div class="chevron"></div></a></li>
        <li><a href="#" data-key="foundation_lankelly"><img style="margin-top:10px;" src="/images/lankellychase.png" class="foundation" /><div class="chevron"></div></a></li>
      </ul>
      <div id="graph_yearonyear">
        <div class="yearonyear-right">
          <h3>Investment To Date</h3>
          <h1 id="investment-total"></h1>
        </div>
        <small class="yearonyear-right2">
          <h4>Year-On-Year Cash Investment</h4>
          A summary of cash invested by foundations from 2010 to 2013. The donut charts beneath this show the cash invested per sector and the investment product types. <br/>
          <em>Data Fields: Cash Invested, Sector, Product Type</em>
        </small>
      </div>
      <ul class="foundation-selector">
        <li><h3 class="prefix">View data for:</h3></li>
        <li><a href="#" data-key="all" class="active first"><div style="padding-top: 24px;">All Foundations</div><div class="chevron"></div></a></li>
        <li><a href="#" data-key="foundation_barrow"><img style="margin-top: 3px;" src="/images/barrow.png" class="foundation" /><div class="chevron"></div></a></li>
        <li><a href="#" data-key="foundation_panahpur"><img style="margin-top:25px;" src="/images/panahpur.png" class="foundation" /><div class="chevron"></div></a></li>
        <li><a href="#" data-key="foundation_lankelly"><img style="margin-top:10px;" src="/images/lankellychase.png" class="foundation" /><div class="chevron"></div></a></li>
      </ul>
      <div>
        <div style="width:50%;float:left;">
          <div id="graph_pie1">
            <h4>Sector Summary</h4>
            <div class="caption"></div>
          </div>
        </div>
        <div style="width:50%;float:left;">
          <div id="graph_pie2">
            <h4>Product Type</h4>
            <div class="caption"></div>
          </div>
        </div>
        <div class="clearfix">
        </div>
      </div>
      <hr/>
      <div id="graph_sankey">
        <h4>Investment Strategies</h4>
        <small class="strategy-blurb">The chart shows where and how investments have been made by foundations between four categories. Hover your mouse over the threads to show the amount invested between each data field and move the coloured bars on a vertical axis to change the structure.
          <br/><em>Data Fields: Cash Invested, Type of Organisation, Product Type, Purpose of Investment, Sector</em></small>
      </div>
      <hr/>
      <div id="graph_coinvestment">
        <h4>CoInvestment Contributions</h4>
        <div class="coinvestment-right">
          <h3>CoInvestment To Date</h3>
          <h1 id="coinvestment-total"></h1>
          <small>Foundations are collaborative investors in the sector. This visualisation shows that by investing £6.2m, these three foundations have contributed towards wider a total investments of £105.6m.<br/><br/>For example, the total investment of £12m has included co-investment by The LankellyChase Foundation (£600k), The Barrow Cadbury Trust (£600k) and other investors (£10.8m).<br/><hr/>
            The outer segments show specific investments by foundations and the inner segments show the investment totals.<br/>
            (Graph segments not to scale:<br/> Logarithmic sizes are used for clarity)<br/>
<em>Data fields: Cash Invested, Total Value, Foundation</em></small>
        </div>
        <div class="caption"></div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </py:match>
  <xi:include href="../layout.html" />
</html>

