<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Exploring: Social Investment and Foundations</py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="/dataset/icrf-data">Investment Readiness Programme</a></li>
    <li><a href="${request.url}">Data Explorer</a></li>
  </py:match>

  <py:def function="optional_head">
    <!--[if lte IE 8]>
      <script type="text/javascript">
        $(function() {
          $('.viz-body')
          .css('padding','4px')
          .html('<div class="alert alert-danger"><strong>The graphs below are static images and cannot be clicked</strong>. Your browser is out of date and cannot render dynamic content.</div>')
          .append('<img src="/images/graph-socialinvestment.png"/>');
        });
      </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/dgu-viz.min.css" />
    <script type="text/javascript" src="/scripts/vendor/d3.v3.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/d3.sankey.min.js"></script>
    <script type="text/javascript" src="/scripts/dgu-viz-pack.min.js"></script>
    <script type="text/javascript">
      $(function() { viz.loadInvestmentReadiness(); })
    </script>
  </py:def>

  <py:match path="content">
    <h1>Exploring: Investment Readiness Programme</h1>
    <div class="container">
      <div class="row">
        <div class="whitebox" style="overflow: visible;">
          <div class="panel panel-default">
            <div class="panel-heading">Visualising Social Investment Data</div>
            <div class="panel-body">
              This data is collected from a group of Excel spreadsheets in this <a href="/dataset/icrf-data">dataset</a>. The raw data goes through an <a href="http://nbviewer.ipython.org/gist/zephod/8844079">ETL pipeline</a> which uses Python to Extract, Transform and Load the data. The following analysis is rendered in the browser using <a href="http://d3js.org/">D3.js</a>.
              <br/><br/>Additional Datasets used:
              <ul>
                <li><a href="/dataset/sifbgv">Social Incubator Fund Data (Bethnal Green Ventures)</a></li>
                <li>Social Incubator Fund Data (The Hub Launchpad)</li>
                <li>Social Incubator Fund Data (Social Incubator North)</li>
                <li>Social Incubator Fund Data (Wayra UnLtd)</li>
              </ul>
            </div>
          </div>
          <div class="viz-body">
            <div id="icrf_container">
              <h2>Investment Contract Readiness Fund (ICRF)</h2>
              <p>Who has received investments? Mouse over for details:</p>
              <div id="icrf_cash"></div>
              <div id="icrf_headline1"></div>
              <div id="icrf_headline2"></div>
              <div id="icrf_map"></div>
            </div>
            <hr/>
            <h2>Social Incubator Fund (SIF)</h2>
            <div id="sib_container">
              <div id="sib_table"></div>
              <div id="sib_pie1"><h4>Primary Sectors: <i class="venturename">Bethnal Green Ventures</i></h4></div>
              <div id="sib_pie2"><h4>Primary Beneficiaries: <i class="venturename">Bethnal Green Ventures</i></h4></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </py:match>
  <xi:include href="../layout.html" />
</html>

