<?python 
from pylons import config
drupal_host = config.get('dgu.drupal_host', 'data.gov.uk')
is_edit_form = bool(data.get('id', None)) and data.get('id') != 'None'
has_errors = bool(error_summary)
use_wizard = not has_errors and not is_edit_form
is_timeseries_dataset = bool(data.get('timeseries_resources',[]))
is_individual_dataset = bool(data.get('individual_resources',[]))
?>

<form id="package-edit" class="package_create_form ckan" method="post" 
  py:attrs="{'class':'has-errors'} if errors else {}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<div class="error-explanation" py:if="error_summary">
<h2>Errors in form</h2>
<p>The form contains invalid entries:</p>
<ul>
  <li py:for="key, error in error_summary.items()">${"%s: %s" % (key, error)}</li>
</ul>
</div>

<div id="form-tabs">
  <ul>
    <li><a id="section-name" href="#section-name" class="active">Name</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-data" href="#section-data">Data</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-description" href="#section-description">Description</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-contacts" href="#section-contacts">Contact details</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-themes" href="#section-themes">Theme &amp; tags</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-additional_resources" href="#section-additional_resources">Additional resources (optional)</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-temporal" href="#section-temporal">Temporal coverage (optional)</a></li>
    <li><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-geographic" href="#section-geographic">Geographic coverage (optional)</a></li>
    <li py:if="is_edit_form"><a py:attrs="{'class': 'disabled' if use_wizard else None}" id="section-extra" href="#section-extra">Extras (optional)</a></li>
  </ul>
</div>

<fieldset id="section-name-fields">

  <legend>Name</legend>
  <p>Please name your data record</p>
  <label for="title">Name:</label>
  <input class="field_req js-title js-tooltip" id="title" name="title" type="text" value="${data.get('title', '')}" title="The main subject of the data should be clear. For cross-government data requirements, such as spend data, specify the public body the data belongs to or its geographical coverage, in order to distinguish your data from other similar datasets in data.gov.uk. If the data relates to a period of time, include that in the name, although this would not be appropriate for data which is updated over time. It is not a description - save that for the Abstract element. Do not give a trailing full stop."/>
  <p class="field_error" py:if="errors.get('title', '')">${errors.get('title', '')}</p><br/>
  
  <label for="name">Unique identifier for this data record:</label>
  <input class="field_req js-url-input js-tooltip" id="name" maxlength="100" name="name" type="text" value="${data.get('name', '')}" title="A public unique identifier for the dataset.  It should be roughly readable, with dashes separating words.  Format: Two or more lowercase alphanumeric, dash (-) or underscore (_) characters. e.g. uk-road-traffic-statistics-2008 or local-authority-spend-over-500-harlow"/>
  <p class="js-url-is-valid"><span style="font-weight: bold; color: #0c0">This URL is available!</span></p>
  <p>This will locate this data set here: <span class="js-url-text url-text" id="package_url">${g.site_url}/dataset/<span class="js-url-suffix"></span></span></p>
  <p class="field_error" py:if="errors.get('name', '')">${errors.get('name', '')}</p>
</fieldset>

<fieldset id="section-data-fields">
  <legend>Data</legend>
  <p>In this tab you enter the links to the files you wish to add to this record. Your record may be creating a single file record (a record which points to just one file) or you may be creating a timeseries record (where multiple files are released over time, for example the 25k spend data, where new data is added to the record monthly).</p>
    <p>This record is:</p>

    <input py:attrs="{'disabled': 'disabled' if is_edit_form and is_timeseries_dataset else None, 'checked': 'checked' if is_individual_dataset or not is_timeseries_dataset else None}" id="package_type-individual" type="radio" name="package_type" value="individual"/>
    <label for="package_type-individual">A single file record</label>
    <br/>
    <input py:attrs="{'disabled': 'disabled' if is_edit_form and is_individual_dataset else None, 'checked': 'checked' if is_timeseries_dataset else None}" id="package_type-timeseries" type="radio" name="package_type" value="timeseries"/>
    <label for="package_type-timeseries">A timeseries record</label>

    <!-- The resource fieldset for a timeseries dataset -->
    <fieldset id="package_type-timeseries">
      <legend>Data Files</legend>

      <p>For each format you have a copy of your data in, please add a link below. Use the plus button to add more lines.  You can add links to the website or more information in the 'Additional Resources' section.</p>

      <div class="instruction-needed" title="This seemed like a natural place for this.  It implies that update_frequency is not applicable to non-timeseries type datasets.  Is that a reasonable assumption?">
        <label class="field_opt" for="update_frequency">Update frequency</label>
        <select class="js-tooltip short" id="update_frequency" name="update_frequency" title="How frequently the dataset is updated with new versions.  For one-off data, use 'never'. For those once updated but now discontinued, use 'discontinued'.">
          <py:for each="freq_name, freq_desc in c.update_frequency">
            <option value="${freq_name}" py:attrs="{'selected': 'selected' if data.get('update_frequency', '') == freq_name else None}" >
              ${freq_desc}
            </option>
          </py:for>
        </select>
        <label class="inline" for="update_frequency-other">Other:</label>
        <input class="short-width" id="update_frequency-other" name="update_frequency-other" type="text" value="${data.get('update_frequency-other', '')}"/>
      </div>
    <dd class="field_error" py:if="errors.get('update_frequency', '')">${errors.get('update_frequency', '')}</dd>

      <table class="flexitable" id="timeseries_resources-table">
      <thead>
        <tr>
          <th class="resource-name js-tooltip" title="Text that is displayed next to the link on the dataset record">File Title:</th>
          <th class="field_opt resource-url js-tooltip" title="Where the file is already hosted">URL:</th>
          <th class="field_opt resource-date">Date:</th>
        </tr>
      </thead>
      <tbody>
        <py:for each="num, res in enumerate(data.get('timeseries_resources', []) + [{}])">
        <tr class="timeseries_resources__${num}">
          <py:for each="col in c.resource_columns">
          <td class="resource-${col}">
            <py:choose test="">
              <input py:when="col=='description'" name="timeseries_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="medium-width"/>
              <input py:when="col=='url'" name="timeseries_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="short js-tooltip" />
              <input py:otherwise="" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="short" />
            </py:choose>
          </td>
          </py:for>
          <td class="resource-date">
            <input name="timeseries_resources__${num}__date" type="text" value="${res.get('date', '')}" class="short" />
          </td>
          <td class="resource-id"><input name="timeseries_resources__${num}__id" type="hidden" value="${res.get('id', '')}" /></td>
          <td class="resource-type"><input name="timeseries_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type', '')}" /></td>
          <td><a py:if="len(data.get('timeseries_resources',[])) == num" href="javascript:;" id="timeseries_resources-add" class="add-button"><img src="/images/green_plus.gif"/></a></td>
        </tr>
        </py:for>
      </tbody>
      </table>
    </fieldset>

    
    <!-- The resource fieldset for an individual dataset -->
    <fieldset id="package_type-individual">
      <legend>Data Files</legend>

      <p>For each format you have a copy of your data in, please add a link below. Use the plus button to add more lines.  You can add links to the website or more information in the 'Additional Resources' section.</p>

      <table class="flexitable" id="individual_resources-table">
      <thead>
        <tr>
          <th class="resource-name js-tooltip" title="Text that is displayed next to the link on the dataset record">File Title:</th>
          <th class="field_opt resource-url js-tooltip" title="Where the file is already hosted">URL:</th>
        </tr>
      </thead>
      <tbody>
        <py:for each="num, res in enumerate(data.get('individual_resources', []) + [{}])">
        <tr class="individual_resources__${num}">
          <py:for each="col in c.resource_columns">
            <td class="resource-${col}">
            <py:choose test="">
              <input py:when="col=='description'" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="medium-width"/>
              <input py:when="col=='url'" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="short js-tooltip"/>
              <input py:otherwise="" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="short" />
            </py:choose>
            </td>
          </py:for>
          <td class="resource-id"><input name="individual_resources__${num}__id" type="hidden" value="${res.get('id', '')}" /></td>
          <td class="resource-type"><input name="individual_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type', '')}" /></td>
          <td><a py:if="len(data.get('individual_resources',[])) == num" href="javascript:;" id="individual_resources-add" class="add-button"><img src="/images/green_plus.gif"/></a></td>
        </tr>
        </py:for>
      </tbody>
      </table>
    </fieldset>

    <?python
      license_id = data.get('license_id', 'uk-ogl')
      license_id_other = data.get('license_id-other', '')
      available_license_ids = zip(*c.licenses)[1]
      is_other_license = license_id not in available_license_ids
    ?>
    <label for="license_id">License:</label>
    <select id="license_id" name="license_id">

      <py:if test="not is_edit_form">
        <!-- If this is a new dataset, then we only offer OGL in the dropdown -->
        <py:for each="license_desc, license_id in filter(lambda (desc,id): id == 'uk-ogl', c.licenses)">
          <option value="${license_id}" py:attrs="{'selected': 'selected' if data.get('license_id', 'uk-ogl') == license_id else None}">${license_desc}</option>
        </py:for>
      </py:if>

      <py:if test="is_edit_form">
        <!-- If this is an edit form, then we want to offer the current license
             in the dropdown, unless it's a free-text license -->
        <?python
          license_choices = set(available_license_ids) & set([license_id, 'uk-ogl'])
        ?>
        <py:for each="license_desc, license_id in filter(lambda (desc,id): id in license_choices, c.licenses)">
          <option value="${license_id}" py:attrs="{'selected': 'selected' if data.get('license_id', 'uk-ogl') == license_id else None}">${license_desc}</option>
        </py:for>
      </py:if>

      <option value="" py:attrs="{'selected': 'selected' if is_other_license else None}">Specify other...</option>
    </select>
    
    <label for="license_id-other">Other:</label>
    <input id="license_id-other" name="license_id-other" value="${license_id_other if license_id_other else (license_id if is_other_license else '')}"/>

      <p class="instructions basic">The licence under which the dataset is released.</p>
      <p class="instructions further">For most situations of central Departments' and Local Authority data, this should be the 'Open Government Licence'. If you wish to release the data under a different licence, please contact the <a href="mailto:PublicData@nationalarchives.gsi.gov.uk">Public Data and Transparency Team</a>.</p>
    <p class="instructions basic">The files containing the data or address of the APIs for accessing it</p>
    <p class="instruction-needed instructions further" title="These instructions are from the current form.  Do they need re-wording?  I think we should hide them in a tooltip somehow.">These can be repeated as required. For example if the data is being supplied in multiple formats, or split into different areas or time periods, each file is a different 'resource' which should be described differently. They will all appear on the dataset page on data.gov.uk together.</p>
    <p class="instruction-needed" title="What are we doing with resource formats?"><b>Format:</b> This should give the file format in which the data is supplied. You may supply the data in a form not listed here, constrained by the <a href="http://data.gov.uk/blog/new-public-sector-transparency-board-and-public-data-transparency-principles" target="_blank">Public Sector Transparency Board's principles</a> that require that all data is available in an 'open and standardised format' that can be read by a machine. Data can also be released in formats that are not machine-processable (e.g. PDF) alongside this.<br/></p>
  <p class="instruction-needed hints" title="What are we doing with resource formats?">Format choices: CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Other as appropriate</p>
  <p class="field_error" py:if="errors.get('timeseries_resources', '')">Package resource(s) incomplete.</p>
  <p class="field_error" py:if="errors.get('individual_resources', '')">Package resource(s) incomplete.</p>

</fieldset>


<fieldset id="section-description-fields">
  <legend>Description</legend>
  <p>Please add a description of the data set.  What does the data contain/show?  Why was it produced?</p>
    <textarea class="field_req" cols="60" id="notes" name="notes" rows="15">${data.get('notes', '')}</textarea>
    <p class="instructions further instruction-needed" title="This is from the current form.  Does it need re-wording?  I think I'll put this in some sort of help tooltip.">It is often displayed with the package title. In particular, it should start with a short sentence that describes the data set succinctly, because the first few words alone may be used in some views of the data sets. Here is the place to state if there are any limitations or deficiencies to the data in order to enable users to evaluate the information; even incomplete data may be adequate for some users.</p>
    <p class="field_error" py:if="errors.get('notes', '')">${errors.get('notes', '')}</p>
</fieldset>

<fieldset id="section-contacts-fields">
  <legend>Contact details</legend>
  <p>Here are the contact details that will be displayed for this dataset.  <span class="instruction-needed" title="What's this?">To edit, please go to 'My Account' and then <a href="#TODO">contact details</a>.</span>  Please click 'Next' to confirm.</p>
    <fieldset id="publisher-information">
      <legend>Publisher information</legend>
      <label class="to-be-completed" title="When publisher information is integrated, this will be pre-filled with the user's immediate publisher.  And publisher details will be pre-filled (email, link and telephone)" for="published_by">Published by: </label>
      <select id="published_by" name="published_by">
        <py:for each="published_name, published_desc in c.publishers">
          <option value="${published_name}" py:attrs="{'selected': 'selected' if data.get('published_by', '') == published_name else None}" >
            ${published_desc}
          </option>
        </py:for>
      </select>
    <!-- TODO: the labels can be removed -->
      <br/><label for="published_by-email">Publisher email:</label>
      <input id="published_by-email" name="published_by-email" type="text" value="${data.get('published_by-email', '')}"/>
      <br/><label for="published_by-url">Publisher link:</label>
      <input id="published_by-url" name="published_by-url" type="text" value="${data.get('published_by-url', '')}"/>
      <br/><label for="published_by-telephone">Publisher telephone:</label>
      <input id="published_by-telephone" name="published_by-telephone" type="text" value="${data.get('published_by-telephone', '')}"/>
    </fieldset>
    
    <fieldset>
      <legend>FOI information</legend>
      <label class="to-be-completed" title="When the publisher information is integrated, this will be pre-filled with the user's information." for="author">FOI Contact:</label>
      <input id="author" name="author" type="text" value="${data.get('author', '')}"/>
      <br/><label for="author_email">Email:</label>
      <input id="author_email" name="author_email" type="text" value="${data.get('author_email', '')}"/>
      <br/><label for="author_url">Link:</label>
      <input id="author_url" name="author_url" type="text" value="${data.get('author_url', '')}"/>
      <br/><label for="author_telephone">Telephone:</label>
      <input id="author_telephone" name="author_telephone" type="text" value="${data.get('author_telephone', '')}"/>
    </fieldset>
</fieldset>

<fieldset id="section-themes-fields">
  <legend>Theme &amp; tags</legend>

  <?python
    import re
    all_tags = [t['name'] for t in data.get('tags', [])]
    primary_theme = data.get('primary_theme', '')
    secondary_themes_raw = data.get('secondary_theme', '')
    if isinstance(secondary_themes_raw, basestring):
      secondary_themes= set(map(lambda s: s.strip(), re.sub('[["\]]', '', data.get('secondary_theme', '')).split(',')))
    else:
      secondary_themes = set(secondary_themes_raw)
    free_tags = set(all_tags) - set([primary_theme]) - secondary_themes
  ?>

    <p>1. Please choose a primary theme which this data record falls under from the options below.  These will be used for grouping datasets on the main page of data.gov.uk.</p>
      <select class="instruction-needed" title="We need a tag taxonomy in order to implement this." id="primary_theme" name="primary_theme">
        <option value="Health" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Health' else None}">Health</option>
        <option value="Environment" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Environment' else None}">Environment</option>
        <option value="Education" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Education' else None}">Education</option>
        <option value="Finance" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Finance' else None}">Finance</option>
        <option value="Society" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Society' else None}">Society</option>
        <option value="Defence" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Defence' else None}">Defence</option>
        <option value="Transportation" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Transportation' else None}">Transportation</option>
        <option value="Location" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Location' else None}">Location</option>
        <option value="Administration" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Administration' else None}">Administration</option>
        <option value="Spending Data" py:attrs="{'selected': 'selected' if data.get('primary_theme', '') == 'Spending Data' else None}">Spending Data</option>
      </select>
    <div class="instruction-needed" title="Is this still wanted?">
    <p>2. Please choose secondary tags with which to tag this data record:</p>
    <input type="checkbox" name="secondary_theme" value="Health" py:attrs="{'checked': 'checked' if 'Health' in secondary_themes else None}"/>Health
    <input type="checkbox" name="secondary_theme" value="Environment" py:attrs="{'checked': 'checked' if 'Environment' in secondary_themes else None}"/>Environment
    <input type="checkbox" name="secondary_theme" value="Education" py:attrs="{'checked': 'checked' if 'Education' in secondary_themes else None}"/>Education
    <input type="checkbox" name="secondary_theme" value="Finance" py:attrs="{'checked': 'checked' if 'Finance' in secondary_themes else None}"/>Finance
    <input type="checkbox" name="secondary_theme" value="Society" py:attrs="{'checked': 'checked' if 'Society' in secondary_themes else None}"/>Society
    <input type="checkbox" name="secondary_theme" value="Defence" py:attrs="{'checked': 'checked' if 'Defence' in secondary_themes else None}"/>Defence
    <input type="checkbox" name="secondary_theme" value="Transportation" py:attrs="{'checked': 'checked' if 'Transportation' in secondary_themes else None}"/>Transportation
    <input type="checkbox" name="secondary_theme" value="Spending data" py:attrs="{'checked': 'checked' if 'Spending data' in secondary_themes else None}"/>Spending data
    <input type="checkbox" name="secondary_theme" value="Government" py:attrs="{'checked': 'checked' if 'Government' in secondary_themes else None}"/>Government
    </div>

    <p>3. Please provide additional tags for this data record to help users find and browse between related data records.  Just type and click enter to add more tags:</p>
    <label class="field_opt to-be-completed" for="tag_string" title="Auto-completion to be implemented.">Tags</label>
    <input class="long autocomplete-tag to-be-completed" data-tagcomplete-queryparam="incomplete" 
           data-tagcomplete-url="/api/2/util/tag/autocomplete"
           id="tag_string" name="tag_string" size="60" type="text"
           value="${data.get('tag_string') or ', '.join(free_tags)}" />
</fieldset>

<fieldset id="section-additional_resources-fields">
  <legend>Additional resources (optional)</legend>
  <p>You can add links to additional resources here.  Use a link for each resource.  This could be PDFs of files explaining the data or links to a website with more information.</p>
  <table class="flexitable" id="additional_resources-table">
    <thead>
      <tr>
        <th class="resource-name">Description:</th>
        <th class="field_opt resource-url js-tooltip" title="This is the Internet link directly to the data - by selecting this link in a web browser, the user will immediately download the full data set. Note that datasets are not hosted by data.gov.uk, but by the responsible department.">Link:</th>
      </tr>
    </thead>
    <tbody>
      <py:for each="num, res in enumerate(data.get('additional_resources', []) + [{}])">
        <tr class="additional_resources__${num}">
          <td>
            <!-- <label class="field_opt" for="additional_resources__${num}__description">Description:</label> -->
            <input name="additional_resources__${num}__description" type="text" value="${res.get('description','')}"/>
          </td>
          <td>
            <!-- <label class="field_opt" for="additional_resources__${num}__url">Link:</label> -->
            <input name="additional_resources__${num}__url" type="text" value="${res.get('url','')}"/>
          </td>
          <td><input name="additional_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type','')}"/></td>
          <td><a py:if="len(data.get('additional_resources',[])) == num" href="javascript:;" id="additional_resources-add" class="add-button"><img src="/images/green_plus.gif"/></a></td>
        </tr>
      </py:for>
    </tbody>
    </table>

  <label class="field_opt" for="mandate">Mandate</label>
  <input id="mandate" name="mandate" size="40" type="text" value="${data.get('mandate', '')}"/>
  <p class="instructions basic">An Internet link to the enabling legislation that serves as the mandate for the collection or creation of this data, if appropriate.</p>
  <p class="instructions further">This should be taken from The National Archives' Legislation website, and where possible be a link directly to the relevant section of the Act.</p>
  <p class="hints">For example Public Record Act s.2 would be: http://www.legislation.gov.uk/id/ukpga/Eliz2/6-7/51/section/2</p>

</fieldset>

<fieldset id="section-temporal-fields">
  <legend>Time &amp; date (optional)</legend>
    <label class="field_opt" for="temporal_coverage">Temporal coverage</label>
    
      <input class="medium-width" id="temporal_coverage-from" name="temporal_coverage-from" type="text" value="${data.get('temporal_coverage-from', '')}" /> - 
      <input class="medium-width" id="temporal_coverage-to" name="temporal_coverage-to" type="text" value="${data.get('temporal_coverage-to', '')}" />
    
    <p class="instructions basic">The temporal coverage of this dataset.</p>
    <p class="instructions further">If available, please indicate the time as well as the date. Where data covers only a single day, the 'To' sub-element can be left blank.</p>
    <p class="hints">e.g. 21/03/2007 - 03/10/2009 or 07:45 31/03/2006</p>

</fieldset>

<fieldset id="section-geographic-fields">
  <legend>Geographic coverage</legend>

    <label class="field_opt" for="geographic_coverage">Geographic coverage</label>
    <p py:with="geographic_coverage=data.get('geographic_coverage', [])">
      <label for="local_authority">
        <input id="local_authority" name="geographic_coverage" size="40" type="checkbox" 
        value="local_authority" py:attrs="{'checked': 'checked' if 'local_authority' in geographic_coverage else None}"/> Local Authority</label>
      <label for="england">
        <input id="england" name="geographic_coverage" size="40" type="checkbox" 
        value="england" py:attrs="{'checked': 'checked' if 'england' in geographic_coverage else None}"/> England</label>
      <label for="scotland">
        <input id="scotland" name="geographic_coverage" size="40" type="checkbox" 
        value="scotland" py:attrs="{'checked': 'checked' if 'scotland' in geographic_coverage else None}"/> Scotland</label>
      <label for="wales">
        <input id="wales" name="geographic_coverage" size="40" type="checkbox" 
        value="wales" py:attrs="{'checked': 'checked' if 'wales' in geographic_coverage else None}"/> Wales</label>
      <label for="northern_ireland">
        <input id="northern_ireland" name="geographic_coverage" size="40" type="checkbox" 
        value="northern_ireland" py:attrs="{'checked': 'checked' if 'northern_ireland' in geographic_coverage else None}"/> Northern Ireland</label>
      <label for="overseas">
        <input id="overseas" name="geographic_coverage" size="40" type="checkbox" 
        value="overseas" py:attrs="{'checked': 'checked' if 'overseas' in geographic_coverage else None}"/> Overseas</label>
      <label for="global">
        <input id="global" name="geographic_coverage" size="40" type="checkbox" 
        value="global" py:attrs="{'checked': 'checked' if 'global' in geographic_coverage else None}"/> Global</label>
    </p>
    <p class="instructions basic">The geographic coverage of this dataset.</p>
    <p class="instructions further">Where a dataset covers multiple areas, the system will automatically group these (e.g. 'England', 'Scotland' and 'Wales' all being selected would be shown as 'Great Britain').</p>
</fieldset>

<fieldset id="section-extra-fields">
  <legend>Extras</legend>

  <div py:if="data.get('url', '')">
    <label class="field_opt" for="url">URL</label>
    <input id="url" name="url" type="text" value="${data.get('url', '')}"/>
    <p class="instructions basic">The Internet link to a web page discussing the dataset.</p>
    <p class="hints">e.g. http://www.somedept.gov.uk/growth-figures.html</p>
    <p class="field_error" py:if="errors.get('url', '')">${errors.get('url', '')}</p>
  </div>

  <div py:if="data.get('taxonomy_url','')">
    <label class="field_opt" for="taxonomy_url">Taxonomy URL</label>
    <input id="taxonomy_url" name="taxonomy_url" size="40" type="text" value="${data.get('taxonomy_url', '')}"/>
    <p class="instructions basic">An Internet link to a web page describing the taxonomies used in the dataset, if any, to ensure they understand any terms used.</p>
    <p class="hints">e.g. http://www.somedept.gov.uk/growth-figures-technical-details.html</p>
    <p class="field_error" py:if="errors.get('taxonomy_url', '')">${errors.get('taxonomy_url', '')}</p>
  </div>
  
  <div>
    <label class="field_opt" for="national_statistic">National Statistic</label>
    <input id="national_statistic" name="national_statistic" size="40" type="checkbox" value="yes"
         py:attrs="{'checked': 'checked' if data.get('national_statistic', '').lower() == 'yes' else None}" />
    <p class="instructions basic">Indicate if the dataset is a National Statistic</p>
    <p class="instructions further">This is so that it can be highlighted.</p>
  </div>

  <div py:if="data.get('date_released', '')">
    <label class="field_opt" for="date_released">Date released</label>
    <input id="date_released" name="date_released" size="40" type="text" value="${data.get('date_released', '')}" />
    <p class="instructions basic">The date of the official release of the initial version of the dataset</p>
    <p class="instructions further">This is probably not the date that it is uploaded to data.gov.uk. Be careful not to confuse a new 'version' of some data with a new dataset covering another time period or geographic area.</p>
    <p class="hints">DD/MM/YYYY</p>
    <p class="field_error" py:if="errors.get('date_released', '')">${errors.get('date_released', '')}</p>
  </div>

  <div py:if="data.get('date_updated', '')">
    <label class="field_opt" for="date_updated">Date updated</label>
    <input id="date_updated" name="date_updated" size="40" type="text" value="${data.get('date_updated', '')}"/>
    <p class="instructions basic">The date of release of the most recent version of the dataset</p>
    <p class="instructions further">This is not necessarily the date when it was updated on data.gov.uk. As with 'Date released', this is for updates to a particular dataset, such as corrections or refinements, not for that of a new time period.</p>
    <p class="hints">DD/MM/YYYY</p>
    <p class="field_error" py:if="errors.get('date_updated', '')">${errors.get('date_updated', '')}</p>
  </div>

  <div py:if="data.get('date_update_future', '')">
    <label class="field_opt" for="date_update_future">Date to be published</label>
    <input id="date_update_future" name="date_update_future" size="40" type="text" value="${data.get('date_update_future', '')}"/>
    <p class="instructions basic">When the dataset will be updated in the future, if appropriate</p>
    <p class="hints">DD/MM/YYYY</p>
    <p class="field_error" py:if="errors.get('date_update_future', '')">${errors.get('date_update_future', '')}</p>
  </div>

  <div py:if="data.get('precision', '')">
    <label class="field_opt" for="precision">Precision</label>
    <input id="precision" name="precision" size="40" type="text" value="${data.get('precision', '')}"/>
    <p class="instructions basic">Indicate the level of precision in the data, to avoid over-interpretation.</p>
    <p class="hints">e.g. 'per cent to two decimal places' or 'as supplied by respondents'</p>
  </div>

  <div py:if="data.get('temporal_granularity', '')">
    <label class="field_opt" for="temporal_granularity">Temporal granularity</label>
    
    <select class="short" id="temporal_granularity" name="temporal_granularity">
      <py:for each="temporal_name, temporal_desc in c.temporal_granularity">
        <option value="${temporal_name}" py:attrs="{'selected': 'selected' if data.get('temporal_granularity', '') == temporal_name else None}" >
          ${temporal_name}
        </option>
      </py:for>
    </select>
    <label class="inline" for="temporal_granularity-other">Other: 
      <input class="short-width" id="temporal_granularity-other" name="temporal_granularity-other" type="text" value="${data.get('temporal_granularity-other', '')}"/>
    </label>
    
    <p class="instructions basic">The lowest level of temporal detail granularity</p>
    <p class="instructions further">This should give the lowest level of temporal detail given in the dataset if it is aggregated, expressed as an interval of time. If the data is not aggregated over time, and so the dataset goes down to the instants that reported events occurred (such as the timings of high and low tides), use 'point'. If none of the choices is appropriate or the granularity varies, please specify in the 'other' element.</p>
  </div>

  <div py:if="data.get('geographic_granularity', '')">
    <label class="field_opt" for="geographic_granularity">Geographic granularity</label>
    
    <select class="short" id="geographic_granularity" name="geographic_granularity">
      <py:for each="geog_name, geog_desc in c.geographic_granularity">
        <option value="${geog_name}" py:attrs="{'selected': 'selected' if data.get('geographic_granularity', '') == geog_name else None}" >
          ${geog_desc}
        </option>
      </py:for>
    </select>
    <label class="inline" for="geographic_granularity-other">Other: 
      <input class="short-width" id="geographic_granularity-other" 
      name="geographic_granularity-other" type="text" value="${data.get('geographic_granularity-other', '')}"/>
    </label>
    
    <p class="instructions basic">The lowest level of geographic detail</p>
    <p class="instructions further">This should give the lowest level of geographic detail given in the dataset if it is aggregated. If the data is not aggregated, and so the dataset goes down to the level of the entities being reported on (such as school, hospital, or police station), use 'point'. If none of the choices is appropriate or the granularity varies, please specify in the 'other' element.</p>
    <p class="field_error" py:if="errors.get('geographic_granularity', '')">${errors.get('geographic_granularity', '')}</p>
  </div>

</fieldset>

<div id="nav-controls" class="submit">
  <input disabled="disabled" class="nav-button" type="button" id="back-button" value="Back" py:if="not is_edit_form"/>
  <input py:attrs="{'disabled': 'disabled' if use_wizard else None}" id="save-button" name="save" type="submit" value="Save" />
  <input  disabled="disabled" class="nav-button" type="button" id="next-button" value="Next" py:if="not is_edit_form"/>
</div>
<div id="disclaimer">
  <p class="hints">
  <strong>Important:</strong> By submitting content, you agree to release your contributions under the <a href="http://${drupal_host}/terms-and-conditions">terms &amp; conditions</a> of the site.  Please <strong>refrain</strong> from editing this page if you are <strong>not</strong> happy to do this.
  </p>
</div>

</form>
