<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Themes</py:def>
  <py:def function="body_class">no-sidebar</py:def>

  <div py:match="content">
    <h1>Themes</h1>
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Health">
              <div class="img-container">
                <img src="/images/health.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Health <br/><small>${c.themes_datasets.get('health')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Geography">
              <div class="img-container">
                <img style="top:-24%;" src="/images/environment.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Geography <br/><small>${c.themes_datasets.get('geography')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
        <div class="span6">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Education">
              <div class="img-container">
                <img style="top:-65%;" src="/images/education.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Education <br/><small>${c.themes_datasets.get('education')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Society">
              <div class="img-container">
                <img style="top:-25%;" src="/images/society.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Society <br/><small>${c.themes_datasets.get('society')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Crime">
              <div class="img-container">
                <img src="/images/crime.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Crime <br/><small>${c.themes_datasets.get('crime')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Spending">
              <div class="img-container">
                <img style="top:-4%;" src="/images/spending.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Spending <br/><small>${c.themes_datasets.get('spending')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Government">
            <div class="img-container">
              <img src="/images/administration.jpg"/>
            </div>
            <div class="inner-text">
              <h2>Government <br/><small>${c.themes_datasets.get('government')} datasets &raquo;</small></h2>
            </div>
            </a>
          </div>
        </div>
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Defence">
            <div class="img-container">
              <img src="/images/defence.jpg"/>
            </div>
            <div class="inner-text">
              <h2>Defence <br/><small>${c.themes_datasets.get('defence')} datasets &raquo;</small></h2>
            </div>
            </a>
          </div>
        </div>
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Economy">
            <div class="img-container">
              <img src="/images/finance.jpg"/>
            </div>
            <div class="inner-text">
              <h2>Economy <br/><small>${c.themes_datasets.get('economy')} datasets &raquo;</small></h2>
            </div>
            </a>
          </div>
        </div>
        <div class="span3">
          <div class="boxed" style="padding: 0 0 0 0;">
            <a class="theme-box" href="${h.url_for(controller='package', action='search')}?theme-primary=Transport">
              <div class="img-container">
                <img src="/images/transport.jpg"/>
              </div>
              <div class="inner-text">
                <h2>Transport <br/><small>${c.themes_datasets.get('transport')} datasets &raquo;</small></h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>
