/* Root Elements */
/* ------------- */
body {
    background: #f4f4f4 url('/images/bg-thin-lighter.png') repeat-x;
}
h1 { font-size: 24px; line-height: 30px; margin-bottom: 10px; }
h2 { font-size: 22px; line-height: 27px; margin-bottom: 8px; }
h3 { font-size: 19px; line-height: 23px; margin-bottom: 8px; }
h4 { font-size: 16px; line-height: 18px; margin-bottom: 8px; }
h5 { font-size: 13px; line-height: 15px; margin-bottom: 8px; }
h6 { font-size: 13px; line-height: 15px; margin-bottom: 8px; }
a       { color: #690; }
a:hover { color: #470; }
input:focus,
textarea:focus {
    border-color: #55AA00;
    border-color: rgba(80, 160, 0, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 100, 0, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 100, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 100, 0, 0.6);
}

/* Custom Bootstrap */
/* -----------------*/
.btn {
    font-weight: bold;
}
.btn-small {
    font-size: 12px;
}
.btn-primary {
    background-color: #99dd22;
    background-image: -moz-linear-gradient(top, #a5e046, #8cc52a);
    background-image: -ms-linear-gradient(top, #a5e046, #8cc52a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a5e046), to(#8cc52a));
    background-image: -webkit-linear-gradient(top, #a5e046, #8cc52a);
    background-image: -o-linear-gradient(top, #a5e046, #8cc52a);
    background-image: linear-gradient(top, #a5e046, #8cc52a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5e046', endColorstr='#8cc52a', GradientType=0);
    border-color: #66aa44;
    border-top-color: transparent;
    border-left-color: transparent;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    color: #333333;
    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        background-color: #8cc52a;
    }
    &:active,
    &.active {
        background-color: #557700 \9;
    }
    &.active {
        color: #333333;
        color: rgba(255, 255, 255, 0.75);
    }
    .caret {
        border-top-color: #333;
    }
    &:hover {
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
        color: #333333;
    }
}
.btn-group .btn-primary.dropdown-toggle {
    border-left: 1px solid #7b2;
}

.label-dgu,
.badge-dgu {
    background-color: #66AA44;
    &[href] {
        background-color: #559933;
    }
}


/* No-sidebar mode */
/* --------------- */
body.no-sidebar {
    .main-outer {
        width: 940px;
    }
    .sidebar-outer {
        display: none;
    }
}


/* -- Misc -- */
/* ---------- */
.flash-messages {
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn-preview {
    padding: 5px 42px 5px 26px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.preview-stamp {
    margin-left: -26px;
    margin-top: -6px;
    /* Mozilla hack works in webkit too. Lets you click the button beneath the icon */
    pointer-events: none;
}
.inline-icon {
    padding-right: 5px;
    vertical-align: top;
}
textarea {
    width: 80%;
}
img.arrow {
    vertical-align: baseline;
}
h4 img.arrow {
    padding-right: 3px;
    padding-bottom: 1px;
}
img.open-data {
    vertical-align: top;
    margin-top: 1px;
}
.pagination {
    text-align: center;
}
a.tag {
    display: inline-block;
    padding: 4px 9px;
    border: 1px solid #bd8;
    background: #F9FFF4;
    margin: 0 5px 3px 0;
    border-radius: 4px;
    &:hover {
        border-color: #ac9;
        background: #e7FFe0;
        text-decoration: none;
    }
}
h1 .subheading {
    display: block;
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notes {
    margin-bottom: 10px;
    padding: 8px;
}
.notes p:last-child {
    margin-bottom: 0;
}
h1 .abbreviation {
    color: #888;
}

.table-dgu-fixed-size {
    table-layout: fixed;
}
.table-dgu-fixed-size td {
    overflow: hidden;
    white-space: nowrap;
}
.table-dgu-fixed-size td.dataset-details {
    white-space: normal;
    word-wrap: break-word;
}
button span {
    white-space: nowrap;
}
ul.arrow-list {
    list-style-image: url('/images/arrow-list.png');
}
ul.green-bullet {
    list-style-image: url('/images/bullet-green.png');
}
.pagination ul {
    background: #fff;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
p.field_error, 
span.field_error {
    background: transparent url(../images/icons/error.png) left center no-repeat;
    padding-left: 20px;
    color: #FF6666;
    display: inline;
}
.hints {
    font-style: italic;
    color: #666;
    margin-top: 3px;
    margin-bottom: 0;
}
.instructions {
    &.basic {
        margin: 3px 0;
        line-height: 14px;
    }
    &.further {
        font-size: 11px;
        line-height: 12px;
        color: #666;
        margin: 3px 0 5px 0;
        width: 80%;
    }
}
ul.button-row {
    margin-bottom: 5px;
    li {
        display: inline;
        margin-right: 10px;
    }
}
#publisher-tree {
    /* publisher/index and publisher/read */
    background-color: white;
    .jstree ul {
        list-style-image: none;
    }
}
.tags ul li {
    display: inline;
    border: 1px;
}



/* Table Sorter */
/* ------------ */
table.tablesorter {
    thead th.headerSortUp {
        background-image: url('/images/icons/sort-asc.gif');
        background-color: #eee;
    }
    thead th.headerSortDown {
        background-image: url('/images/icons/sort-desc.gif');
        background-color: #eee;
    }
    th.header {
        background-image: url('/images/icons/sort.gif');
        cursor: pointer;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 20px;
        border-right: 1px solid #dad9c7;
        margin-left: -1px;
    }
}

/* BlackBar */
/* -------- */
#blackbar {
    top: 0;
    left: 0;
    z-index: 1500;
    width: 100%;
    background: #202020;
    color: #fff;
    height: 27px;
    > .container {
        width: 100%;
        max-width: 940px;
    }
    a {
        color: #fff;
    }
    #hm-government-link {
        float: left;
        margin-top: 2px;
        margin-left: 10px;
    }
    #login-or-signup {
        font-size: 11px;
        float: right;
        margin-top: 4px;
        margin-right: 10px;
    }
    #login-or-signup a {
        font-weight: bold;
    }
}

/* Branding space */
/* -------------- */
#branding {
    height: 66px;
    padding-top: 18px;
    padding-left: 55px;
}


/* Nav */
/* --- */
ul#nav {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 0; /* Delete space between inline block elements */
    li {
        padding: 0;
        width: 100px;
        position: relative;
        float: left;
        /* Gradient */
        background: rgb(51,51,51); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(68,68,68,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
        a {
            color: #ccc;
            text-align: center;
            display: block;
            padding: 10px 10px;
            border-left: 1px solid #505050;
            border-right:  1px solid #181818;
            font-size: 15px;
            font-weight: 300;
            &:hover {
                color: #fff;
                text-decoration: none;
                background: url('/images/nav-chevron.png') 50% 100% no-repeat;
            }
            .nav-icon {
                width: 21px;
                height: 18px;
                margin: 0 10px 0 0;
                background: url('/images/home-icon.png');
                display: inline-block;
                zoom: 1;
              *display: inline;
              vertical-align: top;
            }
        }
    } /* End of #nav li block */
    li#nav-home { 
        width: 115px; 
        a { border-left-color: transparent; }
    }
    li#nav-linked-data { 
        width: 110px; 
    }
    li#nav-about { 
        width: 115px; 
        a { border-right-color: transparent; }
    }
    li.active {
        a {
            background: url('/images/nav-chevron.png') 50% 100% no-repeat;
        }
    }
    li:hover {
        a {
            .nav-icon {
                background-position: -21px 0;
            }
        }
    }
}

/* Subnavigation */
/* ------------- */
#subnav {
    list-style-type: none;
    margin: 0;
    padding: 6px 18px;
    border: 1px solid #ccc;
    border-top: none;
    li {
        display: inline;
    }
    .divider {
        color: #bbb;
    }
    a.active {
        font-weight: bold;
        color: #336600;
    }
}

/* Minor Navigation (CKAN ribbon navigator) */
/* ---------------------------------------- */
#minornavigation {
    margin: 15px -25px 15px -26px;
    background: #e2e2e2 url('/images/minornavigation.png');
    height: 46px;
    .nav {
        padding: 2px 4px;
        font-weight: bold;
        margin: 0;
        padding-left: 20px;
    }
    .nav > li {
        > a {
            border: 1px solid transparent;
            border-bottom: none;
            border-right: none;
            height: 14px;
            margin-right: 5px;
            padding-top: 7px;
            &:hover {
                border-color: #bbb;
            }
        }
        &.active > a {
            background: #fff;
            border-color: #666;
            color: #000;
        }
        &.open > a {
            border-color: #666;
        }
        &.open .caret {
            border-top-color: #fff;
        }
        &.disabled > a,
        &.disabled > a:hover {
            color: #888;
            border-color: transparent;
            background: transparent;
        }
    }
    .caret {
        border-top-color: #555;
        margin-left: 8px;
    }
    .divider {
        padding: 8px 10px;
        font-size: 14px;
        color: #888;
    }
    #minornavigation-bg-left {
        background: url('/images/minornavigation-bg-left.png') no-repeat top left;
        height: 46px;
    }
    #minornavigation-bg-right {
        background: url('/images/minornavigation-bg-right.png') no-repeat top right;
        height: 46px;
    }
}

/* Dropdown menus */
/* -------------- */
.dropdown-menu {
    min-width: 250px;
    a {
        font-weight: bold;
        padding: 5px 15px;
        margin-bottom: 2px;
        color: #690;
    }
    hr {
        margin: 4px 0;
    }
    li:last-child a {
        margin-bottom: 0;
    }
    li:hover a {
        color: #240;
        background: #eee;
    }
}

/* Sidebar */
/* ------- */
#sidebar {
    /* TODO drop this ul of li's. Just a div of divs would have been fine. */
    ul.widget-list {
        list-style-type: none;
        margin: 0;
    }
    .btn {
        /* TODO can you tag this on actual buttons which require 
        it, rather than having it implicitly occur */
        margin-top: 8px;
    }
    .widget-container#social_media {
        span.stButton {
            margin-bottom: 5px;
        }
    }
    .widget-container ul.tags,
    .widget-container ul.groups {
        list-style-image: none;
        list-style: none;
        margin-left: 0;
    }
}

/* Footer */
/* ------ */
.footer {
    background: #fff;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    .links li {
        display: inline;
        list-style-type: none;
        padding: 0 0 0 10px;
    }
    .links a {
        color: #666;
    }
    .credit {
        text-align: center;
        width: 120px;
        margin-top: 10px;
        float: right;
    }
    .credit img {
        display: block;
        margin: 0 auto;
    }
}

/* Boxes */
/* ----- */
.widget-container,
.facet-box,
.boxed {
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
    padding: 9px;
    padding-top: 1px;
    margin-bottom: 10px;
}
.widget-container, 
.facet-box {
    h4 {
        color: #656565;
        padding-bottom: 5px;
        margin-bottom: 8px;
        margin-top: 8px;
        border-bottom: 1px solid #aaa;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: -25px;
        margin-right: -25px;
    }
}
.boxed {
    padding: 14px 17px;
}
.widget-container {
    /* Long email addresses will break the sidebar */
    overflow: hidden;
}

/* Black header/footer blocks, eg wrapping around a list of search results */
/* ----------------------------------------------------------------------- */
.ribbon-header,
.ribbon-footer {
    background-color: #42474B;
    color: #FFF;
    min-height: 25px;
    padding: 0 10px 20px 0;
    position: relative;
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.ribbon-header {
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h2 {
        color: #FFF;
        font-size: 18px;
        line-height: 24px;
        padding: 10px 0 0 10px;
        border: none;
        background: none;
    }
}
.ribbon-footer {
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: -50px 0 20px 0;
}

/* Search box (used everywhere) */
/* ---------------------------- */
.search-area {
    width: 100%;
    .left {
        width: 30%;
        border-right: 1px solid #ccc;
        padding: 8px;
        vertical-align: middle;
    }
    .right {
        padding: 15px 8px;
    }
    .result-count {
        font-size: 40px;
        text-align: center;
        color: #333;
    }
    .result-count-footer {
        padding-top: 15px;
        text-align: center;
    }
    .form-search {
        padding: 9px;
        margin-left: 10px;
        position: relative;
        /* Gradient */
        background: #2D3035; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(45,48,53,1) 0%, rgba(33,33,33,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,48,53,1)), color-stop(100%,rgba(33,33,33,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(45,48,53,1) 0%,rgba(33,33,33,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3035', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
        height: 50px;
        padding: 0;
        input[type="text"] {
            position: absolute;
            width: auto;
            left: 8px;
            right: 86px;
            top: 11px;
        }
        input[type="submit"] {
            position: absolute;
            right: 8px;
            top: 7px;
            width: 80px;
            height: 35px;
            font-size: 14px;
        }
        .search-spinner {
            width: 20px;
            height: 20px;
            position: absolute; 
            right: 100px;
            top: 15px;
        }
    }
    .search-facets {
        padding: 10px 0;
        color: #888;
    }
    .facet {
        color: #333;
        padding: 3px 8px;
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 11px;
        color: #777;
        text-shadow: 1px 1px 1px #fff;
        -moz-box-shadow: 0 1px 2px #bbb; /* Firefox */
        -webkit-box-shadow: 0 1px 2px #bbb; /* Safari, Chrome */
        box-shadow: 0 1px 2px #bbb;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        /* Cross-browser inline-block positioning */
        display: inline-block;
        zoom: 1;
        *display: inline;
        /* Gradient */
        background: #EEEEEE; /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(228,228,228,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
        &:hover {
            text-decoration: none;
            color: #000;
            /* Gradient */
            background: #E4E4E4; /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
            background: linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
        }
        .x {
            color: #555;
            margin: 0 2px 0 10px;
            font-size: 9px;
            vertical-align: top;
        }
        &:hover .x {
            color: #c00;
            font-weight: bold;
        }
    }
}

/* Shopping Basket */
/* --------------- */
#shopping-basket-container {
    display: none;
    overflow: hidden;
    white-space: nowrap;
    #shopping-basket-container h4 {
        margin-bottom: 0;
    }
    #shopping-basket {
        min-height: 50px;
        max-height: 150px;
        overflow: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        border: 1px solid #ddd;
        margin-top: 8px;
        margin-left: 0;
        padding: 5px 10px 5px 4px;
        list-style-type: none;
        .x-button {
            padding: 0 6px;
            margin-right: 5px;
            vertical-align: top;
        }
    }
    #shopping-basket-buttons {
        margin: 10px 0 2px 0;
    }
    #shopping-basket-reset {
        padding-left: 6px;
        padding-right: 9px;
    }
    #shopping-basket-submit {
        margin-left: 20px;
        width: 180px;
    }
}



/* Facet Menu */
/* ---------- */
.facet-box {
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    h3 {
        /* TODO we usually expect H2 not H3, where is this coming from?
           Can we take control of that HTML and fix it? */
        padding-bottom: 5px;
        margin-bottom: 8px;
        border-bottom: 1px solid #aaa;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: -25px;
        margin-right: -25px;
    }
    > ul {
        list-style-type: none;
        margin: 0;
    }
    .lower > ul li {
        margin: 8px 0;
    }
    .lower > ul li:first-child {
        margin-top: 14px;
    }
    .lower > ul li:last-child {
        margin-bottom: 14px;
    }
    .inline-icon {
        display: none;
    }
    img.facets-title {
        height: 22px;
        width: 22px;
        vertical-align: top;
        margin-right: 8px;
    }
    img.facets-radio {
        height: 16px;
        width: 16px;
        vertical-align: top;
        margin-right: 8px;
    }
}


/* common-dataset-list and dataset-summary */
/* --------------------------------------- */
ul.common-dataset-list {
    list-style-type: none;
    width: 97%;
    margin: -24px auto 0 auto;
    position: relative;
    z-index: 1;
    .dataset-summary {
        margin-bottom: 30px;
    }
}
.dataset-summary {
    img.dataset-icon {
        float: left;
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .dataset-header {
        display: block;
        min-height: 52px;
        margin-bottom: 12px;
        border-bottom: 1px solid #aaa;
        padding-left: 17px;
        padding-right: 17px;
        margin-left: -17px;
        margin-right: -17px;
        color: #666;
    }
    .dataset-header:hover {
        text-decoration: none;
        color: #470;
    }
    .dataset-header:hover .underlined {
        text-decoration: underline;
    }
    div.property {
        margin: 4px 0;
    }
    .property {
        color: #666;
        font-size: 12px;
        line-height: 18px;
    }
    .property-right {
        float: right;
    }
    .property ul {
        display: inline;
        list-style-type: none;
        margin-left: 0;
    }
    .property ul li {
        margin-right: 5px;
        /* Cross-browser inline-block positioning */
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .map-buttons {
        float: right;
        margin-top: 4px;
    }
    .btn-preview {
        margin-left: 5px;
    }
    .preview-add .btn-preview,
    .preview-remove .btn-preview {
        width: 160px;
        padding-left: 0;
        padding-right: 10px;
    }
    img.dataset-ribbon {
        float: right;
        margin-right: -21px;
        margin-top: -18px;
    }
}


/* Common resource list */
/* -------------------- */
.resource-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 15px 0;
    > li {
        background: #fff;
        border: 0;
        border: 1px solid #eee;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right: 0;
        font-weight: bold;
        display: block;
        padding: 0;
        color: #333;
        height: 29px;
        position: relative;
        &.last-child {
            border-bottom-color: transparent;
        }
        .trimmed-text {
            overflow: hidden;
            padding-left: 10px;
            white-space: nowrap;
            padding-top: 5px;
            position: absolute;
            width: 375px;
        }
        > .btn,
        > .btn-group {
            margin-left: 4px;
            float: right;
        }
        .format-box {
            border: 1px solid #EEE;
            margin-left: 8px;
            padding: 2px 8px;
            box-shadow: 1px 1px 3px #f7f7f7;
            color: #808080;
            position: absolute;
            right: 194px;
            top: 2px;
            background: #fff;
            box-shadow: -2px 0 2px #fff;
        }
    }
    .dropdown-menu a.disabled {
        color: #666;
        &:hover {
            background: transparent;
        }
    }
    &.gemini-resource-list > li > .btn {
        width: 80px;
    }
    &.gemini-resource-list > li > .format-box {
        right: 120px;
    }
}


/* Dataset view and Resource view */
/* ------------------------------ */
.metadata-table {
    td.dataset-label {
        font-weight: bold;
        text-align: right;
        width: 180px;
    }
}


/* Autocomplete dialog (from jquery-ui) */
/* ------------------------------------ */
ul.ui-autocomplete {
    -moz-box-shadow: 0 2px 9px #777;
    -webkit-box-shadow: 0 2px 9px #777;
    box-shadow: 0 2px 9px #777;
    li a {
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #555;
        font-size: 13px;
        &:hover {
            cursor: pointer;
        }
        &.ui-state-hover{
            background: #9D2;
            border-color: #690;
        }
    }
}

/* Comments (copied from Drupal CSS, modified a little) */
/* ---------------------------------------------------- */
#comments-container {
    div.new-comment-link {
        position:relative;
        background-color:#42474B;
        -moz-border-bottom-left-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        border-bottom-left-radius:5px;
        -moz-border-bottom-right-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        border-bottom-right-radius:5px;
        margin:0 0 20px 0;
        min-height:34px;
        padding:15px 12px 0 0;
        text-align:right;
    }
    .comment .user-picture {
        background-color: #9D2;
        background-image: -moz-linear-gradient(top,#9DD084,#6EB443);
        background-image: -ms-linear-gradient(top,#9DD084,#6EB443);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#9DD084),to(#6EB443));
        background-image: -webkit-linear-gradient(top,#9DD084,#6EB443);
        background-image: -o-linear-gradient(top,#9DD084,#6EB443);
        background-image: linear-gradient(top,#9DD084,#6EB443);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DD084',endColorstr='#6EB443',GradientType=0);
        -moz-box-shadow: 1px 1px 2px 0 #ccc;
        -webkit-box-shadow: 1px 1px 2px 0 #CCC;
        box-shadow: 1px 1px 2px 0 #CCC;
        padding: 3px;
        margin-right: 15px;
    }
    .comment .user-picture-cell {
        vertical-align: top;
    }
    .comment table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    div.comment td {
        border: none;
    }
    .comment .user-picture {
        width: 62px;
    }
    .comment .user-picture img {
        border-color: #999 #CCC #DDD #999;
        border-style: solid;
        border-width: 1px;
        margin: 1px;
    }
    div.comment {
        background-color: white;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        clear: both;
        margin: 0 0 20px 0;
        min-height: 75px;
        padding: 12px;
        z-index: 20;
        position: relative;
    }
    div.comment-content h3 a {
        color: black;
    }
    div.comment-content .submitted {
        margin-bottom: 15px;
    }
    #comments .clear-block {
        display: block;
    }
    #comments .clear-block::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    #comments .comment div.green-button-wrapper a, #comments a.green-button {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.25);
        -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
        padding: 4px 16px;
    }
    #comments div.green-button-wrapper a, #comments a.green-button, #comments ul.primary li a {
        background-color: #9D2;
        background-image: -moz-linear-gradient(top,#A5E046,#8CC52A);
        background-image: -ms-linear-gradient(top,#A5E046,#8CC52A);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#A5E046),to(#8CC52A));
        background-image: -webkit-linear-gradient(top,#A5E046,#8CC52A);
        background-image: -o-linear-gradient(top,#A5E046,#8CC52A);
        background-image: linear-gradient(top,#A5E046,#8CC52A);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5e046',endColorstr='#8cc52a',GradientType=0);
        border-color: #6A4;
        border-top-color: transparent;
        border-left-color: transparent;
        filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    }
    #comments div.green-button-wrapper a, #comments a.green-button, #comments ul.primary li a:hover {
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
        color: #333;
    }
    .comment ul.links li {
        padding: 0 0 5px 10px;
        float: right;
        list-style-type: none;
    }
    .indented {
        margin-left: 3px;
        border-left: 2px dotted #7BB200;
        padding-left: 25px;
    }
}

/* Common: Star-Rating for datasets */
/* -------------------------------- */
.star-rating {
    > .tooltip {
        display: none;
    }
    .inline-icon {
        padding: 0;
    }
    .star-rating-reason {
        margin-bottom: 2px;
        border-bottom: 1px solid #999;
    }
    .star-rating-last-updated {
        margin-top: 2px;
        padding-top: 2px;
        border-top: 1px solid #999;
        text-align: left;
    }
    .star-rating-reason,
    .star-rating-entry {
        text-align: left;
        padding: 2px 0;
        &.fail {
            color: #999;
        }
    }
    > a {
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
    .last-updated {
        font-size: 10px;
    }
}
.star-rating-tooltip {
    /* Tooltips hover at the top level of the DOM, remember */
    opacity: 1 !important;
    > .tooltip-inner {
        background: #444;
    }
    > .tooltip-arrow {
        border-right-color: #444 !important;
    }
}



/* PAGE: Front Page */
/* ---------------- */
body.controller-data.action-index {
    h2 {
        padding-bottom: 8px;
        border-bottom: 1px solid #aaa;
        padding-left: 17px;
        padding-right: 17px;
        margin-left: -17px;
        margin-right: -17px;
        &.no-underline {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    .front-page-table {
        width: 100%;
        border-collapse: separate;
        td {
            width: 426px; /* 460px - (17px padding each side) */
            vertical-align: top;
        }
        tr.gutter td {
            height: 20px;
        }
        td.gutter {
            width: 20px;
            padding: 0;
        }
    }
    div#tagcloud {
        clear: both;
        margin: 10px auto;
        text-align: center;
        * {
            display: inline-block;
            vertical-align: middle;
            line-height: 0.9;
            //line-height: 1.15; /* Fixes clipping on IE7. The "//" is ignored by IE7 */
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/* PAGE: Publisher/read */
/* -------------------- */
body.controller-publisher.action-read {
    .ribbon-header {
        text-align: right;
        padding-top: 4px;
        padding-right: 10px;
        height: 30px;
    }
    #publisher-tree-expand {
        height: 12px;
        padding: 4px 0;
        margin: 0 auto;
        width: 100%;
        display: block;
        text-align: center;
    }
    .state-box {
        background-color: #fdd;
    }
}


/* PAGE: Package/search */
/* -------------------- */
body.controller-package.action-search {
    .sort-by-controls {
        text-align: right;
        padding: 10px 5px 15px 0;
        label {
            color: #fff;
        }
        .feed-icon {
            float: right;
            margin: 1px 5px 0 20px;
        }
    }
}


/* PAGE: Package/read */
/* ------------------ */
body.controller-package.action-read {
    img.dataset-logo {
        float: right;
        padding: 5px;
    }
    #dataset-resources {
        margin-bottom: 20px;
    }
    .one-line-link {
        display: block;
        word-wrap: break-word;
        white-space: normal !important;
    }
    .dataset-map {
        #dataset-map-container {
            width: 350px;
            height: 280px;
            background: #ccc;
            margin-bottom: 30px !important;
            div.olControlAttribution {
                font-size: 9px;
                font-family: helvetica,tahoma,verdana,sans-serif;
                line-height: 12px;
                left: 5px;
                bottom: 3px;
                color: #666;
            }
        }
        .dataset-map-info {
            width: 220px;
            float: right;
            .map-buttons > div{
                text-align: right;
                margin-bottom: 10px;
            }
            #dataset-map-attribution{
                font-size: 9px;
                line-height: 12px;
                text-align: right;
                margin-top: 26px;
            }
            .table-lat-long {
                th {
                    padding-bottom: 8px;
                }
                .extent-label {
                    text-align: right;
                    padding: 2px 8px;
                    div {
                        border: 1px solid #6a3;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                        border-radius: 3px;
                        -webkit-box-shadow: 1px 1px 3px #ddd;
                        -moz-box-shadow: 1px 1px 3px #ddd;
                        box-shadow: 1px 1px 3px #ddd;
                        font-size: 11px;
                        padding: 0 6px;
                    }
                }
                .extent-value {
                    white-space: nobreak;
                }
            }
        }
    }
}

/* PAGE: Resource/read */
/* ------------------- */
body.controller-package.action-resource_read {
    div.resource-actions {
        position: relative;
        float: right;
        .btn{
            bottom: 3px;
            padding: 8px 10px;
            margin: 0 0 0 7px;
        }
        .download  {
            padding-top: 2px;
            padding-right: 4px;
            img {
                margin-top: 1px;
                margin-right: 0px;
            }
        }
    }
    .quick-info {
        margin-top: -20px;
        > div {
            margin-bottom: 9px;
        }
    }
}

/* PAGE: Package/edit */
/* ------------------ */
body.controller-package.action-edit {
    #package-edit ul.nav,
    #package-edit ul.nav li {
        width: 210px;
        margin-right: -1px;
        background: #fff;
    }
    .tab-content {
        display: block;
        width: auto;
        > fieldset {
            border: 1px solid #DDD;
            padding: 20px;
            min-height: 338px;
        }
    }
    #section-description-field p {
        margin-top: 10px;
    }
    .nav-backnext {
        float: right;
    }
    #form-tabs {
        #disclaimer p,
        #disclaimer input {
            display: inline-block;
            *display: inline;
            zoom: 1;
            max-width: 400px;
            vertical-align: top;
            margin-left: 10px;
        }
        a.disabled {
            color: #a6a6a6;
            cursor: default;
            &:hover {
                background-color: transparent;
                cursor: default;
                border-color: transparent;
            }
        }
    }
    .fieldset_button_error {
        background: transparent url(../images/icons/error.png) right center no-repeat;
    }
    table .field_error {
        /* I *think* this applies to resources only? */
        border-color: #FF6666;
        background: transparent url(../images/icons/error.png) 98% center no-repeat;
    }
    .resources-well {
        padding: 15px 8px;
    }
    .resource-move-cell {
        width: 39px;
        padding: 6px 1px 0 1px !important;
        .btn {
            padding: 5px 2px 2px 2px;
        }
    }
    .resource-url .error input {
        background: transparent url(../images/icons/error.png) 98% center no-repeat;
    }
    .resource .input-medium {
        width: 130px;
    }
}

/* PAGE: package/history */
/* --------------------- */
body.controller-package.action-history {
    .history-table {
        margin-top: 15px;
        tr.selected td {
            background: #ffa !important;
        }
        td.compare {
            text-align: center;
            width: 50px;
        }
    }
}

/* PAGE: user/read (Sysadmins only) */
/* -------------------------------- */
body.controller-user.action-read {
    .user-page-table {
        width: 100%;
        border-collapse: separate;
        td {
            width: 426px; /* 460px - (17px padding each side) */
            vertical-align: top;
            min-height: 250px;
        }
        tr.gutter td {
            height: 20px;
        }
        td.gutter {
            width: 20px;
            padding: 0;
        }
    }
    ul.stats {
        margin: 0 auto;
        width: 280px;
    }
    ul.stats li {
        width: 100px;
        list-style-type: none;
        float: left;
        padding: 20px;
        text-align: center
    }
    ul.stats strong {
        font-size: 40px;
    }
    ul.stats span {
        display: block;
        color: #777;
    }
}
/* PAGE: Publisher/index */
/* -------------------- */
body.controller-publisher.action-edit {
    table.groups th {
        text-align: left;
    }
}
/* PAGE: Publisher/edit */
/* -------------------- */
body.controller-publisher.action-edit {
    hr.extras-divider {
        border: none;
        border-bottom: 1px dashed #ddd;
        width: 65%;
    }
    span.extras-label {
        display: inline-block;
        min-width: 50px;
        text-align: right;
    }
}
/* PAGE: Publisher/read */
/* -------------------- */
body.controller-publisher.action-read {
    .publisher-mini-tree {
        overflow: auto;
        overflow-x: hidden;
        -ms-overflow-x: hidden; /*IE 8 only*/
        max-height: 250px;
    }
}
/* PAGE: Harvest/index */
/* ------------------- */
body.controller-view.action-index { 
    /* fully: body.controller-view.action-read */
    /* shouldnt this go into a CSS file in the harvest folder? */
    #show-inactive-sources-content {
        width: 180px !important;
        label{
            margin-top: 0 !important;
        }
    }
    .status {
        font-style:italic;
        margin-bottom: 15px;
        padding: 9px;
        background: #ffe;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
    }
}
/* PAGE: Harvest/read */
/* ------------------ */
body.controller-view.action-read { 
    .harvest-source-title,
    .harvest-source-config{
        display:none;
    }
}
/* PAGE: Tag/index */
/* --------------- */
body.controller-tag.action-index {
    .pagination-alphabet a {
        padding: 0 10px;
    }
}

/* PAGE: Openspending/reports */
/* ------------------------ */
body.openspending_report {
    .voluntary { 
        display: none; 
    }
    #content .boxed .row .span4 {
        width: 260px;
    }
    .error-details .label {
        align: center;
    }
    table.error-details {
        table-layout: fixed;
    }
    .error-details td {
        overflow: hidden;
    }
    .text-warning {
        color: #C09853;
    }
}


/* TODO attach these to a page */

.harvest-metadata {
  overflow: hidden;
}

.harvest-metadata h1 {
    padding-top: 20px;
}
.harvest-metadata h2 {
    font-size: 20px;
   margin-left:20px;
}
.harvest-metadata h3 {
    font-size: 17px;
   margin-left:40px;
}
.harvest-metadata h4 {
    font-size: 15px;
   margin-left:60px;
}
.harvest-metadata h5 {
    font-size: 13px;
   margin-left:80px;
}

.harvest-metadata h2,
.harvest-metadata h3,
.harvest-metadata h4,
.harvest-metadata h5,
.harvest-metadata h6 {
  content: ':';
  margin-top: 5px;
  margin-bottom: 0px;
}
.harvest-metadata h5 {
  margin-bottom: 1px;
}
.harvest-metadata p {
   margin-left:100px;
  margin-bottom: 2px;
}
.harvest-metadata .list-item {
  padding-bottom: 20px;
}
