<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="feedback_comment(text,title)">
    <strong>${title}</strong>
    <p py:if="text" class="comment">${h.span_read_more(text,450)}</p>
    <p py:if="not text" class="comment no-comment">(no comment)</p>
  </py:def>

  <div py:def="feedback_item(item, package)" class="feedback-item" id="${item.id}">
      <!--p class="pull-right" py:if="item.is_publisher">
        Publisher
      </p-->
      <hr/>
      <div class="pull-right">
        <a py:if="c.user" class="btn btn-mini" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController', action='report_abuse', id=item.id)}" rel="nofollow"><i class="icon-exclamation-sign"></i> &nbsp;Flag as offensive</a>
        <py:if test="h.is_sysadmin()">
          <a class="btn btn-danger btn-mini"  href="javascript:0" onclick="return feedback_delete('${item.id}',false);">
            <i class="icon-trash"></i> &nbsp;Delete
          </a>
        </py:if>
      </div>
      <p>
        <strong>Submitted by:</strong> ${h.dgu_linked_user(item.user_id,organisation=item.organisation_name)} on ${h.render_datetime(item.created, date_format="%d/%m/%Y", with_hours=False)}
        <br/>
        <strong>Responding as:</strong>
        <py:if test="item.responding_as=='individual'">A Private Individual</py:if>
        <py:if test="item.responding_as=='organisation'">
          An Organisation
          <py:if test="item.organisation_name">
            <span style="color: #666">("${item.organisation_name}")</span>
          </py:if>
          <py:if test="not item.organisation_name">
            <em style="color: #666">(Unnamed)</em>
          </py:if>
        </py:if>
      </p>

      <py:if test="item.economic">
        <i class="feedback-view-icon icon-2x icon-gbp"></i> ${feedback_comment(item.economic_comment,'Economic Growth')}
      </py:if>

      <py:if test="item.social">
        <i class="feedback-view-icon icon-2x icon-group"></i> ${feedback_comment(item.social_comment,'Social Growth')}
      </py:if>

      <py:if test="item.effective">
        <i class="feedback-view-icon icon-2x icon-road"></i> ${feedback_comment(item.effective_comment,'Effective Public Services')}
      </py:if>

      <py:if test="item.linked">
        <i class="feedback-view-icon icon-2x icon-code-fork"></i> ${feedback_comment(item.linked_comment,'Potential links to other datasets')}
      </py:if>

      <py:if test="item.other">
        <i class="feedback-view-icon icon-2x icon-quote-left"></i> ${feedback_comment(item.other_comment,'Other Benefits')}
      </py:if>
  </div>

<!--! Moderation elements. Prettiness optional. -->
<div py:def="feedback_item_moderation
(item, package)" class="wrapper dataset dataset-summary boxed" id="${item.id}">
     <div py:with="title=package.title or package.name">
            <div class="alert alert-error" py:if="item.visible">
            This feedback is currently visible - it was flagged as offensive
            </div>
            <div class="alert alert-success" py:if="not item.visible">
            This feedback is not currently visible.
            </div>

      <div class="dataset-header">

        <a  href="${h.url_for(controller='package', action='read', id=package.name)}">
         <img class="dataset-icon" src="/images/inventory-feedback.png"/>
        </a>

         <h3><span class="underlined"><a  href="${h.url_for(controller='package', action='read', id=package.name)}">${title}</a></span></h3>

       </div>

       <div>
          <span>
            <strong>Submitted by</strong>: ${h.linked_user(item.user_id, maxlength=40)} on ${h.render_datetime(item.created, date_format="%d/%m/%Y", with_hours=False)}
          </span>

          <span class="pull-right" py:if="item.organisation_name">
            <strong>Organisation</strong>: ${item.organisation_name}
          </span>
       </div>
       <div>
          <span>
            <strong>Response type</strong>:
            <py:if test="item.responding_as=='individual'">Private individual</py:if>
            <py:if test="item.responding_as=='organisation'">Organisation</py:if>
          </span>
        </div>

        <br/>

        <div>
            <h3 style="border-bottom: solid 1px #999; margin-bottom: 20px;">Full response</h3>

            <h5 py:if="item.economic">Economic Growth</h5>
            <div py:if="item.economic and item.economic_comment">
              ${item.economic_comment}
              <hr/>
            </div>

            <h5 py:if="item.social">Social Growth</h5>
            <div py:if="item.social and item.social_comment">
              ${item.social_comment}
              <hr/>
            </div>

            <h5 py:if="item.effective">Effective Public Services</h5>
            <div py:if="item.effective and item.effective_comment">
              ${item.effective_comment}
              <hr/>
            </div>

            <h5 py:if="item.other">Other Benefits</h5>
            <div py:if="item.other and item.other_comment">
              ${item.other_comment}
              <hr/>
            </div>

            <h4 py:if="item.linked">Potential links to other datasets</h4>
            <div py:if="item.linked and item.linked_comment">
              ${item.linked_comment}
              <hr/>
            </div>

            ${feedback_moderation_button(item)}
        </div>
       <div class="clearfix"></div>
     </div>
  </div>


<div py:def="feedback_moderation_button(item, show_publish=True)">

    <div class="form-actions" py:if="h.is_sysadmin()">
    <table width="100%">
    <tr>
      <td py:if="show_publish">
          <a  class="btn btn-primary" href="javascript:0" onclick="return feedback_publish('${item.id}');">Publish</a>
      </td>
      <td py:if="not show_publish">
        <h4 py:if="not show_publish" style="border-bottom: solid 2px #ddd;" class="pull-left">Administrator only</h4>
      </td>
      <td align="right" >

          <a class="btn btn-danger pull-right"  href="javascript:0" onclick="return feedback_delete('${item.id}',false);">
            Delete
          </a>

      </td>
      <td py:if="show_publish">
          <a class="btn btn-danger pull-right"  href="javascript:0" onclick="return feedback_delete('${item.id}',true);">
            Delete and ban
          </a>
      </td>
    </tr>
    </table>

    </div>
</div>

</html>
