{% extends "package/read_common.html" %}

{% block title %}{{c.pkg.title or c.pkg.name}} - Add Feedback{% endblock %}

{% block optional_head %}
    <script type="text/javascript">
      var form_errors = {{c.errors_json}};
    </script>
{% endblock %}

{% block breadcrumb_content %}
    {{ h.build_nav('dgu_search', _('Datasets')) }}
    {{ h.build_nav('dataset_read', c.pkg_dict.get('title', c.pkg_dict['name']), id=c.pkg_dict['name']) }}
    {{ h.build_nav('feedback_add', _('Add Feedback'), id=c.pkg_dict['name']) }}
{% endblock %}

{% macro package_content() %}
  <hr/>
    <h2>Add Feedback</h2>
    {{c.form}}
{% endmacro %}
