<form id="feedback-edit" method="post"
  py:attrs="{'class':'has-errors package_create_form ckan form-horizontal'} if c.errors else {'class':'package_create_form ckan form-horizontal'}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  onsubmit="return validate_feedback()"
>

<!-- recursive function turns errors into hierarchical lists -->
<py:def function="dump(o)">
  <ul py:if="type(o) is dict and bool(o)">
    <li py:for="k,v in h.iterate_error_dict(o)">
      <py:if test="type(v) in [str, unicode]">
        <b>${k}:</b> ${v}
      </py:if>
      <py:if test="not (type(v) in [str, unicode])">
        <b>${k}: </b> ${dump(v)}
      </py:if>
    </li>
  </ul>
  <ul py:if="type(o) is list and bool(o)">
    <py:for each="v in o">
      ${dump(v)}
    </py:for>
  </ul>
  <li py:if="(type(o) is str or type(o) is unicode) and bool(o)">
    ${o}
  </li>
</py:def>


<p py:if="c.pkg.extras.get('unpublished', False)">Please complete this form to submit your views on this dataset and its potential impact if published. Your input will be reviewed as part of the process of prioritising datasets to be part of the <a href="/blog/the-national-information-infrastructure-where-are-we">National Information Infrastructure</a>.</p>

<p py:if="c.pkg.extras.get('unpublished', False) == False">
Please complete this form to submit your views on this dataset and its impact. Your input will be reviewed as part of the process of prioritising datasets to be part of the <a href="/blog/the-national-information-infrastructure-where-are-we">National Information Infrastructure</a>.
</p>

<div class="panel panel-danger errors" style="display:none;">
  <div class="panel-heading">Error</div>
  <div class="panel-body">There are errors in the form, please correct them before re-submitting.</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>1. State the benefits of releasing this dataset as open data</strong></div>
  <div class="panel-body">
    <div class="control-group" id="economic-group">
      <label class="checkbox">
        <input type="checkbox" value="yes" name="economic" onclick="$('#economicdiv').toggle('slideDown');"/>
        <strong>Economic growth</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-gbp"></i></p>
      <p>i.e. releasing this dataset as open data means you or your organisation are able to provide a commercial product or service or has other positive economic impacts such as better functioning of markets.</p>

      <div id="economicdiv" class="comment_block">
          <span class="help-block">Please give details for selection below</span>
          <textarea name="economic_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
    <div class="control-group" id="social-group">
      <label class="checkbox">
        <input type="checkbox" name="social" value="yes" onclick="$('#socialdiv').toggle('slideDown');"/>
        <strong>Social Growth</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-group"></i></p>
      <p>i.e. releasing this dataset as open data means you or your organisation are able to more easily undertake social action, deliver the services of a community group or charity or has a positive environmental impact.</p>

      <div id="socialdiv"  class="comment_block">
          <span class="help-block">Please give details for selection below</span>
          <textarea name="social_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
    <div class="control-group"  id="effective-group">
      <label class="checkbox">
        <input type="checkbox" name="effective" value="yes" onclick="$('#effectivediv').toggle('slideDown');"/>
        <strong>Effective Public Services</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-road"></i></p>
      <p>i.e. releasing this dataset as open data means that a public service is able to run more effectively by giving greater transparency of its operation to citizens, allowing greater choice or supporting new models of provision of services.</p>

      <div id="effectivediv"  class="comment_block">
          <span class="help-block">Please give details for selection below</span>
          <textarea name="effective_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
    <div class="control-group"  id="other-group">
      <label class="checkbox">
        <input type="checkbox" name="other" value="yes" onclick="$('#otherdiv').toggle('slideDown');"/>
        <strong>Other Benefits</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-quote-left"></i></p>
      <p>Add your own comments...</p>

      <div id="otherdiv"  class="comment_block" >
          <span class="help-block">Please give details for selection below</span>
          <textarea name="other_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>2. Potential links to other datasets</strong></div>
  <div class="panel-body">
    <div class="control-group"  id="linked-group">
      <p class="add-feedback-icon"><i class="icon-code-fork"></i></p>
      <p>Does this dataset contain data which could be used to link it to other datasets?</p>

      <label class="radio">
        <input type="radio" name="linked" value="no" checked="checked"  onclick="$('#linkeddiv').slideUp();"/>
        No
      </label>
      <label class="radio">
        <input type="radio" name="linked" value="yes" onclick="$('#linkeddiv').slideDown();"/>
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="linked" value="dontknow" onclick="$('#linkeddiv').slideUp();"/>
        Don't know
      </label>

      <div id="linkeddiv"  class="comment_block" >
          <span class="help-block">Please explain further</span>
          <textarea name="linked_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>3. Information about you</strong></div>
  <div class="panel-body">
    <div class="control-group">
      <p>Are you responding:</p>
      <label class="radio">
        <input type="radio" name="responding_as"  value="individual" checked="checked"  onclick="$('#orgdiv').slideUp();"/>
        As a private individual
      </label>
      <label class="radio">
        <input type="radio" name="responding_as"  value="organisation"  onclick="$('#orgdiv').slideDown();"/>
        On behalf of an organisation
      </label>

      <div style="margin-left: 20px;"  class="control-group comment_block"  id="orgdiv">
          <label class="radio">
            <input type="radio" name="organisation" value="Central Government Dept" checked="checked"/>
            A central government department
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Public Sector Org"/>
            Another public sector organisation
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Startup"/>
            A start-up business
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="SME"/>
            A small to medium sized business (less than 250 employees)
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Large org"/>
            A large business (250 employees or above)
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="NFP"/>
            A voluntary / not-for-profit organisation
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Academic"/>
            An academic or research organisations
          </label>

          <label for="organisation_name">
            Organisation name
          </label>
          <py:with vars="publishers = sorted(c.userobj.get_groups(), key=lambda x:x.title)">
            <py:if test="len(publishers) > 0">
                <select name="organisation_name">
                    <py:for each="group in publishers">
                      <option>${group.title}</option>
                    </py:for>
                </select>
            </py:if>
            <py:if test="len(publishers) == 0">
              <input name="organisation_name" type="text" placeholder="Organisation name" class='input-large'/>
            </py:if>
          </py:with>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>4. Future contact</strong></div>
  <div class="panel-body">
    <div class="control-group">
      <p>We will use the email contact in your data.gov.uk profile.</p>
      <label class="radio">
        <input type="radio" name="contact" value="yes"/>
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="contact" value="no"  checked="checked"/>
        No
      </label>
    </div>
  </div>
</div>

<div class="panel panel-danger errors" style="display:none;">
  <div class="panel-heading">Errors</div>
  <div class="panel-body">There are errors in the form, please correct them before re-submitting.</div>
</div>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">Submit feedback</button>
</div>

<script type="text/javascript">
  <!--
  $('.comment_block').hide()

  function validate_feedback() {
    var errors = false

    if ($('input[name=linked]:checked').val() == 'yes' && $("[name='linked_comment']").val() == "" ) {
      $("#linked-group").addClass('error')
      errors = true
    }

    if (errors) {
      $('.errors').show()
    }
    return errors == false
  }
  -->
</script>
</form>

