<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">


<xi:include href="_feedback_util.html" />

  <py:def function="page_title">Moderate feedback</py:def>

 <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="/data/system_dashboard">System Dashboard</a></li>
    <li><a href="/data/feedback/moderation">Feedback moderation</a></li>
  </py:match>


  <py:def function="sidebar">
    <div class="boxed">

        <div>
          <h4>Reports</h4>
          <ul>
            <li>
                <a href="${h.url_for(controller='ckanext.dgu.controllers.reports:ReportsController', action='feedback')}">Dataset feedback</a>
            </li>
          </ul>
      </div>
    </div>
  </py:def>

  <div py:match="content" class="dataset">

      <p>This is the moderation queue.  Items here have been reported as abusive/spam by
      users and require attention.</p>
      <p>Please use the buttons underneath each element to moderate each comment</p>

      <p>
        <ul>
          <li><strong>Publish</strong> will mark the item as moderated and make it visible, if it is not</li>
          <li><strong>Delete</strong> will remove the comments from the systems</li>
          <li><strong>Delete and Ban</strong> will remove the comments and stop the user who posted it from
          posting again</li>
        </ul>
      </p>

        <h3 py:if="c.items.count() == 0">Nothing to moderate yet.</h3>

        <py:for each="pos, item in enumerate(c.items)">
          ${feedback_item_moderation(item, h.get_package_from_id(item.package_id))}
        </py:for>


  </div>

  <xi:include href="../layout_base.html" />
</html>

