{% extends "page.html" %}
{% import "feedback/_feedback_util_jinja.html" as m with context %}

{% block title %}Moderate feedback{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('dgu_search', _('Datasets')) }}
  <li><a href="/data/system_dashboard">System Dashboard</a></li>
  <li><a href="/data/feedback/moderation">Feedback Moderation</a></li>
{% endblock %}

{% block primary_content_inner %}
  <div class="dataset">
    <h1>Feedback Moderation</h1>

      <p>This is the moderation queue.  Items here have been reported as abusive/spam by
      users and require attention.</p>
      <p>Please use the buttons underneath each element to moderate each comment</p>

      <p>
        <ul>
          <li><strong>Publish</strong> will mark the item as moderated and make it visible, if it is not</li>
          <li><strong>Delete</strong> will remove the comments from the systems</li>
          <li><strong>Delete and Ban</strong> will remove the comments and stop the user who posted it from
          posting again</li>
        </ul>
      </p>

        {% if c.items.count() == 0 %}
          <h3>Nothing to moderate yet.</h3>
        {% endif %}

        {% for item in c.items %}
          {{m.feedback_item_moderation(item, h.get_package_from_id(item.package_id))}}
        {% endfor %}
  </div>
{% endblock %}