<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">


<xi:include href="_feedback_util.html" />

  <py:def function="page_title">${c.pkg.title or c.pkg.name} - View Feedback </py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="${h.url_for(controller='package',action='read',id=c.pkg_dict['name'])}">${c.pkg_dict.get('title', c.pkg_dict['name'])}</a></li>
    <li><a href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='view',id=c.pkg_dict['name'])}">View Feedback</a></li>
  </py:match>

  <py:def function="package_content">
    <hr/>
    <div class="view-feedback">
      <h2>Feedback &nbsp;
        <a href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='add',id=c.pkg.name)}" class="h2-subheading add-feedback-button">
          <py:if test="c.user">Add feedback &raquo;</py:if>
          <py:if test="not c.user">Login to Add feedback &raquo;</py:if>
        </a>
      </h2>
      <p style="font-style: italic; color: #666;" py:if="c.items.count() == 0">(No feedback yet)</p>
      <py:for each="item in c.items">
        ${feedback_item(item, c.pkg_dict)}
      </py:for>
    </div>
  </py:def>

  <xi:include href="../package/read_common.html" />
</html>

