{% extends "package/read_common.html" %}

{% import "feedback/_feedback_util.html" as m with context %}

{% block title %}{{c.pkg.title or c.pkg.name}} - View Feedback{% endblock %}

{% block breadcrumb_content %}
    {{ h.build_nav('dgu_search', _('Datasets')) }}
    {{ h.build_nav('dataset_read', c.pkg_dict.get('title', c.pkg_dict['name']), id=c.pkg_dict['name']) }}
    {{ h.build_nav('feedback_view', _('View Feedback'), id=c.pkg_dict['name']) }}
{% endblock %}

{% macro package_content() %}
    <hr/>
    <div class="view-feedback">
      <h2>Feedback &nbsp;
        <a href="{{h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='add',id=c.pkg.name)}}" class="h2-subheading add-feedback-button">
          {% if c.user %}Add feedback &raquo;{% else %}Login to Add feedback &raquo;{% endif %}
        </a>
      </h2>
      {% for item in c.items %}
        {{m.feedback_item(item, c.pkg_dict)}}
      {% else %}
        <p style="font-style: italic; color: #666;">(No feedback yet)</p>
      {% endfor %}
    </div>
{% endmacro %}
