<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<py:def function="unpublished_block(title, pkg_list)">
    <div class="boxed">
      <div class="title frontpage-search-panel">
        <h2><span class="big">${title}</span> unpublished datasets</h2>
        <hr/>
        <p py:if="not pkg_list">There are no items to show</p>
        <p py:if="pkg_list">
           <div class='view-content'>
              <py:for each="pkg in pkg_list">
                <div>
                    <h4 class="views-field-title">
                      <a href="${h.url_for(controller='ckanext.dgu.controllers.package:PackageController', action='read',id=pkg.name)}">${pkg.title}</a>
                    </h4>
                    <div>
                      <strong>Description</strong>: ${h.truncate(pkg.notes, 200)}..
                    </div>
                    <div py:if='h.unpublished_release_date(pkg)'>
                      <strong>Publish date</strong>: ${h.render_datestamp(h.unpublished_release_date(pkg)) or "Not specified"}
                    </div>
                    <div py:if='h.unpublished_release_notes(pkg)'>
                      <strong>Release notes</strong>: ${h.truncate(h.unpublished_release_notes(pkg), 200)}
                    </div>
                    <br/>
                </div>

              </py:for>
            </div>
        </p>
      </div>
    </div>
</py:def>


<py:def function="inventory_jobs()">
  <div class="panel panel-success">
    <div class="panel-heading">Recent Inventory Uploads</div>
    <div class="panel-body">
      <p py:if="not c.jobs">There are no recent uploads</p>
      <ul py:if="c.jobs">
        <py:for each="jid, tstamp in c.jobs">
          <li><a href="${h.url_for(controller='ckanext.dgu.controllers.inventory:InventoryController', action='upload_status',id=c.group.name, upload_id=jid )}">${h.render_datestamp(tstamp)} - ${h.render_datestamp(tstamp,format="%H:%M")}</a></li>
        </py:for>
      </ul>
    </div>
  </div>
</py:def>


</html>

