{% extends "page.html" %}

{% import "inventory/inventory_util_jinja.html" as m with context %}


{% block title %}{{c.group.display_name}}{% endblock title%}


{% block breadcrumb_content %}
  {{ h.build_nav('publisher_index', _('Datasets')) }}
  {{ h.build_nav('publisher_read', c.group['title'], id=c.group['name'] ) }}
  {{ h.build_nav('unpublished_edit', _('Manage inventory'), id=c.group['name'] ) }}
    <li><a href="${request.url}">Upload results</a></li>
{% endblock %}


{% block primary_content_inner %}
    {% if c.group['state'] != 'active' %}
    <h3>State: {{c.group['state']}}</h3>
    {% endif %}

    <div class="row">

      {% if c.errors %}
      <div>
        <div class="alert alert-danger">
          {% for e in c.errors %}
            <p>{{h.literal(e)}}</p>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div  class="col-md-8" py:if="not c.errors">
        <h1>Upload results</h1>

        <div class="alert alert-success">
          Your Inventory document has been successfully uploaded to data.gov.uk
        </div>

        <p>These items will appear in a list of your uploaded inventory items within 2-4 hours.  To track of the status of Your Inventory uploads go to <a href="{{h.url_for(controller='ckanext.dgu.controllers.inventory:InventoryController', action='upload_status',id=c.group.name, upload_id=c.job_id )}}">{{h.render_datestamp(c.job_timestamp)}} - {{h.render_datestamp(c.job_timestamp,format="%H:%M")}}</a> or click the '{{h.render_datestamp(c.job_timestamp)}} - {{h.render_datestamp(c.job_timestamp,format="%H:%M")}}' link from the 'Recent Inventory Uploads' section of the side-bar.</p>
      </div>
      {% endif %}

      <div class="col-md-4">
        {{m.inventory_jobs()}}
      </div>

    </div>
{% endblock %}

{% block optional_feed %}

  <link rel="alternate" type="application/atom+xml" title="{{g.site_title}} - Datasets in group '{{c.group['title']}}'"
    href="{{h.url(controller='feed', action='group', id=c.group['name'])}}" />
  </py:def>

{% endblock %}