<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <title>Home - data.gov.uk</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="http://m.okfn.org/gfx/logo/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/atom+xml" title="data.gov.uk - Recent Revision History" href="http://data.gov.uk/revision/list?format=atom&amp;days=1" />
  <link rel="stylesheet" href="/css/ckan.css" type="text/css" media="screen, print" />
  <!--[if IE]>
  <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, print" />
  <![endif]-->
<link rel="shortcut icon" href="/images/datagovuk_favicon.png" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/dgu-1.css" />
  <link type="text/css" rel="stylesheet" media="print" href="/css/dgu-2.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/pagination.css" />
        <!--
  <link type="text/css" rel="stylesheet" media="all" href="http://assets.okfn.org/kforge/css/forms.css" />
        -->
  <!--[if IE 7]>
    <link type="text/css" rel="stylesheet" media="all" href="http://data.gov.uk/sites/all/themes/datagovuk/css/ie7.css" />
  <![endif]-->
  <!--[if IE 6]>
    <link type="text/css" rel="stylesheet" media="all" href="http://data.gov.uk/sites/all/themes/datagovuk/css/ie6.css" />
  <![endif]-->
  <script src="/scripts/jquery_003.js"></script>
  <script src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/application.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        var ckan_user = $.cookie("ckan_user");
        if (ckan_user) {
            ckan_user = eval(ckan_user); // get rid of spurious quotes
            $("#ckan_user_name")[0].innerHTML = ckan_user;
            $(".ckan_logged_out").hide();
            $(".ckan_logged_in").show();
        }
    });
  </script>
  <style type="text/css">
    /* ckan page headings are h2 */
    #content h2 {
      color: black;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
      background: transparent;
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
    }
    /* block witdth is 287px */
    div#block-block-30 p {
      padding: 15px;
      padding-bottom: 0px;
      width: 257px;
    }
    #secondary {
      border-top: solid 1px lightGrey;
    }
                .pager a, .pager strong.pager-current {
                        display: inline;
                }
  </style>
  <script src="/scripts/jquery_002.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.fn.tagcloud.defaults = {
        size: {start: 10, end: 32, unit: "pt"},
        color: {start: '#af8', end: '#f52'}
      };
      $("#tagcloud a").tagcloud();
    })
  </script>
  <style type="text/css">
    #tagcloud * {
      display: inline-block;
      vertical-align: middle;
      line-height: 0.9;
    }
    #tagcloud a {
      text-decoration: none;
    }
    #tagcloud a:hover {
      text-decoration: underline;
    }
    #tagcloud {
      margin: 25px auto;
      text-align: center;
    }
  </style>
</head>
<body class="not-front not-logged-in node-type-page one-sidebar sidebar-right page-data section-data">
  <div id="page">
    <ul id="accesslinks"> 
      <li id="skip-to-nav"><a href="#navigation_primary">Skip to Navigation</a></li> 
      <li id="skip-to-content"><a href="#content" accesskey="s">Skip to Content</a></li> 
    </ul>
    <div id="header">
      <div id="login"> 
        <img src="/images/1x1.gif" alt="HM Government logo" id="logo_hm-government" class="sprite" />
      </div> <!-- /#login -->
      <div class="inner"> 
        <!--<div id="search-box">
          <form action="/package/search" accept-charset="UTF-8" method="post" id="search-theme-form">
          <div>
            <div id="search" class="container-inline">
  <div class="form-item" id="edit-search-theme-form-1-wrapper">
 <label for="edit-search-theme-form-1">Search this site: </label>
 <input maxlength="128" name="q" id="edit-search-theme-form-1" size="15" title="Enter the terms you wish to search for." class="form-text" type="text">
</div>
<input name="op" id="edit-submit-1" value="Search" class="form-submit" type="submit">
<input name="form_build_id" id="form-3dd791e4fe41e37f7aba644b37ae2b7d" value="form-3dd791e4fe41e37f7aba644b37ae2b7d" type="hidden">
<input name="form_id" id="edit-search-theme-form" value="search_theme_form" type="hidden">
</div>
</div></form>
        </div>--> <!-- /#search-box -->

        <form action="/data" accept-charset="UTF-8" method="post" id="search-theme-form" class="search" role="search" accesskey="4">
          <div>
            <div id="search" class="container-inline">
              <div class="form-item" id="edit-search-theme-form-1-wrapper">
                <label for="edit-search-theme-form-1">Search this site: </label>
                <div class="form-text">
                  <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text  apachesolr-autocomplete unprocessed  form-autocomplete" accesskey="4" autocomplete="off" />
                </div>
            </div>
            <input type="submit" name="op" id="edit-submit-1" value="Search" class="form-submit" />
            <input type="hidden" name="form_build_id" id="form-b93b79506b40bdfc9e82b0ca85f79fea" value="form-b93b79506b40bdfc9e82b0ca85f79fea" />
            <input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form" />
          </div>

        </div></form>

        <div id="logo-title">
          <div id="logo">
            <a href="http://data.gov.uk/" id="logo_datagovuk" class="sprite" accesskey="1" title="Back to homepage"><span>Back to homepage</span></a>
          </div>
        </div> <!-- /#logo-title -->
        <span id="slogan" class="sprite"><span>Opening up government data</span></span>
      </div> <!-- /#inner -->
      <div id="navbar"><div id="navbar-inner" class="clear-block region region-navbar">
          <a name="navigation" id="navigation"></a>
                      <div id="primary" class="clear-block">
                        <ul id="navigation_primary" class="clear-block">
      <li><a class="active" href="http://data.gov.uk/">Home</a></li>
</ul>            </div> <!-- /#primary -->
          <div id="block-block-39" class="block block-block region-odd odd region-count-1 count-3"><div class="block-inner">

          </div></div> <!-- /block-inner, /block -->
      </div></div> <!-- /#navbar-inner, /#navbar -->
    </div> <!-- /#header -->
    <div id="main">
            <div id="content"><div id="content-inner">
                <div id="content-header">
                </div> <!-- /#content-header -->
        <div id="content-area">
          <div id="node-3" class="node node-type-page"><div class="node-inner">
  <div class="content">
    <div>
    <h2>Catalogue APIs (Beta)</h2>
    <p>Welcome to the data.gov.uk catalogue. The APIs provided here allow you to explore the metadata about the data sets we hold.</p>

    <p>To get started <a href="http://data.gov.uk/blog/announcing-datagovuk-catalogue-apis">read the blog post</a>.</p>

  </div>
  </div>
</div></div> <!-- /node-inner, /node -->
        </div>
      </div></div> <!-- /#content-inner, /#content -->
    <div id="sidebar-right"><div id="sidebar-right-inner" class="region region-right">
        <div id="block-block-30" class="block block-block region-odd odd region-count-1 count-1"><div class="block-inner">
    <div class="box">
      <h2>More information</h2>
      <ul>
        <li><a href="http://data.gov.uk/blog/announcing-datagovuk-catalogue-apis#list-of-api-calls">Available API calls</a></li>
      </ul>
    </div>
</div></div> <!-- /block-inner, /block -->
        </div></div> <!-- /#sidebar-right-inner, /#sidebar-right -->
    </div> <!-- /#main -->
    <div id="secondary" class="clear-block">
              <ul class="links"><li class="menu-371 first"><a href="http://data.gov.uk/terms-and-conditions" title="Terms / Privacy">Terms and conditions</a></li>
<li class="menu-416"><a href="http://data.gov.uk/code-conduct" title="Code of conduct">Code of conduct</a></li>
<li class="menu-374"><a href="http://data.gov.uk/project" title="">Project Info</a></li>
<li class="menu-373"><a href="http://data.gov.uk/faq" title="FAQ">FAQ</a></li>
<li class="menu-372"><a href="http://data.gov.uk/contact" title="Contact Us">Contact us</a></li>
<li class="menu-2483"><a href="http://data.gov.uk/accessibility-statement" title="Accessibility Statement">Accessibility</a></li>
<li class="menu-2810"><a href="http://data.gov.uk/moderation-policy" title="Moderation policy">Moderation policy</a></li>
<li class="menu-2123"><a href="http://data.gov.uk/privacy" title="Privacy">Privacy</a></li>
<li class="menu-2786 last"><a href="http://data.gov.uk/sitemap" title="">Sitemap</a></li>
</ul>            </div> <!-- /#secondary -->
            </div> <!-- /#page -->
</body></html>
