
<form action="" method="post" {% if errors%}class="has-errors"{% endif %}>

{% if error_summary%}
<div class="error-explanation" >
	<h2>Errors in form</h2>
	<p>The form contains invalid entries:</p>
	<ul>
          {% for key, error in error_summary.items() %}
	   <li>{{"%s: %s" % (key, error)}}</li>
          {% endfor %}
	</ul>
</div>
{% endif %}

<input type="hidden" id="type" name="type" value="organization" />

<fieldset id="application">
  <dl>
	<dt>
		<span><strong>Publisher:</strong></span>
	</dt>
	<dd>
        {% if c.group %}
            <input type="hidden" id="parent" name="parent" disabled="disabled" value="{{c.group.id}}"/>
            {{c.group.title}}
        {% else %}
            <select id="parent" name="parent" class="chzn-select" data-placeholder="Please choose a publisher">
                <option value=""></option>
                    {% for pg in c.possible_parents %}
                        <option {% if c.group and pg.id == c.group.id %}selected="selected"{% endif%} value="{{pg.id}}">{{pg.title}}</option>
                    {% endfor %}
                </select>
        {% endif %}
	</dd>


    <dt><label class="field_opt" for="name"><strong>Reason</strong></label></dt>
    <dd>
		<textarea rows="10" cols="60" class="" id="reason" name="reason">{{data.get('reason', '')}}</textarea>
		<br/>
		<span class="hints">Please explain the reason for you to publish on data.gov.uk. To help us authenticate you, mention your position if it includes responsibily to publish data, or name a more senior person that has delegated the responsibility.</span>
	</dd>
  </dl>
</fieldset>


<div class="form-actions">
  <input id="save" class="btn btn-primary" name="save" type="submit" value="{{_('Send request')}}" />
  {% if c.group %}
    <input id="cancel" class="btn href-action" name="cancel" type="reset" value="{{_('Cancel')}}" action="{{h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=c.group.name)}}" />
  {% endif %}
</div>
</form>
