<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Apply</py:def>
  <py:def function="page_heading">Apply for membership</py:def>

 <py:match path="breadcrumbs">
    <li><a href="/publisher">Publishers</a></li>
    <py:if test="not c.group">
      <li><a href="/publisher/apply}">Apply for membership</a></li>
    </py:if>
    <py:if test="c.group">
      <li><a href="/publisher/${c.group.name}">${c.group.display_name}</a></li>
      <li><a href="/publisher/apply/${c.group.name}">Apply for membership</a></li>
    </py:if>
  </py:match>

  <div py:match="content" class="group-edit-form">
    <div class="boxed">
      ${Markup(c.form)}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>

