{% extends "page.html" %}

{% block title %}Apply{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/publisher">Publishers</a></li>
    {% if not c.group %}
      <li><a href="/publisher/apply}">Apply for membership</a></li>
    {% else %}
      <li><a href="/publisher/{{c.group.name}}">{{c.group.display_name}}</a></li>
      <li><a href="/publisher/apply/{{c.group.name}}">Apply for membership</a></li>
    {% endif %}
{% endblock%}

{% block primary_content_inner %}
<h1>Apply for membership</h1>
  <div class="group-edit-form">
    <div class="boxed">
      {{c.form|safe}}
    </div>
  </div>
{% endblock %}
