<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.group.title or c.group.name} - Edit - Publisher</py:def>

  <py:def function="body_class">no-sidebar</py:def>

  <py:def function="page_heading">
  Edit: ${c.group.title}
  </py:def>

  <div py:match="content" class="dataset-edit-form">
    <div class="boxed">
      ${c.form}
    </div>
  </div>

  <xi:include href="../layout_base.html" />
</html>

