<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.group.title or c.group.name} - Edit - Publisher</py:def>

  <py:match path="breadcrumbs">
    <li><a href="/publisher">Publishers</a></li>
    <li><a href="/publisher/${c.group.name}">${c.group.title or c.group.name}</a></li>
    <li><a href="/publisher/edit/${c.group.name}">Edit</a></li>
  </py:match>

  <div py:match="content" class="dataset-edit-form">
    <h1>Edit Publisher <small>${c.group.title}</small></h1>
    ${c.form}
  </div>

  <xi:include href="../layout_base.html" />
</html>

