{% extends "page.html" %}

{% block title %}Publisher - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('publisher_index', _('Publishers')) }}
{% endblock %}

{% block primary_content_inner %}
  {% set hierarchy = h.publisher_hierarchy() %}
  {% set publisher_abbreviations = h.publisher_abbreviations() %}
  {% set closed_publisher_ids = h.closed_publisher_ids() %}

  <h1>Publishers</h1>
  <p>Datasets are 'published' on data.gov.uk by a range of organisations, mainly from the public sector. On this page you can browse and search for them by name or place in a notional hierarchy.</p>
  {% if h.check_access('organization_create', {}) %}
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Add New Publisher</strong></div>
      <div class="panel-body"><a href="{{ h.url_for('publisher_new') }}">Add publisher</a></div>
    </div>
  {% elif c.userobj %}
    <div class="panel panel-info">
      <div class="panel-heading"><strong>Adding New Publishers</strong></div>
      <div class="panel-body">If you are from a public sector body not listed below, please <a href="/contact/6">get in touch with Cabinet Office data.gov.uk team</a> to request the addition of your organization.</div>
    </div>
  {% endif %}
  <div class="search-area" style="margin-top: 20px; margin-bottom: 30px;">
    <div class="clearfix dgu-equal-height" data-selector=".auto-height">
      <div class="left">
        <div class="left-inner auto-height form-search">
          <div class="input-group">
            <input id="js-search" class="form-control" type="text" name="q" value="{{c.q}}" results="0" placeholder="Start typing a name..." />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <i class="icon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-inner auto-height">
          <div class="chevron"></div>
          <div class="result-count">All</div>
          <div class="result-count-footer">Publishers</div>
        </div>
      </div>
    </div>
  </div><!-- /search-area -->
  <div class="publisher-hierarchy empty-search">

    {% macro render_publisher(pubs) %}
      {% for pub in h.put_closed_publishers_last(pubs, closed_publisher_ids) recursive %}
        {% set closed = pub['id'] in closed_publisher_ids %}
        <div class="publisher collapsed">
          {% if pub['children'] %}
            <button class="btn btn-xs btn-primary js-expand"><i class="icon icon-plus"></i></button>
            <button class="btn btn-xs btn-default js-collapse"><i class="icon icon-minus"></i></button>
          {% endif %}
          <div class="publisher-row {% if closed %}closed{% endif %}">
            <a href="/publisher/{{ pub['name'] }}">
              {{ pub['title'] }}
              {% if publisher_abbreviations.get(pub['id']) %}
                ({{ publisher_abbreviations.get(pub['id']) }})
              {% endif %}
              {% if closed %}
                (Closed)
              {% endif %}
            </a>
          </div>
          {{ loop(h.put_closed_publishers_last(pub['children'], closed_publisher_ids)) }}
        </div>
      {% endfor %}
    {% endmacro %}

    {{ render_publisher(h.put_closed_publishers_last(hierarchy, closed_publisher_ids)) }}
  </div>

  <script src="/scripts/dgu-publisher-index.min.js"></script>
{% endblock %}
