<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

 <table py:def="publisher_list(groups)" class="groups">
   <py:for each="group,title in groups">
   <tr>
     <td><a href="/publisher/${group.name}">${title}</a></td>
   </tr>
   </py:for>
 </table>


 <py:def function="publisher_tree(groups)">
	${ Markup( h.render_tree( groups ))  }
 </py:def>


</html>
