<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<py:def function="publisher_sidebar()">
  <div class="boxed">

      <div class="widget-container">
        <h4>Reports</h4>
        <ul>
          <li>
              <a href="${h.url_for(controller='ckanext.dgu.controllers.reports:ReportsController', action='feedback', id=c.group.name)}">Feedback</a>
          </li>
        </ul>
    </div>


    <div py:if="h.check_access('package_create', {'owner_org':c.group.name})" class="widget-container">
      <h4>Publisher Administration</h4>
      <ul>
        <li py:if="h.check_access('organization_update', {'id':c.group.id})">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='edit', id=c.group.name)}">Edit publisher properties</a>
        </li>
        <li py:if="h.check_access('group_update', {'id':c.group.id})">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.inventory:InventoryController', action='edit',id=c.group.name)}">Manage unpublished datasets</a>
        </li>
        <li>
          <a href="${h.url_for('dataset_new')}?owner_org=${c.group.name}">Add a new dataset</a>
        </li>
      </ul>
    </div>
    <div py:if="c.userobj" class="widget-container">
      <h4>Administrators</h4>
      <py:choose>
      <py:when test='(not c.is_an_official) and c.administrators.count()'>
      <ul>
        <li><a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=c.group.name)}">${c.administrators.count()} administrator${h.pluralise_text(c.administrators.count())}</a></li>
      </ul>
      </py:when>
      <py:otherwise>
      <ul>
        <li py:for="admin in c.administrators">${h.linked_user(admin, maxlength=40)}</li>
      </ul>
      </py:otherwise>
      </py:choose>
      <p py:if="not c.administrators.count()">No-one assigned</p>
    </div>
    <div py:if="c.userobj" class="widget-container">
      <h4>Editors</h4>
      <ul>
        <py:choose>
        <py:when test='(not c.is_an_official) and c.editors.count()'>
        <li><a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=c.group.name)}">${c.editors.count()} editor${h.pluralise_text(c.editors.count())}</a></li>
        </py:when>
        <py:otherwise>
        <li py:for="editor in c.editors">${h.linked_user(editor, maxlength=35)}</li>
        </py:otherwise>
        </py:choose>
        <li py:if="not c.editors.count()">No-one assigned</li>
        <li py:if="not c.userobj in c.administrators and not c.userobj in c.editors">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='apply', id=c.group.name)}">Request to become an <py:if test="not c.administrators.count()">Admin or</py:if> Editor</a>
        </li>
        <py:if test="h.check_access('group_update', {'id':c.group.id})">
        <li><a class="btn btn-mini btn-info" href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='users', id=c.group.name)}">Edit user permissions</a></li>
        </py:if>
      </ul>
    </div>

    ${basket()}

    <div class="widget-container">
      <h4>Contacts</h4>
      Enquiries:
      <ul style="margin-bottom: 5px;">
        ${c.group_extras.get('contact-name')}
        ${contact_details(c.group_extras.get('contact-name'),
        c.group_extras.get('contact-email'),
        c.group_extras.get('contact-phone'),
        c.group_extras.get('website-url'),
        c.group_extras.get('website-name'))}
      </ul>
      <span class="js-tooltip" title="Use the Freedom of Information Act to request more information from the body holding the data">FOI requests</span>:
      <ul>
        ${c.group_extras.get('foi-name')}
        ${contact_details(c.group_extras.get('foi-name'),
        c.group_extras.get('foi-email'),
        c.group_extras.get('foi-phone'),
        c.group_extras.get('foi-web'), '')}
      </ul>
    </div>

    <div py:if="h.ga_report_installed()" class="widget-container">
      <h4>Popular datasets</h4>
      ${h.most_popular_datasets(c.group, 5, preview_image="/images/graph_preview_thumbnail.png")}
    </div>

    <div class="widget-container">
      <h4>Publisher Hierarchy</h4>
      <div id="publisher-tree-wrapper">
        <div id="publisher-tree" class="publisher-mini-tree">

          ${Markup(h.render_mini_tree(c.group.name))}

      </div>
      </div>
    </div>

    <div py:if="h.group_category(c.group_extras) or h.spending_published_by(c.group_extras)" class="widget-container">
      <h4>Details</h4>
        <table class="table table-striped">
        <tr py:if="h.group_category(c.group_extras)"><th>Category</th><td>${h.group_category(c.group_extras)}</td></tr>
        <tr py:if="h.spending_published_by(c.group_extras)"><th>Spending data published by</th><td><a href="/publisher/${h.spending_published_by(c.group_extras).name}">${h.spending_published_by(c.group_extras).title}</a></td></tr>
      </table>
    </div>
  </div>
</py:def>

  <div py:def="publisher_traffic_lights(publisher)" class="widget-container sidebar-publisher-report">
    <?python
      import ckanext.dgu.lib.helpers as dgu_helpers
      lights = dgu_helpers.publisher_performance_data(publisher, False)
      css_light = {
        'green':'success',
        'amber':'warning',
        'red':'error'
      }
      text_light = {
        'green':'No problems.',
        'amber':'Minor problems.',
        'red':'Major problems.'
      }
      # Publisher performance data defaults to not including sub-orgs because
      # the NHS has hundreds and it takes about 12s.
    ?>
    <h4>Publisher report</h4>
    <div class="alert alert-${css_light[lights['broken_links']]}">
      <a href="${h.url_for('qa_organisation_action_id', action='broken_resource_links', id=publisher.name)}">(details)</a>
      <b>Broken Links: </b>
      ${text_light[lights['broken_links']]}
    </div>

    <div class="alert alert-${css_light[lights['openness']]}">
      <a href="${h.url_for('qa_organisation_action_id', action='scores', id=publisher.name)}">(details)</a>
      <b>Openness: </b>
      ${text_light[lights['openness']]}
    </div>

    <!--! Pending completion of issues/spend data
    <py:if test="dgu_helpers.publisher_has_spend_data(publisher)">
      <div class="alert alert-${css_light[lights['spending']]}">
        <a href="${h.url_for('openspending_publisher_report', id=publisher.name)}">(details)</a>
        <b>Spend reports: </b>
        ${text_light[lights['spending']]}
      </div>
    </py:if>

    <py:if test="h.issues_installed()">
      <div class="alert alert-${css_light[lights.get('issues')]}">
        <a href="${h.url_for(controller='ckanext.issues.controller:IssueController',action='publisher_issue_page', publisher_id=publisher.id)}">(details)</a>
        <b>Dataset issues: </b>
        ${text_light[lights['issues']]}
      </div>
    </py:if>
    -->
  </div>


</html>
