<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="publisher_util.html" />

  <py:def function="page_title">${c.group.display_name}</py:def>
  <py:def function="page_heading">${c.group.display_name}
    <span class="abbreviation" py:if="c.group_extras.get('abbreviation')">&nbsp;(${c.group_extras.get('abbreviation')})</span>
    <a py:if="c.is_superuser_or_groupmember" style="font-size:16px;float:right;" href="${h.url_for('publisher_edit', id=c.group.name)}">Edit</a>
  </py:def>
  <py:def function="content_class"><!--unboxed--></py:def>


<?python
    from ckan import model
    sub_groups = sorted([model.Group.get(x['id']) for x in c.group.get_children_groups('publisher')], key=lambda g:g.title)
?>

  <py:match path="primarysidebar">
    <div py:if="c.userobj" class="widget-container">
      <h4>Publisher Administration</h4>
      <ul>
        <li py:if="not c.userobj in c.administrators and not c.userobj in c.editors">
          <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='apply', id=c.group.name)}">Request to become an <py:if test="not c.administrators.count()">Admin or</py:if> Editor</a>
        </li>

        <li py:if="c.userobj in c.administrators or c.is_sysadmin">
          <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='users', id=c.group.name)}">Edit user permissions</a>
        </li>

        <li py:if="(c.userobj in c.administrators or c.userobj in c.editors) or c.is_superuser_or_groupmember">
          <a href="${h.url_for('dataset_new')}?groups__0__id=${c.group.id}">Add a new dataset</a>
        </li>

        <li py:if="c.userobj in c.administrators or c.is_sysadmin">
          <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='edit', id=c.group.name)}">Edit publisher properties</a>
        </li>
      </ul>
    </div>
    <div py:if="c.userobj" class="widget-container">
      <h4>Administrators:</h4>
      <ul class="property-list" py:for="admin in c.administrators">
        <li>${h.linked_user(admin)}</li>
      </ul>
      <p py:if="not c.administrators.count()">No-one assigned</p>

      <h4>Editors:</h4>
      <ul class="property-list" py:for="editor in c.editors">
        <li>${h.linked_user(editor)}</li>
      </ul>
      <p py:if="not c.editors.count()">No-one assigned</p>

    </div>

    <div class="widget-container">
      <h4>Contacts</h4>
      Enquiries:
      <ul style="margin-bottom: 5px;">
<?python
name = c.group_extras.get('contact-name')
email = c.group_extras.get('contact-email')
phone = c.group_extras.get('contact-phone')
web_url = c.group_extras.get('website-url')
web_name = c.group_extras.get('website-name')
?>
        ${name}
        ${contact_details(name, email, phone, web_url, web_name)}
      </ul>
      <span class="js-tooltip" title="Use the Freedom of Information Act to request more information from the body holding the data">FOI requests</span>:
      <ul>
<?python
name = c.group_extras.get('foi-name')
email = c.group_extras.get('foi-email')
phone = c.group_extras.get('foi-phone')
# reuse web url
?>
        ${name}
        ${contact_details(name, email, phone, web_url, web_name)}
      </ul>
    </div>

    <div class="widget-container">
      <h4>Publisher Hierarchy</h4>
      <div id="publisher-tree-wrapper">
      <div id="publisher-tree" class="jstree-overflows">
<?python
from ckanext.dgu.lib.helpers import render_mini_tree
?>
       ${Markup(render_mini_tree(c.parent_publisher, c.group, sub_groups))}
      </div>
      <a style="display:none;" id="publisher-tree-expand" class="btn more-button"><img src="/images/chevron-down-small.png"/></a>
      </div>

          <br />
<!--!      <py:if test="not c.parent_publisher">
        <div>Top level publisher</div>
      </py:if> -->
      <py:if test="not sub_groups">
        <div>There are no publishers in the hierarchy underneath this one</div>
      </py:if>
    </div>

   <!--! ${facet_filters()} -->

  </py:match>


  <py:match path="content">
    <h3 py:if="c.group['state'] != 'active'">State: ${c.group['state']}</h3>

    <div class="group-dataset-list">
      <div class="boxed search-area-box">
        <div class="notes" py:if="str(c.description_formatted).strip()">
          ${c.description_formatted}
        </div>

          <form id="dataset-search-thin" class="form-search dataset-search" method="GET">
            <input type="text" class="input-medium" name="q" value="${c.q}" autocomplete="off" results="0" placeholder="${_('Search datasets...')}" />

            <py:for each="(k, v) in c.fields">
              <input type="hidden" name="${k}" value="${v}" />
            </py:for>
            <input type="submit" value="${_('Search')}" class="btn btn-primary button" />
          </form>

          <div>
            <form action="">
              <label class="checkbox">
                <input type="checkbox" name="publisher-results-include-subpub" value="${c.drill_down_url(publisher=c.group.name) if not c.restricted_to_publisher else c.remove_field('publisher', c.group.name)}" class="inline" py:attrs="{'checked': 'checked'} if not c.restricted_to_publisher else {}"/>
                Include datasets from sub-publishers
              </label>
            </form>
          </div>

          <?python 
            from ckan.controllers.package import search_url
            from ckan.lib.base import request
            params = dict(request.params)
            if not 'publisher' in params:
                params['parent_publishers'] = c.group.name
            advanced = search_url(params.items())
          ?>
          <a style="float:right;" href="${advanced}">Go to Advanced Search &raquo;</a>

          <p><span py:if="c.q">You searched for "${c.q}". </span>${c.page.item_count} datasets found.</p>

      </div>

      <div py:if="c.page.items">
        <h3>Datasets:</h3>
        <!--!<div class="clearfix">&nbsp;</div>-->
        <div class="ribbon-header" />
        ${package_list_from_dict(c.page.items)}
        <div class="ribbon-footer" />
        ${c.page.pager()}

      </div>
    </div>
  </py:match>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Datasets in group '${c.group['title']}'"
    href="${h.url(controller='feed', action='group', id=c.group['name'])}" />
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History"
    href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:def>

  <py:def function="optional_footer">
    <link rel="stylesheet" href="/scripts/vendor/jstree/themes/default/style.css" type="text/css" media="screen" />
    <script src="/scripts/vendor/jstree/jquery.jstree.js"></script>
    <script>
      // Pollute the global namespace
      PUBLISHER_PARENT = "node_${c.parent_publisher.name if c.parent_publisher else ''}";
      PUBLISHER_GROUP  = "node_${c.group.name}";
    </script>
    <script src="/scripts/dgu-publisher.js"></script>
    <script src="/scripts/spin.min.js"></script>
    <script src="/scripts/dgu-basket.js"></script>
  </py:def>

  <xi:include href="../layout.html" />
</html>


