<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="publisher_util.html" />

  <py:def function="page_title">${c.group.display_name}</py:def>
  <py:def function="page_heading">${c.group.display_name}
  <py:def function="content_class"><!--unboxed--></py:def>

	<a py:if="c.is_superuser_or_groupmember" style="font-size:16px;float:right;" href="${h.url_for('publisher_edit', id=c.group.name)}">Edit</a>
  </py:def>

<?python
    from ckan import model
    sub_groups = sorted([model.Group.get(x['id']) for x in c.group.get_children_groups('publisher')], key=lambda g:g.title)
?>

  <py:match path="primarysidebar">
    <div py:if="c.userobj" class="facet-box">
      <h4>Publisher Administration</h4>

      <h5>Administrators:</h5>
      <ul class="property-list" py:for="admin in c.administrators">
        <li>${h.linked_user(admin)}</li>
      </ul>
      <p py:if="not c.administrators.count()">No-one assigned</p>

      <h5>Editors:</h5>
      <ul class="property-list" py:for="editor in c.editors">
        <li>${h.linked_user(editor)}</li>
      </ul>
      <p py:if="not c.editors.count()">No-one assigned</p>

      <div py:if="not c.userobj in c.administrators and not c.userobj in c.editors" class="admin-button">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='apply', id=c.group.name)}" class="btn btn-primary">Request to become an <py:if test="not c.administrators.count()">Admin or</py:if> Editor</a>
      </div>

      <div py:if="c.userobj in c.administrators or c.is_sysadmin" class="admin-button">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='users', id=c.group.name)}" class="btn btn-primary">Edit user permissions</a>
      </div>

      <div py:if="(c.userobj in c.administrators or c.userobj in c.editors) or c.is_superuser_or_groupmember" class="admin-button">
        <a href="${h.url_for('dataset_new')}?groups__0__id=${c.group.id}" class="btn btn-primary">Add a new dataset</a>
      </div>

      <div py:if="c.userobj in c.administrators or c.is_sysadmin" class="admin-button">
        <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='edit', id=c.group.name)}" class="btn btn-primary">Edit publisher properties</a>
      </div>

    </div>

    <div class="facet-box">
      <h4>Publisher Hierarchy</h4>
      <div id="publisher-tree" class="jstree-overflows">
<?python
from ckanext.dgu.lib.helpers import render_mini_tree
?>
       ${Markup(render_mini_tree(c.parent_publisher, c.group, sub_groups))}
      </div>

          <br />
<!--!      <py:if test="not c.parent_publisher">
        <div>Top level publisher</div>
      </py:if> -->
      <py:if test="not sub_groups">
        <div>There are no publishers in the hierarchy underneath this one</div>
      </py:if>
    </div>

   <!--! ${facet_filters()} -->

  </py:match>


  <py:match path="content">
    <h3 py:if="c.group['state'] != 'active'">State: ${c.group['state']}</h3>
    <div class="notes" py:if="str(c.description_formatted).strip()">
      ${c.description_formatted}
    </div>

    <div class="group-dataset-list">
      <div class="boxed search-area-box">

          <form id="dataset-search-thin" class="form-search dataset-search" method="GET">
            <input type="text" class="input-medium" name="q" value="${c.q}" autocomplete="off" results="0" placeholder="${_('Search datasets...')}" />

            <py:for each="(k, v) in c.fields">
              <input type="hidden" name="${k}" value="${v}" />
            </py:for>
            <input type="submit" value="${_('Search')}" class="btn btn-primary button" />
          </form>

          <div>
            <form action="">
              <label class="checkbox">
                <input type="checkbox" name="publisher-results-include-subpub" value="${c.drill_down_url(publisher=c.group.name) if not c.restricted_to_publisher else c.remove_field('publisher', c.group.name)}" class="inline" py:attrs="{'checked': 'checked'} if not c.restricted_to_publisher else {}"/>
                Include datasets from sub-publishers
              </label>
            </form>
          </div>

          <p><span py:if="c.q">You searched for "${c.q}". </span>${c.page.item_count} datasets found.</p>

      </div>

      <div py:if="c.page.items">
        <h3>Datasets:</h3>
        <!--!<div class="clearfix">&nbsp;</div>-->
        <div class="ribbon-header" />
        ${package_list_from_dict(c.page.items)}
        <div class="ribbon-footer" />
        ${c.page.pager()}

      </div>
    </div>
  </py:match>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Datasets in group '${c.group['title']}'"
    href="${h.url(controller='feed', action='group', id=c.group['name'])}" />
  <link rel="alternate" type="application/atom+xml" title="${g.site_title} - Recent Revision History"
    href="${h.url_for(controller='revision', action='list', format='atom', days=1)}" />
  </py:def>

  <py:def function="optional_footer">
    <script src="${g.site_url}/scripts/vendors/jstree/jquery.jstree.js"></script>
    <link rel="stylesheet" href="/scripts/vendors/jstree/themes/default/style.css" type="text/css" media="screen" />
    <script type="text/javascript">
      $(document).ready(function() {
        $("#publisher-tree").jstree(
           {
            "themes" : {
                "icons" : false
            },
            "plugins" : ["themes","html_data","ui"],
            "core": {
                "load_open" : true,
                "initially_open" : ["node_${c.parent_publisher.name if c.parent_publisher else ''}", "node_${c.group.name}"]
            }
           }
          ).delegate('a', 'click', function(e){ window.location.href=$(this).attr('href'); });
      });
    </script>
  </py:def>

  <xi:include href="../layout.html" />
</html>


