<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="publisher_util.html" />

  <py:def function="page_title">Publisher report</py:def>
  <py:def function="page_heading">Publisher report</py:def>
  <py:def function="body_class">no-sidebar</py:def>

  <div py:match="content">
    <h3>Publishers without admins (${ c.non_admin_count})
      <a id="admin_toggle" py:if="c.non_admin_count" style="float:right;margin-right:10px;color:white;" href="#" onclick="$('#admins').slideToggle('slow');return false;">Show</a>
    </h3>
    <table id="admins" py:if="c.non_admin_count > 0">
      <tr>
        <th>Publisher</th>
      </tr>
      <py:for each="publisher in c.non_admin">
        <tr>
          <td><a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='users', id=publisher.name)}">${publisher.title}</a></td>
        </tr>
      </py:for>
    </table>
  </div>

  <xi:include href="../layout.html" />

</html>
