{% extends "page.html" %}

{% block title %}New - Publisher Report - {{ super() }}{% endblock %}

  <h1>Publisher report</h1>


{% block breadcrumb_content %}
    <li><a href="/data/system_dashboard">System Dashboard</a></li>
    <li><a href="/publisher/report_groups_without_admins">Publishers without admins</a></li>
{% endblock %}

{% block primary_content_inner %}
  <div>
      <h3>Publishers without admins ({{ c.non_admin_count}})</h3>
      {% if c.non_admin_count > 0 %}
    <table id="admins"  class="table table-bordered">
        <tr>
          <th>Publisher</th>
        </tr>
        {% for publisher in c.non_admin %}
          <tr>
            <td><a href="{{h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='users', id=publisher.name)}}">{{publisher.title}}</a></td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
  </div>
{% endblock %}