<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="publisher_util.html" />

  <py:def function="page_title">Publisher report</py:def>
  <py:def function="page_heading">Publishers and Admins/Editors (${c.count})</py:def>
  <py:def function="body_class">no-sidebar</py:def>

  <div py:match="content">
    ${c.page.pager()}

    <table py:if="c.count" width="100%" class="table table-bordered table-striped">
      <tr>
        <th>Title</th>
        <th>Number of datasets</th>
        <th>Approval status</th>
        <th>Administrators</th>
        <th>Editors</th>
        <th>Created</th>
      </tr>
<?python
from webhelpers.html.tags import link_to
from ckan import model
?>
      <py:for each="g in c.page.items">
        <tr>
          <td><a href="/publisher/${g.name}">${g.title}</a></td>
          <td>${g.active_packages().count()}</td>
          <td>${g.approval_status}</td>
          <td py:for="capacity in ('admin', 'editor')">
            <py:for each="user in g.members_of_type(model.User, capacity=capacity)">
              ${link_to(user.display_name, h.url_for(controller='user', action='read', id=user.name))}
            </py:for>
          </td>
          <td>${h.render_datetime(g.created, date_format="%d-%m-%Y")}</td>
        </tr>
      </py:for>
    </table>
    ${c.page.pager()}
  </div>

  <xi:include href="../layout.html" />

</html>
