{% extends "page.html" %}

 {% block title %}Users in {{c.group.display_name}}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/publisher">Publishers</a></li>
    <li><a href="/publisher/{{c.group.name}}">{{c.group.title}}</a></li>
    <li><a href="{{request.url}}">Edit User Permissions</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1>Edit User Permissions</h1>
  <div class="user-edit-form">
    <div class="boxed">
      {{c.form|safe}}
    </div>
  </div>
{% endblock %}

{% block optional_head %}
      <script type="text/javascript" src="/scripts/dgu-publisher-forms.min.js"></script>
{% endblock %}

  <xi:include href="../layout.html" />

</html>


