<form action="" method="post" class="form-horizontal"
  {% if errors %}class="has-errors"{% endif %}>

{% if error_summary %}
<div class="error-explanation">
  <div class="panel panel-danger">
    <div class="panel-heading"><strong>Errors in form</strong></div>
    <div class="panel-body">
      The form contains invalid entries:
      <ul>
        {% for key, error in error_summary.items() %}
        <li>{{"%s: %s" % (key, error)}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<input type="hidden" id="type" name="type" value="organization" />

<fieldset id="users">
  <h2>Admins and Editors</h2>
  {% if data.get('users') %}
    <table class="table">
      {% for num, user in h.list_enumerate(data.get('users')) %}
      <tr>
        <td class="key">
          <label class="control-label" for="users__{{num}}__name">{{h.user_display_name(user)}}</label>
        </td>
        <td class="value" width="80%">
          <div class="form-inline">
            <input checked="checked" id="users__{{num}}__name" name="users__{{num}}__name" type="checkbox" value="{{user['name']}}" style="display:none;"/>
            <label class="radio"><input type="radio" name="users__{{num}}__capacity" value="admin"  {% if user['capacity'] == 'admin'%}checked="checked"{% endif %}></input> Admin</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio"><input type="radio" name="users__{{num}}__capacity" value="editor" {% if user['capacity'] in ['editor','member'] %}checked="checked"{% endif %}></input> Editor</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger btn-xs" onclick="return delete_user(this);"><i class="icon-trash"></i> Delete</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
  <p>There are no users currently in this publisher.</p>
  {% endif %}

  <div class="panel panel-info">
    <div class="panel-heading">Add editors</div>
    <div class="panel-body">
      <div class="added-users"></div>
      <div class="control-group">
        <label class="control-label" for="users__{{data.get('users', [])|length}}__name">User</label>
        <div class="controls">
          <input class="autocomplete-publisher-user" id="users__{{data.get('users', [])|length}}__name" name="users__{{data.get('users', [])|length}}__name" type="text" autocomplete="off"/>
        </div>
      </div>
    </div>
  </div>
</fieldset>


  <input id="save" class="btn btn-primary" name="save" type="submit" value="{{_('Save')}}" />
    {% if c.group %}
    <input id="cancel" class="btn href-action" name="cancel" type="reset" value="{{_('Cancel')}}" action="{{h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=c.group.name)}}" />
  {% endif %}

<script type="text/javascript">
	function delete_user(btn) {
		var btn = $(btn)[0];
		var user_controls = $(btn).parent('div');
		var chk = $(user_controls).find(":checkbox");
        chk.prop('checked', !chk.prop('checked'));
		chk.trigger('change');

		if ( chk.prop('checked') ) {
			$(user_controls).children("label").css({ opacity: 1 });
			$(btn).html('Delete');
		} else {
			$(user_controls).children("label").css({ opacity: 0.5 });
			$(btn).html('Cancel');
		}
		return false;
	}
</script>

</form>

