<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Users: ${c.group.display_name}</py:def>
  <py:def function="body_class">no-sidebar</py:def>
  <py:def function="page_heading">
    <a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='read', id=c.group.name)}">${c.group.display_name}</a>
    <span class="subheading"><img src="/images/arrow-down-right.png"/> Edit User Permissions</span>
  </py:def>

  <div py:match="content" class="user-edit-form">
    <div class="boxed">
      ${Markup(c.form)}
    </div>
  </div>

  <py:def function="optional_head">
      <script type="text/javascript" src="/scripts/dgu-publisher-forms.js"></script>
  </py:def>

  <xi:include href="../layout.html" />

</html>


