<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

<xi:include href="util.html" />

<py:def function="body_class">no-sidebar</py:def>

  <py:def function="page_title">${c.publisher.display_name}</py:def>

  <py:def function="page_heading">
    Editing PM Commitments
  </py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="/publisher/${c.publisher.name}">${c.publisher.title}</a></li>
    <li><a href="${h.url_for('commitments')}">Data Publication Commitments</a></li>
    <li><a href="${h.url_for('commitments_edit', id=c.publisher.name)}">Edit</a></li>
  </py:match>

  <py:match path="content">

    <h1>Edit PM Commitments <small>${c.publisher.title}</small></h1>
    <form action="" method="POST">

    <div class="boxed">

    <h2><a href="http://www.number10.gov.uk/news/letter-to-government-departments-on-opening-up-data">Prime Minister's Letter May 2010</a></h2>
    <py:with vars="commitments = h.commitments_by_source(c.commitments, 'PM1')">
        <table class="table table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Commitment</th>
              <th>Notes</th>
              <th>Dataset</th>
            </tr>
          </thead>

          <tbody>
          <py:for each="idx,commitment in enumerate(commitments)">
              ${editable_commitment_row(commitment, idx=idx, src="PM1")}
          </py:for>
          </tbody>

          </table>
    </py:with>

    <h2><a href="http://www.number10.gov.uk/news/letter-to-cabinet-ministers-on-transparency-and-open-data">Prime Minister's Letter July 2011</a></h2>
    <py:with vars="commitments = h.commitments_by_source(c.commitments, 'PM2')">
        <table class="table table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Commitment</th>
              <th>Notes</th>
              <th>Dataset</th>
            </tr>
          </thead>

          <tbody>
          <py:for each="idx,commitment in enumerate(commitments)">
              ${editable_commitment_row(commitment,idx=idx,  src="PM2")}
          </py:for>
          </tbody>

          </table>
    </py:with>

    <h2 py:with="url = h.open_data_strategy_link(c.publisher)">
      <a py:if="url" href="${h.open_data_strategy_link(c.publisher)}">Open data strategy</a>
      <py:if test="not url">Open data strategy</py:if>
    </h2>
    <py:with vars="commitments = h.commitments_by_source(c.commitments, 'ODS')">
        <table class="table table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Commitment</th>
              <th>Notes</th>
              <th>Dataset</th>
            </tr>
          </thead>

          <tbody>
          <py:for each="idx,commitment in enumerate(commitments)">
              ${editable_commitment_row(commitment, idx=idx, src="ODS")}
          </py:for>
          </tbody>

          </table>
    </py:with>



    <input type="submit" class="pull-right btn btn-primary" value="Save"/>
    <div class="clearfix"></div>

    </div>

  </form>



  </py:match>


  <xi:include href="../layout.html" />
</html>


