[depends]

main = base/main

[groups]

spatial_query_dgu =

    scripts/vendor/proj4.js
    scripts/vendor/ol3.js
    scripts/vendor/jquery.autocomplete.js
    scripts/dgu-spatial-lib.js

    scripts/vendor/ol3.css
    css/jquery-autocomplete.css


spatial_edit_dgu =

    scripts/vendor/proj4.js
    scripts/vendor/ol3.js
    scripts/vendor/jquery.autocomplete.js
    scripts/dgu-spatial-edit.js

    scripts/vendor/ol3.css
    css/jquery-autocomplete.css
