<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../facets.html" />
  <py:def function="page_title">${c.group.display_name}</py:def>
  <py:def function="page_heading">${c.group.display_name}
	<a py:if="c.is_superuser_or_groupmember" style="font-size:16px;float:right;" href="${h.url_for('publisher_edit', id=c.group.name)}">Edit</a>
  </py:def>

<?python
    from ckan import model
    sub_groups = sorted([model.Group.get(x['id']) for x in c.group.get_children_groups('publisher')], key=lambda g:g.title)
?>

  <py:match path="primarysidebar">
    <h2 py:if="sub_groups">Sub-publishers</h2>
    <ul py:if="sub_groups">
    <py:for each='g in sub_groups'>
        <li>
            <a href="${h.url_for('publisher_read', id=g.name)}">${g.title}</a>
        </li>
    </py:for>
    </ul>

    <div py:if="c.is_superuser_or_groupmember and c.administrators" class="facet-box">
	  <h2 py:if="len(c.administrators.all()) > 0">Administrators</h2>
      <ul class="property-list" py:for="admin in c.administrators">
        <li>${h.linked_user(admin)}</li>
      </ul>
	  <h2 py:if="len(c.editors.all()) > 0">Publishers</h2>
      <ul class="property-list" py:for="editor in c.editors">
        <li>${h.linked_user(editor)}</li>
      </ul>
    </div>
	<div py:if="c.userobj and (not c.userobj in c.administrators and not c.userobj in c.editors)" class="facet-box" style="padding:8px; text-align: center;">
		<a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='apply', id=c.group.name)}">Add this publisher to your account</a>
	</div>
	<div py:if="c.userobj and ((c.userobj in c.administrators or c.userobj in c.editors) or c.is_superuser_or_groupmember)" class="facet-box" style="padding:8px; text-align: center;">
		<a href="${h.url_for('dataset_new')}?groups__0__id=${c.group.id}">Add a new dataset with this publisher</a>
	</div>

    ${facet_filters()}
  </py:match>


  <py:match path="content">
    <div py:if="c.parent_publisher">
        <a href="${h.url_for('publisher_read', id=c.parent_publisher.name)}">
            ${c.parent_publisher.title}
        </a>
        |
        <span>
            ${c.group.title}
        </span>
    </div>

    <h3 py:if="c.group['state'] != 'active'">State: ${c.group['state']}</h3>
    <div class="notes" py:if="str(c.description_formatted).strip()">
      ${c.description_formatted}
    </div>

    <a py:if="not c.restricted_to_publisher" href="${c.drill_down_url(publisher=c.group.name)}">Only show ${c.group.title} datasets</a>
    <a py:if="c.restricted_to_publisher"  href="${c.remove_field('publisher', c.group.name)}">Show datasets from ${c.group.title} and sub-publishers</a>

    <div class="group-dataset-list">
      <h3>Datasets</h3>

      <form id="dataset-search" class="dataset-search" method="GET">
        <input type="search" class="search" name="q" value="${c.q}" autocomplete="off" results="0" placeholder="${_('Search...')}" style="width:360px;"/>
        <py:for each="(k, v) in c.fields">
          <input type="hidden" name="${k}" value="${v}" />
        </py:for>
        <input type="submit" value="${_('Search')}" class="pretty-button primary button" />
      </form>
      ${field_list()}

      <p><span py:if="c.q">You searched for "${c.q}". </span>${c.page.item_count} datasets found.</p>
      ${c.page.pager()}
      ${package_list_from_dict(c.page.items)}
      ${c.page.pager()}
    </div>
  </py:match>

  <xi:include href="../layout.html" />
</html>


