<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Data API | data.gov.uk</py:def>
  <py:def function="body_class">no-sidebar</py:def>

  <div py:match="content">
    <h1>Data Catalogue API</h1>
    <div class="boxed">
      <p>Developers can access the data catalogue with an API, as an alternative to the data.gov.uk web interface. The API provides both RESTful and functional interfaces, all in JSON format, making it suitable for a wide range of clients.</p>

      <p py:with="url=g.site_url+('/' if g.site_url[-1]!='/' else '')+'api'">The base URL for the API is: <a href="${url}">${url}</a></p>

      <p>The API is provided by the CKAN software and full instructions are provided here: <a href="http://docs.ckan.org/en/ckan-1.7.1/api.html">http://docs.ckan.org/en/ckan-1.7.1/api.html</a>.</p>
    </div>
  </div>
  <xi:include href="../layout.html" />

</html>
