<style type="text/css">
    body{ margin-top: 0px; padding-top: 40px; }
    #__archiver__cache__header__ {
       position: absolute;
       top: 0;
       left: 0;
       background-color: #8BC658;
       width: 100%;
       border-bottom: 2px solid #000;
       font-family: helvetica, sans;
    }
    #__archiver__cache__header__inner__{
       width: 800px;
       margin: 0 auto;
       padding: 10px;
       text-align: center;
    }
    #__archiver__cache__header__inner__ a{
        color: white;
        text-decoration: none;
    }
</style>
<div id="__archiver__cache__header__">
    <div id="__archiver__cache__header__inner__">
        This page is cached at <a href="http://data.gov.uk/">data.gov.uk</a> and may be not be up to date. Please visit the <a href="{{c.url}}">original page</a>
    </div>
</div>
