{% extends "page.html" %}

{% set body_id="home-page" %}

{% import "_dgu_jinja_util.html" as m with context %}

{% block title %}data.gov.uk{% endblock %}

{#  No breadcrumbs #}
{% block breadcrumb %}
{% endblock %}


{% block primary_content_inner %}

  <div class="home">
    <h3 class="search-heading">Find and download government data</h3>

    {# <h3>Search {{num_datasets}} datasets</h3> #}

      {{ m.search_form(mini=false) }}


    <h3 class="themes-heading">Browse by theme</h3>

    <ul class="inline" style="text-align: center;">
      {% for theme in themes %}
        <li><a href="/data/search?theme-primary={{ theme|urlencode }}">{{ theme }}</a></li>
      {% endfor %}
    </ul>
    
  </div>

{% endblock %}
