<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="../facets.html" />
  <py:def function="page_title">Data</py:def>


  <py:def function="optional_head">
    <script type="text/javascript" charset="utf-8">
      $(function() {
        /* Tag cloud */
        $.fn.tagcloud.defaults = {
          size: {start: 8, end: 24, unit: "pt"},
          //size: {start: 12, end: 28, unit: "pt"},
          color: {start: '#bbb', end: '#66aa44'}
        };
        $('#tagcloud a').tagcloud();
      });
  </script>
  </py:def>

  <div py:match="content">
    <div class="row">
      <div class="col-md-12">
        <ul id="breadcrumbs">
          <li><a href="/"><i class="icon-home"></i></a></li>
          <li class="spacer">&nbsp;/&nbsp;</li>
          <li><a href="/data">Data</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        ${search_form()}
      </div>
    </div>
    <div class="space-between-rows"></div>
    <div class="row dgu-equal-height" data-selector=".auto-height">
      <div class="col-md-6">
        <h2><i class="icon-tag icon-large"></i>&nbsp; Themes</h2>
        <div class="boxed auto-height">
          <div id="tagcloud" py:with="theme_count=h.themes_count()">
            <py:for each="dbname,displayname in sorted(h.themes_displayname().iteritems(),key=lambda x:x[1])">
            <a rel="${theme_count[dbname]}" title="${displayname}" href="${h.url_for(controller='package', action='search')}?theme-primary=${dbname}">${displayname}</a>
            </py:for>
          </div>
          <script type="text/javascript" charset="utf-8">
        </script>
        </div>
        <div class="boxed-append">
          <a href="/data/tag" class="">View all tags &raquo;</a>
        </div>
      </div>
      <div class="col-md-6">
        <h2><i class="icon-sitemap icon-large"></i>&nbsp; Featured dataset</h2>
        <div class="boxed auto-height">
          <py:with vars="featured=h.single_popular_dataset(20)">
            <py:if test="featured">
              ${package_summary(featured, show_preview_buttons=False)}
            </py:if>
            <py:if test="not featured">
              <em>The catalogue contains no datasets.</em>
            </py:if>
          </py:with>
        </div>
        <div class="boxed-append">
          <a href="${h.url_for(controller='ckanext.ga_report.controller:GaDatasetReport',action='read')}" class="">Popular datasets &raquo;</a>
        </div>
      </div>
    </div>
    <div class="space-between-rows"></div>
    <div class="row dgu-equal-height" data-selector=".auto-height">
      <div class="col-md-6">
        <h2><i class="icon-lightbulb icon-large"></i>&nbsp; Data Requests</h2>
        <div class="boxed auto-height">
          <p>Find out more about making data requests and their progress.</p>
        </div>
        <div class="boxed-append">
          <a href="/odug" class="">Request new data &raquo;</a>
        </div>
      </div>
      <div class="col-md-6">
        <h2><i class="icon-gears icon-large"></i>&nbsp; Developers</h2>
        <div class="boxed auto-height">
          <p>You can also access this catalogue via the <a title="API" href="${h.url_for('/data/api')}">API</a> or download it as a&nbsp;<a title="CSV/JSON Dump" href="/data/dumps/">CSV or JSON dump</a>.</p>
        </div>
        <div class="boxed-append">
          <a href="/data/api" class="">CKAN API &raquo;</a>
        </div>
      </div>
    </div>
    <div class="space-between-rows"></div>
    <div class="row dgu-equal-height" data-selector=".auto-height">
      <div class="col-md-6">
        <h2><i class="icon-group icon-large"></i>&nbsp; Publishers</h2>
        <div class="boxed auto-height">
          <ul class="facet-options">
            <li py:for="publisher_dict in h.unselected_facet_items('publisher', limit=10)">
              <a href="/publisher/${publisher_dict['name']}">${h.group_name_to_title(publisher_dict['name'])}</a> &nbsp;(${publisher_dict['count']})
            </li>
          </ul>
          <p py:if="not len(h.unselected_facet_items('publisher', limit=1))">No publishers found</p>
        </div>
        <div class="boxed-append">
          <a href="/publisher" class="">View all publishers &raquo;</a>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="front-page-header"><i class="icon-map-marker icon-large"></i>&nbsp; UK Location</h2>
        <div class="boxed auto-height">
          <a href="/location"><img src="/images/uk_location.gif" width="100" height="60" class="pull-right"/></a>
          <p>The <a href="/location">UK Location Programme</a> has introduced over
             1000 location data records into data.gov.uk and tools to support their
             use. To find which of these datasets cover a particular location, you
             can use <a href="${h.url_for('/data/map-based-search')}">Map Based Search</a>.</p>
             <p>Many of these datasets provide a Web Map Service
             too, and for some a preview of the data is available. Click to find out more
             <a href="/location/map-based-search">about Map Based Search</a>
             and <a href="/location/preview-on-map">about Preview on Map</a>.
          </p>
        </div>
        <div class="boxed-append">
          <a href="${h.url_for('/data/map-based-search')}" class="">Map-based search &raquo;</a>
        </div>
      </div>
    </div>
  </div>
  <xi:include href="../layout.html" />

</html>
