<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Open Spending Browser | data.gov.uk</py:def>
  <py:def function="page_heading">Spend Browser</py:def>
  <py:def function="body_id">openspending_browser</py:def>

  <div py:match="content">
    <div class="boxed main-outer1">
      <div class="browser_datatable"><p>Loading - please wait...</p></div>
    </div>
  </div>
  <div py:match="primarysidebar">
    <div class="boxed sidebar-outer1">
      <div class="widget-container browser_faceter table-striped"></div>
      <div class="widget-container">
        <p>Browse and search through items of major government expenditure using this tool.</p>
        <p>All spending transactions over £25,000 made by UK central government are published monthly by departments on data.gov.uk, as <a href="http://www.number10.gov.uk/news/statements-and-articles/2010/05/letter-to-government-departments-on-opening-up-data-51204">directed by the Prime Minister 31st May 2010</a>. OpenSpending downloads these spreadsheets, parses them and <a href="/data/openspending-report">reports on how up-to-date departments are</a> (inevitably a small fraction of the data doesn't parse). Finally the data is imported into this tool every month or two for easy searching and browsing. Download the 
           <a href="http://data.etl.openspending.org/uk25k/">CSV source data</a>. The currently loaded data is this one: <a href="http://data.etl.openspending.org/uk25k/spending-20120821.csv">spending-20120821.csv (2.7GB)</a> which was last updated in August 2012.</p>
        <p><a href="http://openspending.org/ukgov-25k-spending/meta">More about this data</a>.</p>
        <p>This OpenSpending tool is provided by:
            <a href="http://okfn.org">
              <img alt="Open Knowledge Foundation" src="/images/okf_logo.png" />
            </a>
        </p>
      </div>
    </div>
    <script type="text/javascript" src="${h.url_for_static('/scripts/dgu-openspending-pack.min.js')}"></script>
    <!--! Loaded elsewhere:
     (originally at http://clients.openspending.org/data.gov.uk/openspendingjs/)
     * jquery.js - 1.7.1 lib/vendor/jquery.js
     * bootstrap.js - lib/vendor/bootstrap.js
    -->
  </div>

  <xi:include href="../layout.html" />

</html>
