<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Open Spending Report</py:def>

   <py:match path="breadcrumbs">
      <li><a href="/data/search">Datasets</a></li>
      <li><a href="/data/openspending-report/index">Spend Reports</a></li>
      <li><a href="${request.url}">Publisher Report</a></li>
    </py:match>

  <div py:match="content">
    <xi:include href="${c.openspending_report_dir}/${c.report_name}.html" />

          <p>Created by:
              <a href="http://okfn.org">
                <img alt="Open Knowledge Foundation" src="/images/okf_logo.png" />
              </a>
          </p>

  </div>

  <xi:include href="../layout.html" />

</html>
