{% extends "page.html" %}

{% block title  %}Publisher Requests - {{ super() }}{% endblock title %}

{% block breadcrumb_content %}
  {{ h.build_nav('publisher_requests', _('Publisher Requests')) }}
{% endblock %}

{% block primary_content_inner %}
    <h1>Publisher Requests</h1>
    <p>This page shows all requests for publisher editorship and if they have been granted.</p>
    <table>
      {% for a in c.publisher_requests %}
        <tr>
          <td>{{a.date_of_request.strftime('%d/%m/%y %H:%M:%S')}}</td>
          <td><strong>{{a.user.fullname}}</strong> ({{a.user.name}})</td>
          <td><a href="{{h.url_for('publisher_read', id=a.group.name)}}">{{a.group.title}}</a></td>
          <td>
            {% for admin_name, admin_email in a.emailed_to %}
            <p>{{admin_name}} &lt;{{admin_email}}&gt;</p>
            {% endfor %}
          </td>
          {% if a.decision == True %}
            <td><i class="icon-check"></i></td>
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
          {% elif a.decision == False %}
            <td><i class="icon-ban-circle"></i></td>
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
          {% else %}
            <td><i class="icon-check-empty"></i></td>
            <td><a href="{{h.url_for('publisher_request', token=a.login_token)}}">View</a></td>
            <td><a href="{{h.url_for('publisher_request_decision', token=a.login_token, decision='accept')}}">Accept</a></td>
            <td><a href="{{h.url_for('publisher_request_decision', token=a.login_token, decision='reject')}}">Reject</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
{% endblock %}
