<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">System Dashboard</py:def>
  <py:def function="page_heading">System Dashboard</py:def>
  <py:def function="content_class">unboxed</py:def>

  <py:match path="primarysidebar">
    <div class="facet-box">
    <h3>About</h3>
    <p>This page includes reports and administration tools for use by data.gov.uk System Administrators.</p>
    </div>
  </py:match>

  <py:match path="content">
    <div class="boxed">
      <h3>Publishers</h3>
      <ul>
        <li><a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='report_groups_without_admins')}">Publishers without administrators</a></li>
      </ul>
    </div>
    <div class="boxed">
      <h3>Users</h3>
      <ul>
        <li><a href="${h.url_for(controller='ckanext.dgu.controllers.publisher:PublisherController', action='report_users_not_assigned_to_groups')}">Users not assigned to a publisher</a></li>
        <li><a href="${h.url_for('ckanadmin_index')}">Sysadmins</a></li>
      </ul>
    </div>
    <div class="boxed">
      <h3>Harvesting</h3>
      <ul>
        <li><a href="${h.url_for(controller='ckanext.harvest.controllers.view:ViewController', action='index')}">Harvest sources</a></li>
      </ul>
    </div>
    <div class="boxed">
      <h3>Datasets</h3>
      <ul>
        <li>${h.link_to("Dataset openness scores (Five Stars of Openness)", h.url_for('qa_dataset_action', action='five_stars'))}</li>
        <li>${h.link_to("Datasets with broken resource links", h.url_for('qa_dataset_action', action='broken_resource_links'))}</li>
        <li>${h.link_to("Publishers whose datasets contain broken resource links", h.url_for('qa_organisation_action', action='broken_resource_links'))}</li>
      </ul>
    </div>
  </py:match>

  <xi:include href="../layout.html" />
</html>

